[2015-08-30 15:28] fommil opened #1 "2.10"
can you please release for scala 2.10?

[2015-08-30 15:29] fommil opened #2 "string parameter for start of config path"
I don't always want to model the entire config, just some subtree of it (typically my app's bits), can you please add a `String` parameter like ficus to set the root?

[2015-08-30 20:41] melrief commented on #1
Done. Sorry for the delay but I forgot that to use shapeless with Scala 2.10 you need the macro paradise plugin.

[2015-08-30 20:41] #1 closed, assigned to nobody

[2015-08-30 21:13] melrief commented on #2
Done with 0d95340. You can see the new [loadConfig](https://github.com/melrief/pureconfig/blob/master/src/main/scala/pureconfig/package.scala#L37) with the namespace parameter. There is also a [new test](https://github.com/melrief/pureconfig/blob/master/src/test/scala/pureconfig/PureconfSuite.scala#L64) that shows this functionality.

Let me know what do you think and then, if it satisfies you, we

[2015-08-30 21:20] fommil commented on #2
if you've implemented, then good to close :-D I'll raise a bug if it doesn't work the way I expect. Thanks for the fast responses! It opens it up for me to try this out on my work projects on Tuesday.

[2015-08-30 21:20] #2 closed, assigned to nobody

[2015-08-30 21:27] melrief commented on #2
FYI version 0.1.2 with this changes published to maven.

[2015-09-02 13:34] melrief opened #3 "ConfigException when a value is a LIST"
Using the `getString` methog to get the string value from a LIST type throws exception:

[code]

Proposed solution is to use the method to get the raw value but this can break the tests.

[2015-09-04 07:02] lefou opened #4 "Provide proper OSGi metadata"
To use this library in an OSGi environment, proper OSGi headers in the JAR manifest are needed. There is the sbi-osgi plugin (https://github.com/sbt/sbt-osgi) which can produce most of these headers automatically.

[2015-09-04 07:39] lefou opened #5 "Support Java 7 (and use typesafe config 1.2)"
Is there a specific reason to not support Java 7?

It seems, that building and testing with Oracle JDK 7 against `com.typesafe.config-1.2.1` (which does not require Java 8) works.

[2015-09-04 20:30] melrief commented on #4
Will do in the next release, I hope tomorrow or in the weekend. Thanks.

[2015-09-04 20:38] melrief commented on #5
The main and only reason why I'm not supporting Java 7 is that the new Typesafe Config releases require Java 8 and using a previous version would be unwise considering that there is no backporting for bug fixes and patches in general. I'm not happy with this side-effect of the Typesafe Config library to be honest but I can't use an outdated configuration library as back-end.

[2015-09-05 03:16] 13h3r opened #6 "Support for Map"
Add support of Map. Here it is an example:

Config:

[code]

should maps into

[code]

[2015-09-05 05:01] lefou commented on #5
That is unfortunate but a legit reason. As this project is not the only one having this issues with typesafe-config, I could imagine there will be either a 1.2-branch or a fork maintaining the Java7 compatibility.

[2015-09-05 05:06] lefou commented on #4
Great. Yesterday, I created a fork with two branches: `java7` and `java7-osgi`. The latter contains OSGi settings but is based on the former, so, with regard to #5 I will not open a pull request. But feel free to cherry pick.
https://github.com/lefou/pureconfig/tree/java7-osgi

[2015-09-05 05:09] lefou commented on #5
Maybe, it's a good idea to explicitly point out the reason for the Java8 requirement in the sbt initializer warning.

[2015-09-05 11:29] melrief commented on #6
Nice idea. One question that I have is what kind of flexibility this system should have: should the Map contain an entire branch (from the branch point to the leafs) of the configuration or support only one level? In other words

[code]

should return `Root(Map("a" -> 1, "b.foo" -> 2, "c.bar.d" -> 3))` or error because it expects "b" and "c" to be `Int`? The first case is very flexible because it

[2015-09-05 11:31] melrief commented on #5
The idea of creating a branch and maybe publish a special artifact is good, I will add this when I have some time. I will keep this open until it's ready.

For the sbt initializer, you probably are right but I think the README.md should be the first place where this should be written. I noticed that not only I don't say why pureconfig needs Java 8 but I also don't mention it needs Java 8. That's s

[2015-09-06 15:36] 13h3r commented on #6
As for me we should choice second approach. If I need to work with config in dynamic style then mapping them into static object probably not the best way.

Lets take a look to your example. What will we have after parsing? `Map[String, Any]`? This API is similar to original API and unsafe. Describing config in terms of case classes is the way to type safety.

[2015-09-06 23:38] melrief commented on #4
Cherrypicked the two commits about OSGi. Closing this.

[2015-09-06 23:38] #4 closed, assigned to nobody

[2015-09-07 00:23] melrief commented on #6
Implemented with d4ecdb4. I'm closing this, I will reopen it if you think there are problems with the implementation. As side note, I'm considering adding also the first case with a special type wrapper. But first I have to see if there is a proper way to do it.

[2015-09-07 00:23] #6 closed, assigned to melrief

[2015-09-07 06:31] lefou commented on #4
Great. Thanks!

[2015-09-12 15:01] #3 closed, assigned to nobody

[2015-11-02 21:49] jportway opened #7 "Cant load or save collection of objects"
Hi,
PureConfig is brilliant, but I'm having trouble loading or saving Lists or Maps of objects.
I don't think I'm doing anything wrong.

Here's a failing test case:

[code]

the output file looks like this :

[code]

[2015-11-02 22:46] melrief commented on #7
This is a bug indeed but a different one: the idea for collections, for now, is that they can be loaded/saved iff the `T` on which they are parametrized has an instance of `StringConvert`. Classes like `Wibble` have no instance like that and this means that something strange is happening with `List`. If, for instance, you change `List` to `Stream` in `DeepConfig` you will get a compilation error.

[2015-11-02 23:02] melrief commented on #7
I confirm that the problem is that `List` has a `Generic` instance for Shapeless and this breaks the current code:

[code]

The solution that I see is to push a `ConfigConvert` that takes in account also collections of objects and allow to save/load collection of objects.

[2015-11-04 23:51] melrief commented on #7
@jportway I've released pureconfig 0.1.4 with support for collections of objects. There are [some tests](https://github.com/melrief/pureconfig/blob/master/src/test/scala/pureconfig/PureconfSuite.scala#L168) showing it in action. If you have sometime to dedicate to pureconfig, consider testing again the library with your example and see if it works. For now, thank you for finding the bug!

[2015-12-21 08:38] thirteen37 opened #8 "Support HOCON arrays"
Using a config such as:

[code]

and a case class such as:

[code]

appears to be unsupported.

Instead, I have to use a syntax such as:

[code]

[2015-12-21 08:56] melrief commented on #8
In theory it should be supported, what error do you get?

[2015-12-21 10:43] melrief commented on #8
I confirm there is a bug in the HOCON list handler, I'll fix it now. Wait for 0.1.5.

[2015-12-21 10:50] melrief commented on #8
Ok, 0.1.5 released with the fix. I added [a test](https://github.com/melrief/pureconfig/blob/master/src/test/scala/pureconfig/PureconfSuite.scala#L57) that should handle this case. @thirteen37 let me know if it works.

[2016-05-02 07:57] #8 closed, assigned to nobody

[2016-05-02 07:57] #7 closed, assigned to nobody

[2016-05-02 08:04] melrief opened #12 "Bypass Typesafe config caching to allow reloading the configuration"
Typesafe config library has a built-in cache that prevent from reloading the configuration if something is changed. `loadConfig` should support reloading and this requires to call `invalidateCache()` before calling `ConfigFactory.load()`.

[2016-05-19 06:57] #12 closed, assigned to melrief

[2016-05-26 07:57] melrief opened #13 "PureConfig fails to load coproducts when two entities have the same number of parameters"
Minimal example

[code]

The problem is that PureConfig is ignoring the labels which are important for coproducts.

[2016-05-26 09:47] TeraWilliam commented on #13
Need to define what the expected behaviour is. e.g. is the "A" case sensitive or not, and how do you handle camel-case names, e.g. "ReadOrWrite" == "readorwrite" or "read-or-write"

[2016-05-26 11:13] melrief commented on #13
The case sensitive part and more generally the name format is a problem that I was going to address in future. My idea is to add the possibility to define a function `fieldFormat:: String => String` in `loadConfig` that the user could use to transform any kind of names to a proper defined name in PureConfig. For instance, the function could convert "ReadOrWrite" to "readorwrite", same for the Stri

[2016-05-27 02:56] TeraWilliam commented on #13
IMO case classes should be handled differently from "enums".

For an "enum" (eg sealed trait + case objects only) only the value decides the outcome.

Non-enum support would be great but I'd guess it's harder to define the problem and a solution and could be handled as a separate issue.

[2016-05-27 11:02] pishen opened #14 "could not find implicit value for parameter conv"
I'm using pureconfig with Scala 2.10.6, when running `sbt compile` everything works fine, but my Eclipse keep showing an error on the following line:

[code]

The error is

[code]

My definition of `MIH` is

[code]

[2016-05-30 04:44] TeraWilliam opened #15 "Ensuring invertible mapping in ConfigConvert[]"
There are cases such as #13 where configuration values do not does not map back and there's no compile-time error.

In order to test the mappability of fields in tests it is possible to do the following:

[code]

However I would think there should be a compile-time error where possible.
Best example for this actually is `play-json` with its macro based derivations.

[2016-06-02 17:52] coltfred opened #16 "Ambiguous implicit values if defining StringConvert"
If you define a StringConvert for a class which can automatically have a ConfigConvert generated you get an `ambiguous implicit values` error. This is valuable if you're defining simple "value classes" that wrap `String` or `Int`.

For instance adding this test to `PureConfSuite` will demonstrate the error:

[code]

The reported error is:

[code]

We can fix this by giving the `StringConvert` a hi

[2016-06-02 17:53] coltfred commented on #16
Opened PR as #17.

[2016-06-02 18:00] skeet70 commented on #16
Just wanted to note that I ran into this same problem trying to write a config that included a password field that hides the value in a single variable (toString on the class just prints PASSWORD). I was too lazy to come up with a solution.

[2016-06-02 21:04] melrief commented on #16
@coltfred PR has been merged and 0.1.8 has been released. I had two other reports this week but I had no time to work on it. @coltfred I added you to the list of contributors of the project if you don't mind. Thanks a lot.

[2016-06-02 21:12] coltfred commented on #16
Thanks a bunch for the quick turn around. I'll verify the release works and bump the version then close this issue.

[2016-06-02 21:13] melrief commented on #16
Version 0.1.8 has been published and it's in maven.

[2016-06-02 21:32] melrief commented on #14
I'm not familiar with Eclipse for Scala but I know that IDEs can have problems with type classes. Sadly, I'm not sure how can I help you with the problem.

[2016-06-03 02:24] pishen commented on #14
I got some clues on this thread
https://groups.google.com/forum/#!topic/scala-ide-user/gLJN1-8Fz-U
Adding `-Ymacro-expand:normal` can help, but only when using Scala 2.11. This is already promising for me. Thanks for the help!

[2016-06-03 02:24] #14 closed, assigned to nobody

[2016-06-06 18:02] coltfred commented on #16
Works great!

[2016-06-06 18:02] #16 closed, assigned to nobody

[2016-09-06 06:26] zsolt-donca opened #29 "Fields with type Option[ComplexType] are always converted to None"
Fields with type `Option[ComplexType]` always seem to be converted to `None`.

Consider the below example. My intention is to configure the authentication needed to access a certain service. The service may or may not be configured to require authentication, which is a pair of username and password. Thus, my model is as follows.

Consider the following `.conf` file:

[code]

And consider the follo

[2016-09-06 06:36] zsolt-donca opened #30 "Support for Scala 2.10 is not correctly documented"
By looking at [pureconfig's releases for Scala 2.10 on maven central](http://mvnrepository.com/artifact/com.github.melrief/pureconfig_2.10), it seems that `0.1.9` was the last release for Scala 2.10. In contrast, for Scala 2.11, the versions `0.2.0` and `0.2.1` [were also released](http://mvnrepository.com/artifact/com.github.melrief/pureconfig_2.11).

However, pureconfig's main documentation give

[2016-09-06 17:37] melrief commented on #30
My mistake, I forgot to publish the artifact for Scala 2.10. I published `0.2.2` right now and it will be available in the next minutes.

[2016-09-06 17:37] #30 closed, assigned to nobody

[2016-09-06 17:39] melrief commented on #29
I did a few tests and the issue is bigger than just `Option`: apparently there is a bug affecting all the type families that include an object, like `None`. I'm still unsure why this happens but I have an idea. I'll create a PR with the fix once I have an idea of how to fix it.

[2016-09-11 13:18] melrief opened #31 "Introduce ScalaCheck for tests"
Current tests for `pureconfig` instances should be tested using ScalaCheck and random values.

[2016-09-14 12:11] jcazevedo opened #34 "Allow configuring the word delimiters to be used in implicitly derived ConfigConverts"
It would be nice if `pureconfig` would allow customizing the word delimiters for the `ConfigConverts` it derives implicitly.

This would allow, for example, to have a class with fields defined in camel case:

[code]

and the corresponding config using hyphen-separated strings:

[code]

I have a working implementation of this in [this branch](https://github.com/jcazevedo/pureconfig/tree/word-delimi

[2016-09-14 14:51] coltfred opened #35 "Pureconfig errors are misleading in the face of ConfigConverts missing."
Today if you have nested configs like the following

[code]

When you try and load a config for `Foo` you get an error like this:
`could not find implicit value for parameter conv: pureconfig.ConfigConvert[Foo]` when in reality, it's Bar that's the problem.

Do you have any ideas about how we could improve the error? One thought I had was to add a "semi automatic" derivation mode where we could cr

[2016-09-15 19:37] melrief commented on #35
The problem with errors on typeclasses that can be derived from other typeclasses is that Scala gives you an error only for the top level type because it doesn't understand that the reason why it cannot use an instance is that one or multiple fields of a type don't have an instance themselves causing the error. I once asked this same [question](http://stackoverflow.com/questions/32877019/make-scal

[2016-09-15 19:46] coltfred commented on #35
@melrief Thanks for taking the time to respond. My mental model was also based on Circe so I'm glad we're on the same page. I'll try and take a stab at it, though it'll probably be a week or so before I can carve out the time.

[2016-09-15 19:55] melrief commented on #34
The more the library is used the more people ask me if it is configurable which makes me think this issue is an important one.

I personally don't like implicits options and I think that  passing the options to use to `loadConfig` could be easier to read compared to the implicit options. For instance

[code]

[2016-09-15 20:01] melrief commented on #29
PR #28 seems to fix this

[2016-09-16 16:57] jcazevedo commented on #34
OK. The `loadConfig` method should still support being called without options, using a default value (in this case, not doing anything special regarding word delimiters), right?

I'll prepare a PR during the weekend and we can discuss further details there.

[2016-09-28 21:55] p16i commented on #31
@melrief Could you please explain a bit more what you plan to do?

[2016-09-28 22:29] melrief commented on #31
In the [current tests suite](https://github.com/melrief/pureconfig/blob/master/src/test/scala/pureconfig/PureconfSuite.scala) we create some custom "config" classes, such as [`FlatConfig`](https://github.com/melrief/pureconfig/blob/bb66e1e06783c2b3418162e76abbbe0409ed5820/src/test/scala/pureconfig/PureconfSuite.scala#L54), as example of configuration classes. To test that `pureconfig` works, we cr

[2016-09-28 22:36] melrief opened #46 "Support Javascript"
We are using all scala libraries that support ScalaJS and `pureconfig` code should be compatible with ScalaJS so it's natural to create and publish the library also for ScalaJS.

[2016-09-28 23:36] p16i commented on #31
yep, it does. I can take a look at this issue and will ask you again if I face any issue.

[2016-09-29 01:15] jcazevedo commented on #29
I believe we can close this one.

[2016-09-29 09:01] #29 closed, assigned to nobody

[2016-09-29 09:02] melrief commented on #29
Closed, @zsolt-donca if you have again this problem we will reopen it

[2016-10-07 14:21] p16i commented on #31
@melrief I just refactored testing FlatConfig to property-based. For other tests, I'm not sure whether we should refactor them all or  just do it for important ones.

What do you think?

[2016-11-01 16:27] jcazevedo commented on #34
I think we can close this now that #39 is merged in.

[2016-11-01 16:29] #34 closed, assigned to nobody

[2016-11-02 02:41] ngbinh opened #54 "compile dependent on scalacheck?"
https://github.com/melrief/pureconfig/blob/master/build.sbt#L32-L33 makes pureconfig `compile` depends on scalacheck. Shouldn't it be only in `test`?

[2016-11-02 02:47] leifwickland commented on #54
@ngbinh I agree. Sorry about that. I'll send a PR to fix it.

[2016-11-02 03:05] leifwickland commented on #54
@ngbinh Does #55 look right to you?

[2016-11-02 03:09] ngbinh commented on #54
perfect! Thanks

[2016-11-02 09:41] #54 closed, assigned to nobody

[2016-11-05 18:22] leifwickland opened #59 "Prefer Scala's Duration string conversion to Typesafe Config's implementation."
I tried using pureconfig in a Spark 1.x app and discovered that I couldn't parse a `FiniteDuration`. Spark 1.x includes Typesafe Config 1.2.1 , which doesn't include the `Config.getDuration` method. (Pureconfig uses 1.3.1.) At runtime I get an error about that method not existing. Of course the Spark version of typesafe supersedes whatever I ship.

The specific error message is:
[code]

Well, in t

[2016-11-06 22:26] jcazevedo commented on #59
We can use the `long getDuration(String path, TimeUnit unit)` method instead (which is available at least since Typesafe Config [v1.2.0](https://github.com/typesafehub/config/blob/v1.2.0/config/src/main/java/com/typesafe/config/Config.java#L635)), but I'm not against adding a `Duration` conversion that doesn't depend on Typesafe Config's `getDuration` methods directly, as we already provide helper

[2016-11-08 12:21] melrief commented on #59
I agree, I would just try to be as much compatible with the Typesafe Config way to do it as possible because I think users expects this.

[2016-11-10 14:31] francisdb commented on #35
I just tested how the play-json format macro handled this and they seem to be able to provide more targeted messages. They however ask you to work in 2 steps by first generating the converter and then converting the json ast

the config case class looks like this

[code]

[code]

where for pureconfig I get

[code]

[2016-11-10 16:41] melrief commented on #35
I'm not sure how play-json is creating the error message and searching for the string "No implicit format for" in their [github repo](https://github.com/playframework/playframework/search?utf8=%E2%9C%93&q=%22No+implicit+format+for%22&type=Code) doesn't return any result.
For pureconfig, we create a case class converter only if there are all the converters for the fields of the class. The main effe

[2016-11-10 21:08] francisdb commented on #35
The macro code generating the error can be found here:
https://github.com/playframework/playframework/blob/2.5.x/framework/src/play-json/src/main/scala/play/api/libs/json/JsMacroImpl.scala#L196

It seems that for play > 2.5 this message will be even more detailed
https://github.com/playframework/playframework/blob/master/framework/src/play-json/src/main/scala/play/api/libs/json/JsMacroImpl.scala#L

[2016-11-11 09:36] melrief commented on #35
@francisdb thanks for the links, I'll have a look at the code. I think we could change the codec generator from the one that we have shapeless based to a custom macro based one. I'm not happy to have my own macro but if it makes much cleaner the error messages then I'm for trying it. I'll talk with the other two authors and see how we want to proceed.

[2016-11-19 02:40] rynbrd opened #61 "YAML Support"
It does JSON, could it also do YAML?

[2016-11-20 19:41] melrief opened #63 "Add jcazevedo and leifwickland to the authors in the pom file"
I've noticed that the pom produced by our build script adds only me to the authors of the library. As soon as we are done with #62, we should add @jcazevedo and @leifwickland to the pom xml generated.

[2016-11-28 19:37] jcazevedo commented on #61
PureConfig supports JSON because of Typesafe Config's compatibility with it. There is no direct support for loading configurations from YAML, but I stumbled upon this project named [Konf](https://github.com/advantageous/konf) that seems to allow creating `Config` objects from YAML documents. Once you get to that, you can use PureConfig directly.

[2016-11-28 19:44] leifwickland commented on #61
It seems like a `pureconfig-yaml` which depended on Konf might be worth considering after #62 gets merged.

[2016-12-02 00:56] #59 closed, assigned to nobody

[2016-12-02 18:22] lonesentinel19 commented on #1
Maybe something to do with indentation, such as tabconfig? Or NBConfig (No Brackets Config). I don't know.

[2016-12-02 18:27] pureconfig commented on #1
Thanks, pureconfig is definitely just a working name

[2016-12-02 18:28] pureconfig commented on #2
I agree with both points. Thanks!

[2016-12-02 20:18] dansouza commented on #1
how about just `Fig` ?

[2016-12-02 20:20] seemethere commented on #1
@dansouza I think `Fig` would make it not as easily searchable.

[2016-12-02 20:25] dansouza commented on #1
Kinda collides with https://github.com/cheezy/fig_newton

[2016-12-02 20:31] dansouza commented on #1
But Googling for "fig configuration" should return it because it returned that FigNewton, so search-ability wouldn't be an issue.

[2016-12-02 22:14] jsejcksn commented on #1
@seemethere suggested `hrc` (which I like), but it is already in use for 3D model geometry files output by the legacy [Softimage](https://en.wikipedia.org/wiki/Autodesk_Softimage). Therefore, I suggest modifying that slightly by adding `f` to the end to yield:

`hrcf` = `human readable configuration format`

[2016-12-02 23:07] dansouza commented on #1
The problem with hrcf IMO is that it is not speakable as a word. You can say JSON as "jay-son", you can say YAML as "yam" and XML is short and sweet and on the tip of the tongue because it is widely used. Saying "just create an eitch-ahr-cee-eff configuration file" sounds like a mouthful. IMO it needs to be a word that you can just say it without spelling each letter. That's why I suggested `Fig`

[2016-12-02 23:12] pureconfig commented on #3
Probably, thinking about these details now.

[2016-12-02 23:15] pureconfig commented on #1
I really like both "yacs" and "fig" so far, but I'll let this topic cook for a few days.

[2016-12-02 23:18] dansouza commented on #1
Yeah I like "yacs" too!

[2016-12-02 23:22] dansouza commented on #1
Plus with "yacs" you can have a nice [yack](https://lh5.googleusercontent.com/--qDJcsq1ZkU/TYbmjuCIb2I/AAAAAAAAAMM/SzKDVW61SSg/s1600/000cf1a48b7f0ae0c8ea08.jpg) as a logo (a good symbol for a strong tool for every job), better than a [fruit](http://www.ginskitchen.com/wp-content/uploads/2015/08/Fig-v3.jpg). LOL

[2016-12-03 06:07] Phlosioneer commented on #8
This feature probably belongs under the "Let the application handle it" category - if the app needs the home directory variable available in the config file, then the app should provide that variable itself, and let the parser handle it. Tying the parser to the shell, when it's otherwise a totally stand-alone component, is awkward.

[2016-12-03 06:16] Phlosioneer opened #10 "Verification Tests"
There should be some files that can be used to test implementations. These files would use features in the specification, and test corner-cases and interactions. This is a nice half-step between the current informal description and a formal specification, because test config files can be added one feature at a time.

[2016-12-03 06:28] Phlosioneer commented on #7
Another question I just encountered: if a number ends in a period but nothing else afterwards, does it count as an integer, a double, or a string?

[2016-12-03 16:09] pureconfig commented on #13
Absolutely, need something like this.

[2016-12-03 16:09] pureconfig commented on #12
Very interesting, I can see all sorts of uses for this (especially for build system configurations)

[2016-12-03 16:11] pureconfig commented on #10
Merged, thanks!

[2016-12-03 16:21] pureconfig commented on #7
Great input!

Last question first: I'd say that infers to a double. If a string was meant, you can always quote.

No

I don't think a format has *any* say with regards to values. It must be up to the application to make decisions here. I can, however, imagine the schema being able to specify the rules here. But of course, it's not a good idea to over engineers this.

No, but the implementation mus

[2016-12-03 16:23] pureconfig commented on #8
I'm on the fence, but we definitely need a parser flag indicating whether or not env vars can be expanded.

[2016-12-03 16:30] pureconfig commented on #6
Given that Joe Plumber is doing the editing, rules need to be as relaxed as possible. But some hard rules will have to exists.

Spaces allowed. Unquoted values are trimmed. Any other rule will lead to a mess (unintended space at the end, etc)

A newline is a white space, meaning it would be trimmed off. Therefore, newlines right after the = sign is fine.

LF, with CR being ignored, is a popular ap

[2016-12-03 19:57] pureconfig commented on #14
I share the concern, but would still like a super-simple syntax to just include everything. After all, these are config files. I think the main reason to use includes is to inject a template. Maybe keep it dirt simple in the first version, then support symbol-specific imports later on, if we find that it is needed?

The "from" keyword is superfluous and include is better than import in a file base

[2016-12-03 20:00] pureconfig commented on #15
I like the idea of supporting embedded schema definitions. With our include proposal, that's another way to inject schema stuff.

I don't think a different syntax is needed. A parser can figure out just fine that a property is a schema definition once it finds a ":" instead of "="

[2016-12-03 20:03] pureconfig commented on #16
Great idea IMO

[2016-12-03 20:54] shelbyd commented on #14
The syntax you gave is good.

I'd want full imports to be namespaced so we don't have collisions. One of the following:

[code]

I prefer the first one.
The second may be ambiguous with importing individual symbols.
The third is just another option.

Also, I think we'd want to specify about where the imported files come from. They could implicitly be relative to the current file, or relative to $P

[2016-12-03 21:18] shelbyd commented on #15
My concern about the syntax is that a user can't tell if a block is extending another block or type checked against a schema.

[code]

Is `actual_server` extending server, or schema'd to be a server?

Or we could not have these be different and let any block leave a property undefined and then it's treated as a template. Meaning you can't get any properties from that block until all the properties

[2016-12-03 22:46] Phlosioneer commented on #7
Ah, I was unclear. When I said values, I suppose I meant keys. What I mean is something like this:
[code]

Awesome though, I'll keep this open until I get around to writing tests for these.

[2016-12-03 22:47] Phlosioneer commented on #6
Awesome! I'll keep this open until tests are written for these cases.

[2016-12-03 22:47] #10 closed

[2016-12-03 22:56] Phlosioneer commented on #14
Another option is to treat everything included as though it were in a group. Then we can use existing syntax and parsing to work with it.

The problem config file would become

[code]

This makes it crystal clear where symbols are coming from, without complicating the include directives. If a value is being used super often, the config file can just use an existing language construct to "import" i

[2016-12-03 23:00] Phlosioneer commented on #16
So basically, our tests check valid parsing by comparing the parsed file to the same structure and values in a JSON file. That would make it super easy to make a verification suite in any language. Definitely a good idea.

[2016-12-03 23:21] ludesign commented on #1
`yacs` is too close to `yacc` (https://en.wikipedia.org/wiki/Yacc) and `fig` is duplicated in `config` but can be used interchangeably, ex: `just create a fig file for it`.

[2016-12-04 00:37] shelbyd commented on #14
I don't think we want to default to a namespace based on the name of the included file.

How do we deal with files in subdirectories? My best idea is to have each directory dot separated as a namespace. But that opens up ambiguity between `foo/bar.qux.pure` and `foo.bar/qux.pure`. Also, how do we deal with non `.pure` file endings? What is the namespace for `%include foo.bar`? Automatically making

[2016-12-04 01:21] dansouza commented on #1
yacs and yacc are from different domains, so I think it's ok (google certainly doesn't confuse them, since searching for "yacs config" does not bring results about "yacc configuration").

as for `suck`, did you mean the `simplified universal configuration kit` ? lol

[2016-12-04 02:08] ludesign commented on #1
I actually don't care much, so use whatever you want. 😹

`simplified universal configuration kit` - haha, that's so much better, nice one.

[2016-12-04 11:29] pureconfig commented on #1
It seems like just calling it "pure" is growing on some people. But, hey, a big rename later on is trivial as long as everything is kept in this repo (should ask the Rust guy to move his stuff here...)

[2016-12-04 11:33] pureconfig commented on #14
@shelbyd @Phlosioneer  I'm starting to wonder if the "name your config files whatever" was a bad idea.

By requiring a *pure* extension, it'll be easier to write editor plugins, people will know what file type it is and, for the topic at hand, simplify include matters.

[2016-12-04 17:46] Krognol opened #20 "Spec for Quantities/Paths/Environment variables"
Basically, what should a library be able to do with these types.
Convert quantity values?
Create directories/files?
Edit environment variables?

Would love some more clarification for these!

[2016-12-04 17:57] pureconfig commented on #20
A library certainly *can* do it, but the minimum should only be to offer a way to query both the value and the unit. We cannot possibly predict the units people will want to use anyway.

For libraries supporting schemas, the library should additionally complain when encountering units not defined in the schema (which reminds me we actually need a syntax for that part)

My view is that mutating any

[2016-12-04 17:58] shelbyd commented on #14
AFAIK no language actually forces you to use a specific extension. Most make it easier if you choose their specific extension, but you can work hard to use your own extension.

It seems we're fighting hard and making decisions with strange consequences to avoid two words. I think we should strive for clarity and simplicity without sacrificing power, and anything other than specifying a namespace f

[2016-12-04 18:05] shelbyd commented on #2
Closing since we agree on the first suggestion, and the second suggesting is being discussed in a separate issue, #14.

[2016-12-04 18:36] dansouza commented on #14
I think it would be better (and simpler) to just default to whatever was defined last. So if a symbol is defined on 'foo.pure' and 'bar.pure', whatever file was parsed last has the final value for the symbol.

In case of globs, globs should always be parsed alphabetically, so if a symbol with the same name is defined in `conf.d/foo.pure` and `conf.d/bar.pure`, and you `%include conf.d/*.pure`, the

[2016-12-04 18:45] dansouza commented on #8
Yeah not everything may come from environment variables, someone might want to use Pure config files to configure the behavior of a web application business process, for example. So I think we should just specify that using external variables is possible by calling `$NAME` and/or `${NAME}` and that those can come from anywhere. So it's up to each parser implementation to provide ways for the devel

[2016-12-04 18:56] dansouza commented on #20
I think schema should just validate things (pass schema/fails schema) and not do any extra magic - library implementations might then add extra helpers (like quickly get a file handle from a configuration key that is supposed to have a filepath, etc).

[2016-12-04 18:59] shelbyd commented on #14
We can certainly come up with a consistent ruleset for global includes. My point is that while it saves a little time when writing the config, it costs a huge amount of time when reading the config.

For the example I gave in the first comment, the problem is not for the system, it's for the user. The user has to look through the files to find the symbol they're looking for. And if they start from

[2016-12-04 22:02] pureconfig commented on #15
My original thinking was that the **def** file extension would make that a non-issue, but once we introduced the idea of embedded schemas, not so much.

Yes, I'm strongly in favor of spec'ing the property format first.

[2016-12-04 22:07] pureconfig commented on #14
The very reason I started Pure was to make it super obvious to edit for all kinds of people. However, includes will be rare and only programmers/devops will ever mock around with includes. So let's make includes robust.

@shelbyd In short, I agree with your namespaced include proposal. Let's go for that.

[2016-12-04 23:27] Phlosioneer opened #21 "Confused over spec vs test directory"
I'm still unclear what the plan is - are we still adding tests to the test/ directory?

From my understanding, a spec is a formal grammar definition, which is separate from a test suite.
For example, JSON's spec is [defined via regex](http://www.json.org/), YAML's spec is [defined through process control diagrams](http://www.yaml.org/spec/1.2/spec.html), and XML's spec is [defined through (extende

[2016-12-04 23:44] pureconfig commented on #21
**The ideal, from my point of view, is an ANTLR specification, since that can be used directly to generate parsers for many languages.**

The ANTLR4 grammar is very readable, and a Pure spec would be fairly short. I'm not able to work on that part right now, so I hope someone is interested :)

The test suites you guys are working on are extremely valuable for testing the resulting parsers, but of

[2016-12-05 08:10] kootenpv opened #22 "pureconfig file extension"
I'm wondering what is the proposed file extension for pureconfig files? I think it would be powerful to communicate we're dealing with pureconfig by using a specific extension.

- .pconf
- .pure
- .pc
- .puco

Maybe we could vote? I think `.pconf` would be the clearest.

[2016-12-05 08:50] pureconfig commented on #22
I like *pconf*, but unfortunately it clashes with https://www.npmjs.com/package/pconf

Personally, I prefer .pure and we already have a few tests called that. It also names the format directly.

[2016-12-05 08:51] pureconfig commented on #1
Let's just go for pure.

[2016-12-05 08:55] pureconfig commented on #3
Let's go for backslash to escape. We should also use this to allow leading whitespaces, exactly like Java property files allow:

    something = \ \ \ \ this line, when read by the parser, will have four leading spaces

    quoted = \"This string will actually have quotes\"

I've updated the README

[2016-12-05 09:03] jsejcksn commented on #3
So, just to clarify:

[code]

and

[code]

If true, you should add the bit about backslashes in the README, too.

[2016-12-05 09:05] pureconfig opened #23 "UTF-8 encoding"
The spec now makes it clear that pure file are utf8 (thus also accepting ASCII)

We need to define a couple of things regarding Unicode:

* What do we consider a whitespace? I guess https://en.wikipedia.org/wiki/Whitespace_character#Unicode makes that pretty clear. That said, a prototype parser should be fine accepting the usual space+\n\r\t\f\v
* Do we accept non-ASCII characters in keys? I'm dub

[2016-12-05 09:07] pureconfig commented on #3
@jsejcksn Exactly, I'll update the README

[2016-12-05 09:12] pureconfig opened #24 "Multiline properties"
I initially hated the idea, but lots of people seem to want it.

I've updated the README with a proposal following the Java properties format (with \ at the end of line to indicate that the next line is part of the value)

[2016-12-05 09:24] pureconfig commented on #14
Definitely relative to current file, anything else is dangerous. Of course, absolute paths should be supported as well.

[2016-12-05 09:54] pureconfig commented on #14
We don't want to complicate writing 1.0 parsers too much. I thus propose only supporting simple includes initially and leave partial includes/namespaces for 2.0.

[2016-12-05 10:01] pureconfig commented on #8
@dansouza Makes sense to me

[2016-12-05 10:47] pureconfig opened #25 "Strict mode and indentation rules"
Some people are concerned about using whitespaces for indentation.

I'd like to solve this once and for all using these rules:

In strict mode (default):

* Tabs (\t) in the input will cause parsing to fail (what that means depends on the language). An experienced user will set his editor to expand tabs to spaces for pure files. An inexperienced user will cause parsing to fail, a situation the app

[2016-12-06 02:05] shelbyd commented on #24
What do we do about whitespace at the beginning of the next line?

[code]

Does that go to `"bar qux"` or `"bar         qux"`? The first one is potentially surprising, the second makes the source file look really weird.

[2016-12-06 02:14] shelbyd commented on #21
IMO, there's not much difference between a test suite and a specification for a project like this. I prefer the name spec because it communicates the intention.

We have basically the same thing in two directories. We should move one into the other. I'm content going both ways, but I prefer "spec".

[2016-12-06 02:17] shelbyd commented on #8
This seems like a 1.x feature to me.

[2016-12-06 08:16] pureconfig commented on #24
We do it exactly like Java property files (and other): leading white spaces are trimmed. So while you find the first one surprising, it's actually what other formats do.

[2016-12-06 09:33] Phlosioneer commented on #21
@shelbyd JSON and XML list their test suite as separate from the specification; and JSON is a smaller spec than pure. I recommend we keep the two separate - in the spec directory, we start writing formal ANTLR specification and markdown versions of the same for human readability. This will minimize the cost of using pure in a new project, by simply using the ANTLR code. Meanwhile, in the test dire

[2016-12-06 11:33] pureconfig commented on #21
http://www.json.org/ mentions \u in the grammar.

I'm not entirely sure I understand what rules should be tested that are not in the ANTLR specification. If the ANTLR grammar is complete enough to generate a valid parser, surely it contains all the rules worth testing against?

I may be missing something though.

[2016-12-06 11:37] pureconfig commented on #22
.pure it is

[2016-12-06 11:37] #22 closed

[2016-12-06 16:58] Krognol opened #26 "Comments"
Should there be some kind of comment syntax? I imagine it could be handy, but not sure if it'd stick true to the `pure` name.

[2016-12-06 19:09] pureconfig commented on #26
The README already show multiple examples with comments, and allowing comments is crucial.

Or do you mean something beyond ```# Some comment``` ?

[2016-12-06 19:27] Krognol commented on #26
Ah, no. Just me not paying attention!

[2016-12-06 19:27] #26 closed

[2016-12-06 19:28] Phlosioneer commented on #21
@pureconfig what I mean is that it does not explicitly say that \u should turn the following hexadecimal into the matching unicode character.

If the ANTLR grammar contains all the rules to make a parser, then implementations can be tested against that... but implementations can take short-cuts. There isn't a way to translate the rules into a programming language verbatim (without a context-free-l

[2016-12-06 19:33] Phlosioneer commented on #25
I personally prefer tabs, but being consistent is more important than arguing. I'll just have to be careful when writing tests!

[2016-12-06 19:36] Phlosioneer commented on #23
Keys are defined by the application. The application will only define utf8 keys if it can easily work with them, so I think this is a non-issue.

[2016-12-06 22:57] pureconfig commented on #23
@Phlosioneer I agree. My thinking was this: There may be cases where Pure files may be read by external systems (esp true when someone inevitably uses Pure as a serialization target), but after some  thinking, I'm in the screw-runtimes-who-cannot-read-utf8 camp.

[2016-12-10 01:45] sjmduncan commented on #1
[This Scala library is also called pureconfig](https://github.com/melrief/pureconfig) and it's already higher up most search result list so maybe this should be re-opened

[2016-12-11 00:35] Phlosioneer commented on #21
Well, to keep things moving forward, I'm going to keep adding tests to the test/ directory. Worst case scenario, we just move them over, because both directories are formatting their tests the same.

[2016-12-11 01:04] Phlosioneer opened #27 "Standardized Errors"
We should create a list of standard errors for parsers to use when they read incorrect input. This ensures parsers have robust error checking, and can communicate those errors to the application.

Errors I can think of, off the top of my head:

For any file:
- Tab while in strict mode
- Incorrectly tabulated group
- Key defined multiple times
- Group defined multiple times
- Defaulted value does n

[2016-12-11 01:12] Phlosioneer commented on #23
Also consider that disallowing utf8 in key names excludes many languages from writing localized key names. This isn't really an issue when programming, but for the average user I'm sure they would expect to be able to use their normal keyboard.

[2016-12-11 11:41] pureconfig commented on #27
I think defining standard failure modes is very useful, as long as the actual communication of errors can be done in the most idiomatic way for a given implementation language.

I assume this means "value has incorrect type as defined by the key"? Maybe call it "Value has incorrect type"

[2016-12-11 11:44] pureconfig commented on #23
@Phlosioneer Yes, I've concluded that utf8 keys should be allowed.

[2016-12-11 15:00] Phlosioneer commented on #27
oops
yeah
I keep getting the names "key" and "value" backwards.

[2016-12-11 15:20] #23 closed

[2016-12-12 07:53] pureconfig commented on #24
Quotes should be rare in Pure files, and - because of typing - we probably want each line to be quoted separately. You example would thus be illegal ("Missing quote at line 1")

Example of valid, and mixed, quoting:

[code]

[2016-12-12 07:57] pureconfig commented on #13
This can definitely wait for 2.0

[2016-12-13 12:42] melrief commented on #61
#62 is merged and I think we should consider adding support for other formats. For start, we could use a YAML library to convert a YAML configuration into a lightbend configuration and then use pureconfig as usual but in the long run we may want to consider an intermediate representation of a configuration to which we convert all the formats.

[2016-12-13 13:02] melrief opened #65 "Add support for java.time data structures"
Add `ConfigConvert` instances for `LocalDate`, `DateTime`...

Most of them needs to be somehow configurable because the string format of a date is not fixed. We could let the user import a template of the instance and the configure it:

[code]

[2016-12-13 15:44] leifwickland commented on #65
I think this is a great idea.

Do you think it'd be worth adding support for Joda structures in a separate library?

[2016-12-13 15:50] melrief commented on #65
I think for structures in the standard libraries of Java and Scala we should provide support in core so that you need only one libraries to start using it. What do you think?

On a side note, we could support joda-time and that should go in a separate library and be published as `pureconfig-joda`.

[2016-12-13 15:52] leifwickland commented on #65
@melrief Yes, I think it makes sense for core Java/Scala date/time types to be in the pureconfig core, in the same way that we support `Duration`/`FiniteDuration` today.

[2016-12-14 11:48] melrief opened #67 "No valid coproduct type choice found for configuration null for valid configurations since 0.3.3"
I still have to investigate this but apparently since 0.3.3 we have a regression in which the coproduct instance receives a `null` in input. I think the cause is the default field mapping. More info once I can create a small example of this bug.

EDIT: here an example:
[code]

Note that it's not the coproduct derivation the issue:

[code]

EDIT2: I think the issue is `ConfigObject.get` and how we

[2016-12-14 13:24] melrief commented on #67
@jcazevedo @leifwickland I have a problem here: I know what the issue is but I'm not sure about the kind of semantic we want to give to pureconfig. The bug above is normal since we decided that derive something from `HNil` should always fail. This means that for an ADT above, the field with the name must be defined in the configuration with value `{}` else we throw the error. In other words, the f

[2016-12-14 21:24] ruippeixotog opened #68 "Default ConfigFieldMapping should be (CamelCase, KebabCase)"
The current default mapping between config keys and case class fields is camel case to camel case. However, in Typesafe config the _de facto_ standard is to use dashes between words (see examples in [Typesafe config](https://github.com/typesafehub/config#uses-of-substitutions), [akka](http://doc.akka.io/docs/akka/snapshot/general/configuration.html#Listing_of_the_Reference_Configuration), [spray](

[2016-12-15 12:30] jcazevedo commented on #67
I think the key of the field should be defined in all fields that are not `Option` nor have a default argument in the constructor. We should always fail when trying to derive a coproduct from `null`, so that your first example would return:

[code]

[2016-12-15 12:33] jcazevedo commented on #68
I agree. Kebab case also seems a more natural default for configuration keys to me. @melrief & @leifwickland: what do you think?

[2016-12-15 12:50] melrief commented on #68
Ok also on my side but it will be funny to explain to users of the library that are actively using it: from the next version, their configuration files won't load anymore without changes to either the code or the configuration. Not sure how to do this...

[2016-12-15 23:46] ruippeixotog commented on #68
Unfortunately, I can't think of a way to do that without breaking compatibility with older versions... Moreover, there doesn't even seem to be a way to warn them on compile time, like libraries sometimes do with `@deprecated` and `@implicitNotFound` warnings.

I guess that if you decide to do this it will have to be a breaking change communicated through documentation only. Have you thought of wri

[2016-12-16 16:22] leifwickland commented on #68
My preference would be to leave the default as is.
- No breaking change
- Easier to grok introductory demo on `someValue` in a config file maps to `someValue` in a `case class`
- I simply prefer the aesthetic of consistent camel case everywhere.

The good news is that either way is pretty trivial to adjust to, so I'm not going to fight over it.

[2016-12-16 22:13] ruippeixotog commented on #68
If I could have everything in camel case it would be fine with me. However, together with my project's configs I need to have settings for Akka and all other third-party libraries that rely on Typesafe config, and those I can't change. I definitely want all the keys in my config to have the same style.

Not having that as default is not a show stopper, of course. But having used a different mappin

[2016-12-18 17:16] melrief commented on #68
@leifwickland I usually am for not breaking the API with previous releases but being consistent with existing libraries could be important.

[2016-12-21 00:26] Phlosioneer commented on #12
I've come across a very good use for this in one of my side-projects. When making games in a mod-friendly way, one option is to make most of the game's content available in config files. Then, mods just add more config files. However, this can become a problem if multiple mods are trying to change the same value; for example:

Original Game:
[code]
Mod A
[code]
Mod B
[code]

The two mods conflict,

[2016-12-21 00:49] Phlosioneer commented on #12
I should mention that, whatever we decide for lists, we should also allow in key/value groups.

[2016-12-27 02:47] mekalz commented on #5
It would be good to write the requirement of JDK8 clearly in README.md. And btw, is there any replacement to work with JDK7? I must use JDK7 for some reasons.

[2016-12-30 09:28] melrief commented on #5
You are right, I will update the documentation soon. There could be a replacement that works for JDK7 but I've never had the time to work on it. @lefou above wrote that you can use an older version of typesafe config as backend. The issue here is that my initial idea was to abstract from the backend instead of just creating a new branch for Java 7 because a branch would require a lot of work to ma

[2017-01-01 19:00] Phlosioneer commented on #30
Couple options here.

1) Fix your grammar so that we can understand what you're saying.
2) Explain why you think TOML is better.
3) Explain why the main purpose of pure config (human readability) is better done in another format.

If you don't do one of the above, I'm just going to close this as off-topic.

[2017-01-02 07:07] tredoe commented on #30
My native language is not English.

Explain why you think Pure config is going to be better.

Explain why the human readability is going to be better done in Pure. config

[2017-01-02 13:12] ruippeixotog opened #71 ""0" is not a valid FiniteDuration anymore"
On pureconfig 0.3.x, "0" was accepted as a valid duration. It's the only case where the time unit does not matter, and Akka frequently uses that value in their configs. However, in pureconfig 0.4.0 "0" throws a parsing error.

Can you add again that special case? As a motivating use case, I frequently use values from akka-actor in my refefence.conf as defaults for my own domain configs.

[2017-01-02 16:16] #71 closed, assigned to nobody

[2017-01-02 16:20] melrief commented on #71
Thanks for the report, @jcazevedo fixed it few minutes ago and it's already merged to master. I would like to see also #69 to be merged in master before we release the next version of pureconfig but only if you don't need it right now. If you need it now we'll publish it today, otherwise in a couple of days max.

[2017-01-02 17:02] Phlosioneer commented on #30
My apologies, then.

That's what the readme does. If you don't like pure config, you can move on. You don't have to pay attention to this repo.

[2017-01-02 17:13] ruippeixotog commented on #71
No problem, I can keep using 0.3.3 for a few days until you release the new version :) Thank you!

[2017-01-02 18:06] tredoe commented on #30
The Readme says:

So, the Readme does not explain none of the questions above, besides that to say "to suck less than other configuration file formats" does not looks a technical explication.

[2017-01-02 18:08] tredoe commented on #30
By the way, good luck with the project but especially with the community.

[2017-01-02 19:13] Phlosioneer commented on #30
There's a long, detailed page about the motivation of pure. Its focus is on ease of use by non-technical users, to make tech support easier and to make user customization of settings easier. It's also possibly useful as a basis for a game, to make modding the game via config files much easier for the average player.

[2017-01-03 22:13] #13 closed, assigned to nobody

[2017-01-04 02:26] jcazevedo commented on #63
#64 fixes this.

[2017-01-04 02:26] #63 closed, assigned to melrief

[2017-01-06 20:59] ruippeixotog opened #76 "`ConfigFieldMapping` and `ProductHint` concepts"
The current naming conventions currently only apply (and are only relevant) to products. In my view, a `ConfigFieldMapping` is a just a special case of a `ProductHint` - a way for developers to "advise" pureconfig on how to derive converters for certain kinds of products.

In the derivation code a `ConfigFieldMapping` is already handled just like a `CoproductHint` and a first version of `ProductHi

[2017-01-06 21:07] ruippeixotog commented on #76
Another thing that would be useful in a `ProductHint`: how should unknown keys be treated? If we see in a config a key that has no matching field in the product, do we want to be strict and throw an error or do we want to ignore it? Like naming conventions, we probably want a default behavior most of the time and have the ability to customize case-by-case.

[2017-01-07 16:52] melrief commented on #76
I like this idea and I think we should consider it. In particular, I think the separation of `ConfigFieldMapping` from a `ProductHint` is good design.
I'm not sure how to handle unknown keys. I would like to let the user configure it but I'm not sure what should be default. I would go with the most conservative strategy, which is the strict strategy that you were talking about.
I personally like t

[2017-01-09 21:12] ruippeixotog opened #77 "Add a changelog"
It's always good to have a log of what changed between releases. The commit tree sometimes works, but particularly for external users it makes sense to have a compact list enumerating what can users expect after an upgrade - which bugs were fixed, what improvements were made and what are the breaking changes. This last one is particularly important; if there is not a way to make things backwards c

[2017-01-09 21:26] leifwickland commented on #77
I love change logs. I just hate writing them. ;-)
I think it would be a terrific idea to at one, particularly to document the breaking changes we've been introducing.

[2017-01-09 21:33] melrief commented on #77
I think changelogs are essential at this point. I like the changelog of @ruippeixotog example, I propose to follow that format. Now the main issue that I see is that we have a lot of legacy versions. Shall we collect info for the previous version or just start with the `0.5.1`?

[2017-01-09 21:41] leifwickland commented on #77
I suggest we just hit the versions which introduced breaking changes in the last few months and move forward. I think that's a reasonable compromise of appearing to be responsible with versioning while not exerting too much undue effort.

[2017-01-09 21:47] ruippeixotog commented on #77
Yeah, logging only breaking changes for old versions and starting to write all changes for future versions seems a nice compromise.

[2017-01-09 22:40] melrief commented on #77
Now that we all agree, I guess we have to decide who takes care of adding the document. I propose myself for obvious reasons and I also propose that we should not release `0.5.1` without completing the changelog.

[2017-01-09 22:48] jcazevedo commented on #68
If we are to change the default, one way to raise the awareness of it around users of the library (besides documenting the change in a changelog) is to state that in the `KeyNotFoundException` message during some future releases. The most common error users will see if they're not aware that the default mapping has changed will be `KeyNotFoundException`, so pointing there to the new default and al

[2017-01-09 23:45] ruippeixotog commented on #77
I can write the changes for this version and the last version probably. Versions older than that I'm not so sure of the changes.

[2017-01-10 01:48] melrief commented on #68
That's a good idea

[2017-01-10 01:50] melrief commented on #77
If you want to create the changelog file for the last two releases, I can fill the remaining parts with another PR. The last two versions are the important one for the changelog anyway.

[2017-01-12 07:23] hbf opened #80 "Support for case class default values?"
Does _PureConfig_ support default arguments to case classes?

In other words, given the [example from the README](https://github.com/melrief/pureconfig#supported-types), does

[code]

return a `MyClass` instance with `int` set to 13?

[2017-01-12 10:59] jcazevedo commented on #80
That feature is not documented in the README (it should), but it is supported. In your example, trying to create a `MyClass` from `conf` would result in:

[code]

[2017-01-12 21:12] melrief commented on #80
It works, I've just tried on master. The steps I used are:

[code]

@leifwickland made the PR #82 in which he is adding the missing section about default values.

[2017-01-16 09:21] #80 closed, assigned to nobody

[2017-01-16 09:33] melrief opened #85 "Add the line to the error"
As a user pointed out in our gitter, it is possible to write some information together with an error about where the error happens. Typesafe config has [`ConfigValue::origin`](http://typesafehub.github.io/config/latest/api/com/typesafe/config/Config.html#origin--) which is supposed to be used exactly for this.

[2017-01-16 09:35] #77 closed, assigned to nobody

[2017-01-16 09:40] melrief opened #86 "Add number of bytes class and ConfigConvert"
Typesafe config supports [`getBytes`](http://typesafehub.github.io/config/latest/api/com/typesafe/config/Config.html#getBytes-java.lang.String-) to read the number of bytes from a human friendly string such as `10MB`. The spec for this format is [here](https://github.com/typesafehub/config/blob/master/HOCON.md#size-in-bytes-format). It would be nice to add this to pureconfig. The way I think we sh

[2017-01-16 12:10] n4to4 commented on #46
I was trying to look into this, but got some trouble. Does `typesafe config` support Scala.js?
I found [some people say not]( https://www.reddit.com/r/scala/comments/4eb0pc/typesafeconfig_on_javascript/). Or am I missing something?

[2017-01-16 12:39] melrief commented on #46
My bad, I was sure it was because a developer told me so. I guess we need to speed up the abstraction from the backend then because I would like to start using pureconfig also in javascript. Closing for now, thanks @n4to4 for having a look.

[2017-01-16 12:39] #46 closed, assigned to nobody

[2017-01-16 15:29] leifwickland commented on #86
@melrief I really like this the idea. My initial take is that the `Bytes` class might be similar in design to the scala`Duration` class, tracking a scalar and a unit.

I think my inclination might be to call that class `ByteSize` rather than`Bytes` in order to avoid conflicts who have a byte array wrapper called `Bytes`.

[2017-01-16 16:56] melrief commented on #86
@leifwickland you are right and I can think of one library that uses the name `Bytes` for binary format encoding and decoding. `ByteSize` is better.

[2017-01-16 21:37] melrief opened #87 "Abstract from the typesafe config backend"
pureconfig started as layer on top of the typesafe config library. The idea was to keep intact the parsing of files and the resolution rules while adding a generic derivation system that converts a `ConfigValue` to a value of an arbitrary type. The initial idea was to not tie the library to typesafe config and in future releases to allow to plug in other backends. I would like to start a discussio

[2017-01-16 21:40] melrief commented on #61
I opened #87 as starting point to support new backends. We will need sometime but we will be able to support yaml in future via backends.

[2017-01-17 18:29] leifwickland commented on #87
I believe the current guts of `ConfigConvert` don't really use the `boolean`, `number`, etc parts of the `ConfigValue` interface. `ConfigConvert` type-tests and then extracts a list, object, or string representation of the value. To some degree that couples the type-specific `ConfigConvert` instances to the string representation of data that are produced would be produced by the various backends.

[2017-01-19 19:32] jcazevedo commented on #76
I'm also supportive of the idea of a `ProductHint`. One other thing that we can configure through a `ProductHint`, besides the ones mentioned before, is whether or not we should apply default arguments of case classes when a field is missing from a config.

[2017-01-19 20:26] ruippeixotog commented on #76
Regarding the default for unknown keys, I also prefer the strict one as it ensures `reference.conf` files are updated, a thing without which I already shot myself in the foot many times :) However, I definitely want the option to turn that off. One "pattern" I like is having in `reference.conf` default values for several or all options of a coproduct - that way, in `application.conf` users can get

[2017-01-23 08:06] 13h3r opened #91 "Abstract over effect in ConfigConverter"
Right now `Try` is built in into `ConfigConverter` it will be good to make it pluggable. Most usable candidates are `Validated`, `Either`, `Id`.

[2017-01-23 08:07] 13h3r opened #92 "Split ConfigConverter into two parts: for reading and for writing"
There are some cases where end-user just want to read config and do not need to write it. In such cases we do not need to force to implement writer part.

[2017-01-23 08:08] 13h3r opened #93 "Make Converters composable"

[2017-01-23 12:46] melrief commented on #92
I agree with this issue and I think it's important to split `ConfigConvert`. Right now, pureconfig required both the encoding and the decoding to be defined but then it uses only one of the two in each part of the library. From a design point of view this is a mistake. Also I think it's normal and to be expected from some users to just define the reading part.

The main issue that we have to addre

[2017-01-23 12:48] melrief commented on #93
@13h3r this issue is about implementing methods like `map`, `flatMap`, etc on `ConfigConvert`, right? I may need some description before I can comment.

[2017-01-23 12:56] melrief commented on #91
I would prefer to stick with one type instead of making the type pluggable because I've always found typeclasses for output types difficult to read. `Try` was picked because of typesafe config and in general the fact that we work with an exception-based Java API. With time I think it's becoming more and more clear that `Try` itself is not the best type for output and more suitable types, like `Val

[2017-01-23 15:08] 13h3r commented on #93
Yes, the idea is about reusing existing converters like configConverter and call map on it

[2017-01-23 15:59] melrief commented on #93
I can think about at least `map` and `flatMap`, but we could have a look at circe decoders to see how they compose.

[2017-01-23 16:34] leifwickland commented on #93
[`contramap`](https://github.com/argonaut-io/argonaut/blob/master/argonaut/shared/src/main/scala/argonaut/EncodeJson.scala#L26) or [`xmap`](https://github.com/tpolecat/doobie/blob/series/0.4.x/yax/core/src/main/scala/doobie/util/atom.scala#L35) is a similar idea that I've used from argonaut and doobie, respectively.

[2017-01-23 23:27] ruippeixotog commented on #92
I agree with the split. I would even go so far as to say that `ConfigDecoder` is what most people will ever have to use. We can still provide a way to implicitly construct `ConfigConvert` from `ConfigReader` and `ConfigWriter` instances and keep compatibility with existing code (as well as convenience for code that both reads and writes configs).

I like your solution :) Anyone that has used [spra

[2017-01-24 01:03] jcazevedo commented on #92
I agree with the split, and I also think we should keep `ConfigConvert` and a way to implicitly create it from a `ConfigReader`/`ConfigDecoder` and a `ConfigWriter`/`ConfigEncoder`.

[2017-01-24 16:37] leifwickland commented on #92
I'm also in favor of the split.

[2017-01-24 22:31] melrief commented on #92
@13h3r everybody agree and I would say it would be nice to have this for the next release. Do you want to work on this?

@ruippeixotog I agree about `ConfigReader` and `ConfigWriter` being better than Encoder/Decoder, let's go for those.

[2017-01-25 09:09] 13h3r commented on #92
@melrief Yes, I will take a try.

[2017-01-26 19:02] Daenyth commented on #91
As a dev I'd much prefer working with `Either[NEL, A]` or `Validation[NEL, A]`

[2017-01-26 23:32] #68 closed, assigned to nobody

[2017-01-26 23:53] leifwickland commented on #68
Congratulations and thanks to @ruippeixotog! 🎉

[2017-01-29 20:27] leifwickland opened #96 "Generate README and other documentation via `tut` to ensure example code compiles"
I propose that we migrate our README and any other applicable documentation to being generated by [`tut`](https://github.com/tpolecat/tut). I recently worked on another project which made the transition and it was overwhelmingly positive. (See https://github.com/rubicon-project/rubiz/commit/d16b4996094703a33f8cf385292ad852113ed3b7)

The major benefits of tut are:
- The compiler ensures that exampl

[2017-01-30 13:13] aeons opened #97 "Support for enumeratum"
I'm using [Enumeratum](https://github.com/lloydmeta/enumeratum) with pureconfig, and I wrote a ConfigConvert instance for enumeratum enums. Would there be interest in including it in pureconfig?

I couldn't figure out the correct place to put the implementation if that was the case, but this is the code:

[code]

[2017-01-30 13:37] melrief commented on #97
Ehi @aeons, thanks for the code! Some time ago we decided to go multi-project with the intent of supporting external libraries in modules. This is recent and tthere isn't any module yet (waiting for @leifwickland to create the one about `joda-time` :stuck_out_tongue:) so I can't show you an example, but I can tell you how to do it in case you are interested in including that code in pureconfig:

1

[2017-01-30 13:51] aeons commented on #97
Ok, I'll take a stab at it :)

[2017-01-30 14:09] leifwickland commented on #97
@melrief My initial assumption had been that we'd version of the core pureconfig and any ancillary libraries together. If we place the version for ancillary libraries it'll be easy for them to diverge. It looks to me like doobie and cats follow the strategy of versioning all the pieces together.

Could I convince you that we ought to only have one version number for all of the libraries?

(And dul

[2017-01-30 14:10] melrief commented on #97
@leifwickland yes, maybe that's simpler to maintain and to use. I've just noticed how nice is to import and use circe when everything have the same circeVersion. Ok then, let's keep the same version everywhere.

[2017-01-30 14:11] aeons commented on #97
I'm not that sharp on sbt, how do I reference the version from the enumeratum project then?

Or will that be handled from the main build.sbt?

[2017-01-30 14:21] melrief commented on #97
You need to move the file [`core/version.sbt`](https://github.com/melrief/pureconfig/blob/58b315d6cbb88080edaf49f4dc0f2a154d4f85d2/core/version.sbt) to `version.sbt` at multi-project level and add `in ThisBuild` after `version`. In this way all the modules that don't define the version will have the version read from that file. You can see if it works via `sbt version`.

[2017-01-30 19:34] eadgbear opened #98 "Clarifying nested object conversion"
I'm trying to understand how I can achieve the following:

[code]

I can't seem to understand the process that would be required to achieve something like this. I get the exception listed in the documentation (i.e ```could not find implicit value for parameter conv: pureconfig.ConfigConvert[Global]```) but I can't for the life of me figure out what's causing it or what steps I can use to fix it.

[2017-01-30 21:32] melrief commented on #98
The error means that pureconfig cannot find the `ConfigConvert` instance for one or more types in `Global` and consequently it cannot derive the `ConfigConvert` for `Global` itself. Now the question is which type. There is a way to check the type by using a scala console. Basically you can check every type until you get an error

[code]

The issue is that `AnyVal` doesn't have a `ConfigConvert` be

[2017-01-30 22:39] eadgbear commented on #98
Thanks!

Once I put this in as a package object it worked wonderfully.

[2017-01-31 00:23] eadgbear commented on #98
Although I seem to be running into an inconsistency. When running it through ```sbt console``` I can validate that every class has a ConfigConvert. When I try to run tests through my IDE (Intellij) it results in the same error as above.

[2017-01-31 21:52] melrief commented on #98
I'm actually not sure why, it works for me in intellij. I wonder what the issue is. Do you have a minimal self-contained example that I can try to inspect?

[2017-01-31 22:16] eadgbear commented on #98
I don't on-hand as I've refactored to make it work.

What seemed to trigger it was having an object type with non-apply
functionality. Once I got rid of the static object for the sealed trait it
works.

On Tue, Jan 31, 2017 at 1:52 PM, Mario Pastorelli <notifications@github.com>
wrote:

[2017-01-31 22:27] melrief commented on #98
Sounds a lot like a bug. I'll have a look when I have time, it shouldn't be too difficult to recreate if that's the issue. Thanks for the report.

[2017-02-01 15:55] melrief commented on #31
@heytitle thanks for the patch, I've used scalachecks for some other tests about `java.time`. I'll close this and open new ones about existing tests not yet under scalacheck.

[2017-02-01 15:55] #31 closed, assigned to nobody

[2017-02-01 15:56] #65 closed, assigned to nobody

[2017-02-01 15:57] melrief commented on #76
@ruippeixotog we merged #90 and #95, do you think we should close this or keep opening for the missing parts?

[2017-02-01 16:00] melrief opened #101 "Supports for cats data structures"
cats exposes some [interesting structures](https://github.com/typelevel/cats/tree/5a9717a4499265275bc5c3c6e4f2e3ac3d1e17f5/core/src/main/scala/cats/data) that can be converted from/to a configuration value. For instance, I use `NonEmptyList` often. We should create a module for pureconfig.

[2017-02-01 16:03] ruippeixotog commented on #76
I think we can close this. The general concept of a hint for products is there; new features could be naturally added later :)

[2017-02-01 16:03] #76 closed, assigned to nobody

[2017-02-01 16:16] melrief opened #102 "Move away from the monolithic README.md"

[2017-02-01 16:37] melrief opened #103 "Move from Try[A] to Either[ConfigReadFailure, A]"
I'll use `Failure` instead of `Error` because Java uses `Error` to defined a subtype of `Throwables`. The word `Error` can be confusing. `Failure` is good because it would be used when a `ConfigConverter` **fails** to convert a configuration. It's not an error.

[2017-02-01 16:38] melrief opened #104 "Implement loadConfigOrThrow and ConfigReadException"
Depends on #103

[2017-02-01 16:44] jcazevedo opened #105 "Collect all errors instead of stopping at the first one"

[2017-02-02 21:17] leifwickland opened #106 "Add support for parsing `julienrf/enum` enums"
Analogous to #99, add a module which supports parsing enums produced by https://github.com/julienrf/enum

[2017-02-03 15:50] #97 closed, assigned to nobody

[2017-02-03 21:51] eadgbear commented on #98
I've made a bit of a discovery in this regard. If I put all of the definitions in the same file, the problem goes away.

[2017-02-05 11:22] #106 closed, assigned to nobody

[2017-02-05 15:29] ruippeixotog commented on #102
With our curent TOC, what do we want to move to the `core` module docs? There aren't includes in Markdown - that means some text will be a click away.

I was thinking of leaving the TOC as is and leave in the README all sections from "Why" to "Supported types" and from "Contribute" to "Special thanks". They provide the very basics for people to know what PureConfig is all about. All other sections

[2017-02-06 00:07] melrief commented on #102
I agree

[2017-02-06 00:17] jcazevedo commented on #102
Yes.

[2017-02-06 16:46] leifwickland commented on #102
_shrug_
My preference in the long term is that we let `tut` or another tool generate our ToC. I'm not entirely sure how that'll work out with that structure. But that's a bridge we can cross later.

[2017-02-08 00:13] ruippeixotog commented on #96
I believe #112 will put the README in a state where you can give `tut` a try. I never used it, but it looks very useful!

[2017-02-08 16:12] cranst0n opened #113 "Intermittent Failure"
Noticed failure when parsing `ZonedDateTime`. circe/circe#280 appears to have run into the the same underlying issue ([JDK-8138664](https://bugs.openjdk.java.net/browse/JDK-8138664)). Should probably filter out `GMT0` time zone for the time being.

[2017-02-08 16:22] derekmorr opened #114 "parse UUID"
Pureconfig should parse UUIDs from config as a java.util.UUID.

[2017-02-08 22:44] #114 closed, assigned to nobody

[2017-02-09 20:30] #102 closed, assigned to ruippeixotog

[2017-02-10 15:17] jcazevedo commented on #113
Fixed in #116.

[2017-02-10 15:17] #113 closed, assigned to nobody

[2017-02-10 23:34] melrief opened #120 "Add modules section to README"
Now that we are starting to have some modules for pureconfig, it would be nice to add to the main page all the supported libraries together with the name of the dependency to add to sbt.

[2017-02-10 23:51] leifwickland commented on #120
@melrief Do you think this section would best go in the main README or in a separate doc it linked to?
My inclination is for putting it in the main README.

[2017-02-11 00:01] melrief commented on #120
It really depends on how many modules we will have in the repo. I think we'll end up with many modules and that's why I would prefer to have a separate markdown file. I would just write a couple of lines in the main README poiting out that there is support for external libraries via modules with a link to the section file.
There is also a small part in the contributing section that should be done

[2017-02-11 00:03] leifwickland commented on #120
@melrief I figured we'd end up with a reasonably detailed README in each module and a relatively sparse index of the available modules in either the main README or a linked file from the main ToC.

Are you OK with that vision?

I'll let you (or someone else) handle the contributing section as I'm not sure what you want to say there.

[2017-02-11 00:09] melrief commented on #120
I'm OK with that vision but some modules don't have a README

[2017-02-11 00:10] leifwickland commented on #120
Yeah, I should've mentioned I was going to use this as the opportunity to add a README for the rest of the modules.

[2017-02-11 00:10] melrief commented on #120
Well if you add the missing README then it's perfect!

[2017-02-11 00:11] leifwickland commented on #120
I suppose it'd also be useful to document integrations with pureconfig that aren't part of the repo, such as refined-pureconfig.

[2017-02-11 00:18] melrief commented on #120
Probably but it will be difficult to keep track of external modules.

[2017-02-11 23:50] derekmorr opened #122 "Support loading Path"
The library should support loading java.nio.file.Path by parsing Strings from config.

[2017-02-12 22:46] derekmorr opened #124 "Example project doesn't compile"
The sample code in `example/` doesn't compile:

[code]

The sample converter for `java.nio.file.Path` doesn't match the version in `core/docs/example.md`:

[code]

Updating `package.scala` to use this version fixes the bug.

We're discussing changing the example code in #123 so I'll hold off sending a PR for this issue. Longer term, we should change `.travis.yml` to check that the example project

[2017-02-12 23:47] #120 closed, assigned to leifwickland

[2017-02-13 22:17] #122 closed, assigned to nobody

[2017-02-14 01:48] derekmorr commented on #124
This was closed when #123 was merged.

[2017-02-14 01:48] #124 closed, assigned to nobody

[2017-02-14 01:50] derekmorr opened #125 "Example project doesn't build with 2.10"
The example project lacks macro paradise, so it can't build on 2.10.

[2017-02-14 13:06] derekmorr opened #127 "Parse java.net.URI"
We currently support parsing URLs, but Java also supports URIs. Since not all URLs are URIs, we should support parsing both.

[2017-02-14 16:40] derekmorr opened #130 "Support parsing KerberosPrincipal"
In the discussion for #123 we discussed using `KerberosPrincipal` in the example but decided against it. So I decided to add support for it to core, since it's a trivial string converter.

[2017-02-15 23:24] #127 closed, assigned to nobody

[2017-02-15 23:28] #125 closed, assigned to nobody

[2017-02-16 01:25] #103 closed, assigned to melrief

[2017-02-16 01:26] melrief opened #132 "Adapt the documentation to the new `ConfigConvert`"
Adapt the documentation to the changes done in #103

[2017-02-16 01:26] #104 closed, assigned to nobody

[2017-02-16 01:26] melrief commented on #105
Done with #110

[2017-02-16 01:26] #105 closed, assigned to nobody

[2017-02-17 21:46] melrief opened #133 "CoproductHint should use ConfigReaderFailures instead of ConfigReaderFailure"

[2017-02-17 22:12] melrief opened #135 "Add toOrThrow methods to pureconfig.syntax"
In the new pureconfig we have `loadConfig` that returns `Either` and `loadConfigOrThrow` that returns the result or throws exception. We should add methods to `pureconfig.syntax` to support the same schema, with `to` that returns `Either` and `toOrThrow` that returns the result or throws exception.

[2017-02-17 22:18] #133 closed, assigned to nobody

[2017-02-18 01:37] melrief opened #137 "Changelog and version increment for release 0.6.0"

[2017-02-21 03:42] dbousamra opened #140 "Key names are being lowercases if they aren't long enough"
I have some HOCON:

[code]

When I try to parse this as:

`case class Stormpath(apiKey: Option[String])
`
I get:

[code]

If I change the key name from `apiKey` to something longer, like `theApiKey`, it works fine.

[2017-02-21 09:40] melrief commented on #140
Ehi @dbousamra, thanks for reporting the issue. I've just tried to reproduce the problem on master but it seems like it's not happening to me. I've used the following code with `sbt core/console`, please let me know if I'm doing something wrong:

[code]

It may be that I'm using a more recent version of pureconfig. What version are you using? Another thing that could help me is to see some code. D

[2017-02-21 09:51] dbousamra commented on #140
Hey. Thanks. I'll have a more complete example up tomorrow morning (I'm in
Aus, so late ATM). I upgraded to latest version today

On Tue., 21 Feb. 2017, 20:40 Mario Pastorelli, <notifications@github.com>
wrote:

[2017-02-24 21:56] #85 closed, assigned to jcazevedo

[2017-02-25 09:35] #137 closed, assigned to melrief

[2017-02-25 09:35] #132 closed, assigned to nobody

[2017-02-25 17:17] mslinn opened #142 "ProductHint with allowUnknownKeys=false misbehaves"
`ProductHint` with `allowUnknownKeys=false` misbehaves with `pureconfig.loadConfig` and `pureconfig.loadConfigOrThrow`.

I made a demo project to show the issue. [Here is the relevant section](https://github.com/mslinn/pure-config-test/blob/master/src/main/scala/PureConfigFun.scala#L18-L35). This code does not reference `application.conf` and should not try to pull in `reference.conf`.

    implic

[2017-02-25 17:38] mslinn commented on #142
Another weird thing: the `pure.conf` HOCON file has the configuration that should be mapped to the PureConfigFun case class [in the `"ew"` key](https://github.com/mslinn/pure-config-test/blob/master/src/main/resources/pure.conf#L1-L52). Seems like that key is somehow mapped without having to be specified, and if I do specify it, as shown in the following two examples, I get `com.typesafe.config.Co

[2017-02-25 22:02] melrief commented on #142
Hi @mslinn, thanks for opening the issue! I'll need to have a look at the code first, I'll reply again as soon as I know what's going on.

[2017-02-25 22:04] melrief opened #144 "Add Ammonite console to the project"

[2017-02-25 23:10] melrief commented on #142
I found multiple issues that cause the problems that you are describing above:

First of all, I'm not sure if you moved `pure.conf` from `src/main/resources` to the working directory of where you are trying to load it but in my tests if I run `Files.exists(Paths.get("pure.conf"))` in `sbt console` I get `false`, which means that the file is not loaded. This explains your second error: the reason w

[2017-02-26 07:19] mslinn commented on #142
Thanks for your kindness. I appreciate it.

This works better under Windows:
[code]
The code you showed dies when `Paths.get` encounters the colon after the Windows drive letter. For some reason the above does not die :)

BTW, there is no need to provide a path (`"/pure.conf"`) when a file is on the classpath.

After thinking about the `Port` value class problem, I understand the syntax you offere

[2017-02-26 11:02] melrief commented on #142
Hey Mike,

It seems that I cannot load `"/pure.conf"` using that relative path. Not sure why but it seems that it's working for you. Is pureconfig finding the `"ew"` namespace now? Or the problem is still there?

About value classes, the standard way to support new types with a different configuration syntax than the one proposed by pureconfig is to create your own `ConfigConvert`. I suggest to do

[2017-02-26 15:47] mslinn commented on #142
Loading `"/pure.conf"` is problematic. Loading `"pure.conf"` without the leading slash worked for me. Did you try that?

Glad to learn about `ConfigConvert`. I did not want to introduce an implicit conversion between `String` and `Path` because Scala would apply it indiscriminately.

A few discussion points remain outstanding. I'll play with the code and get back to you shortly.

[2017-02-26 16:05] mslinn commented on #144
Judging from timing, I would guess that you saw the config for Ammonite in my sample program :)

[2017-02-26 16:13] mslinn commented on #142
I prefer to express a `Port` as a `Number` in the `conf` file, instead of `String`. However, there are currently no predefined `ConfigConvert`s from `Number`, just from `String`. I would like to use a `ConfigConvert` something like:

      val readPort: ConfigConvert[Port] =
        fromNumberConvert[Port](catchReadError(num => Port(num.toInt)), _.value)

What would be the best way to write `fromN

[2017-02-26 16:41] melrief commented on #142
Similar to what we already have for `String`:

[code]

[2017-02-26 16:54] mslinn commented on #142
Thanks, that is better than what I had attempted to write. I checked in what I have so far. Currently the errors are:

[code]

[2017-02-26 16:58] melrief commented on #142
It looks like it's not picking up the custom converter. It works for me. My guess without seeing the code is that you forgot to add `implicit` before `val` to make the custom converter visible. Otherwise, I'll need to see the code.

[2017-02-26 16:59] mslinn commented on #142
https://github.com/mslinn/pure-config-test/blob/master/src/main/scala/PureConfigFun.scala

[2017-02-26 17:05] melrief commented on #142
I've `git reset --hard` and `git pull` the last master of the example. When I run in `sbt console`

[code]

I don't get the error about `Port`, but only the issues with the unknown keys found:

[code]

I don't understand why the same example is behaving in a different way. Can you copy paste step-by-step what you are doing to obtain that message?

[2017-02-26 17:06] #144 closed, assigned to nobody

[2017-02-26 17:08] mslinn commented on #142
This is how I generate the errors:

    $ sbt "runMain PureConfigTest2"

Still wondering what I need to do in order to fix up the other errors.

[2017-02-26 17:14] melrief commented on #142
I see the issue: you define the `readPort` after the `load` method and the `load` method doesn't take in input the `ConfigConvert[PureConfFun]`, which means that `def load: Either[ConfigReaderFailures, PureConfigFun] = pureconfig.loadConfig[PureConfigFun](confPath, "ew")` will take the `ConfigConvert[PureConfFun]` when it's defined. `readPort` is defined after `load` and `load` doesn't see it. To

[2017-02-26 17:20] melrief commented on #142
For the `UnknownKey`s errors, the issue is that the default `fieldMapping` is `KebabCase`. See the [doc](https://github.com/melrief/pureconfig/blob/master/core/docs/override-behaviour-for-case-classes.md#override-behaviour-for-case-classes). But the keys in your configuration are `CamelCase`. To configure to use `CamelCase` as field mapping, change the `hint` to

[code]

And everything should work

[2017-02-26 18:32] mslinn commented on #142
Yes! Learned some good things. Will update the ScalaCourses lecture.

[2017-02-26 19:52] mslinn opened #146 "Define ConfigConvert methods for Remaining JSON types"
Currently there are a number of `ConfigConvert` methods for `String`. A similar set of methods should be defined for the other JSON types. The most important types to address are `Number` and `Boolean`; for extra credit, also define methods for `Array`, `object` and `null`.

[2017-02-26 20:29] mslinn commented on #142
I wonder if the converter you wrote for value classes might be made generic. The need to populate value classes from simple types is fundamental. Unrestrained converters are undesirable, so it would be best if converter boilerplate was eliminated by declaring them as required. Is there a way to define a `ConfigConvertValue` type which accepts the types to convert from and to? Here is how it might

[2017-02-26 20:31] melrief opened #147 "Improve the error message when the FieldMapping is wrong"
The field mapping is a great feature of pureconfig but has the side-effect of making more difficult to understand certain problems. For people coming from pureconfig < `0.6.0`, the default mapping is CamelCase->CamelCase and the errors about keys not found make no sense. A solution could be that, given a certain set of keys not found, pureconfig could try to see if there are matching keys with oth

[2017-02-27 11:15] melrief commented on #142
@mslinn we are going to provide a set of combinators to create new `ConfigConvert`s from old ones following roughly what many other libraries like `circe` and `scodec` do. I expect #93 to be solved in the next months.

[2017-02-27 17:34] mslinn commented on #142
Excellent!

[2017-03-01 10:12] megri opened #148 "Unresolved placeholders cause thrown exception"
`loadConfig` doesn't catch this in the `ConfigReaderFailure` but instead throws it directly.

[2017-03-01 10:31] melrief commented on #148
Hey @megri, thanks for opening the issue. I guess we forgot to check `ConfigFactory.load`. After reading the [documentation](https://typesafehub.github.io/config/latest/api/com/typesafe/config/ConfigFactory.html#load-com.typesafe.config.Config-) I think I know why: there is no documentation about the exception that can be thrown by those methods and I was assuming it was safe to call. I should hav

[2017-03-01 14:18] leifwickland commented on #148
I agree with catching NonFatal as you suggest, @melrief

On Mar 1, 2017 3:32 AM, "Mario Pastorelli" <notifications@github.com> wrote:

[2017-03-01 14:20] melrief commented on #148
I propose to create a failure only for this kind of error

[2017-03-01 14:44] leifwickland commented on #148
Does "this type of error" mean the resolution failure or a catchall for
exceptions pureconfig didn't expect? I think we need the latter given that
the type signature seems to promise that non fatal errors will not escape.
I also like the idea of a specific error for that resolution failure.

On Mar 1, 2017 7:20 AM, "Mario Pastorelli" <notifications@github.com> wrote:

[2017-03-01 15:08] melrief commented on #148
I was talking about confining the exceptions thrown by `ConfigFactory.load` inside a failure class that is reserved just for that method. In my mind, that's not a `CannotConvert` failure but a `CannotLoadConfig` (or something like that).

[2017-03-01 16:21] stsatlantis opened #149 "add .editorconfig"
Add a .editorconfig file to the root folder to keep the code style unified.

[2017-03-01 17:46] megri commented on #148
I think the exceptions thrown are the ones found in the ConfigLoader class. The strictest/cleanest path would be to map those to an ADT

[2017-03-01 18:07] leifwickland commented on #148
I totally agree that it's a positive to map known errors to the failure ADT. However, I think we probably should go a step beyond that and catch unknown errors too, dropping them in an appropriately vaguely named member of the ADT.

[2017-03-01 22:19] stsatlantis commented on #135
Working on it

[2017-03-02 16:19] melrief commented on #142
@mslinn I'm closing this as resolved

[2017-03-02 16:19] #142 closed, assigned to nobody

[2017-03-02 16:25] #135 closed, assigned to nobody

[2017-03-02 16:29] melrief commented on #91
@Daenyth @13h3r with `0.6.0` we switched to `Either[ConfigReaderFailure, A]` where `ConfigReaderFailur` is a custom `NEL` that can easily be mapped to the counterpart in cats or scalaz. I'll close this.

[2017-03-02 16:29] #91 closed, assigned to nobody

[2017-03-02 16:33] melrief commented on #67
I think we are done with this since `0.5.1`

[2017-03-02 16:33] #67 closed, assigned to nobody

[2017-03-02 16:57] jcazevedo opened #151 "Split PureconfSuite in different suites"
`PureconfSuite` is currently huge and spans different topics. It would be better to split it in different suites so that tests are better scoped.

[2017-03-02 17:08] jcazevedo opened #153 "Normalize ConfigReaderFailures"
We have various `ConfigReaderFailure`s, but some are missing important information. Namely, we can add the `key` field to `NoValidCoproductChoiceFound`, `EmptyStringFound` and `ThrowableFailure`. The pattern of having a failure with and without key is also common practice, so we can make an effort to abstract it better.

[2017-03-02 17:10] jcazevedo opened #154 "Polish the failure summary"
The failure summary is currently grouping failures by type. It is more natural to group it by key. We can also integrate it better with the failure location (file and line number).

[2017-03-02 17:21] melrief commented on #148
@megri I'll fix this for the next release, thanks for reporting it.

[2017-03-02 17:23] megri commented on #148
Thanks for fixing it :)

[2017-03-04 11:28] melrief opened #155 "Proposal: switch to Typelevel Scala compiler"
I didn't have time to try the new typevel scala compiler but it should be more optimized for compiling pureconfig. I've decided to open this issue after @leifwickland mentioned it to investigate potential performance gain and to see if we all agree in switching. Some links

- [Faster compilation of inductive implicits](https://github.com/typelevel/scala/blob/typelevel-readme/notes/2.12.1.md#faster

[2017-03-05 17:35] milessabin commented on #155
Just to clarify ... https://github.com/typelevel/scala/issues/135 isn't about _switching_ to Typelevel Scala, it's about _enabling_ a painless switch, but onfly if desired. Using `CrossVersion.patch` and `scalaOrganization.value` does no harm and in no way forces you to use Typelevel Scala.

[2017-03-06 16:09] pureconfig commented on #29
This can wait

[2017-03-08 03:48] derekmorr commented on #86
Is this still needed now that the squants module was merged? Squants has an `Information` type that supports bytes and both the decimal (MB, GB, ...) and binary (MiB, GiB, ...) suffixes.

OTOH, it might be nice to have a converter that doesn't depend on squants.

[2017-03-08 03:50] derekmorr commented on #96
@leifwickland I recently converted squants' documentation to use tut. Happy to help on this if you'd like.

[2017-03-08 04:15] leifwickland commented on #96
Derek,

Sure. Feel free. I failed to get started on this ticket over the weekend.
It's all green field. It'd be more a case of me helping you at that point.

On Mar 7, 2017 20:50, "Derek Morr" <notifications@github.com> wrote:

@leifwickland <https://github.com/leifwickland> I recently converted
squants' documentation to use tut. Happy to help on this if you'd like.

—
You are receiving this becau

[2017-03-08 16:46] derekmorr commented on #130
Closed by PR #157

[2017-03-08 16:46] #130 closed, assigned to nobody

[2017-03-09 04:18] sh0hei commented on #155
implemented in https://github.com/melrief/pureconfig/pull/158

[2017-03-09 09:34] melrief commented on #155
Thanks @sh0hei !

[2017-03-09 12:57] jcazevedo commented on #86
I prefer not introducing a custom type in PureConfig's core. I think we can support reading strings the method `getBytes` allows into numeric types (`Float`, `Double`, `Short`, `Int` and `Long`), but otherwise rely on external libraries for more semantically rich types (such as Squants, as @derekmorr suggested).

[2017-03-09 13:07] melrief commented on #86
@derekmorr @jcazevedo you have good points and I think I prefer to not having it in core too after reading them. I should think less about typesafe config and more about what we'd like pureconfig core to be. Closing this.

@stsatlantis this was assigned to you but I haven't received any update here or on gitter. I hope it's fine for you too if we close this, sorry for the confusion.

[2017-03-09 13:07] #86 closed, assigned to nobody

[2017-03-09 16:27] stsatlantis commented on #86
Np I forgot to send the PR but np I've learned a lot from it :)

[2017-03-11 20:01] leifwickland commented on #96
@derekmorr Have you gotten started on the tut-ification? It looks like I'll have time this weekend.

[2017-03-11 22:35] melrief opened #162 "Consider reusing loadConfig for loadConfigOrThrow"
As pointed out by @leifwickland, `loadConfigOrThrow` should use `loadConfig` to avoid code duplication but there are some small issues preventing this. We should investigate the possibility of reusing code.

[2017-03-11 23:31] derekmorr commented on #96
I've started on it. I should have something up later this weekend.

[2017-03-12 00:05] leifwickland commented on #96
Derek,

Cool. Thanks. I'm happy to stay out of the way if that's easier for you

[2017-03-12 00:06] derekmorr commented on #96
Will definitely need feedback on things once it's up.

[2017-03-12 19:18] jcazevedo commented on #162
As pointed out in [#161](https://github.com/melrief/pureconfig/pull/161#discussion_r105565741), this looks like an error on my part. We should be able to reuse `loadConfig` on the `loadConfigOrThrow` methods and we should always attempt to create a `ConfigValueLocation` for `improveFailures` when we have access to a `Config` we're trying to derive from.

[2017-03-17 19:18] #162 closed, assigned to nobody

[2017-03-17 23:48] #153 closed, assigned to jcazevedo

[2017-03-18 03:09] derekmorr opened #165 "Example project is broken"
The example project has several bugs:

1. It won't load in sbt. PR #158 added CrossVersion.patch which requires sbt 0.13.13, but the example project uses 0.13.8.
1. The Main function doesn't compile since `loadConfig` now returns an `Either` (as of #110 ). Also, Main can be simplified call `loadConfigOrThrow`.
1. The sample `ConfigConvert` instances call `fromString` which is deprecated in 0.6.0.

[2017-03-18 11:14] #165 closed, assigned to nobody

[2017-03-19 00:33] melrief opened #170 "ConfigConvert[Option[_]] doesn't work with None"
I found a bug with the `Option` instance of `ConfigConvert`:

[code]

The issue is that the `.from` method [expects `null` to read `None`](https://github.com/melrief/pureconfig/blob/master/core/src/main/scala/pureconfig/ConfigConvert.scala#L336) but `.to` [converts `None` into `{}`](https://github.com/melrief/pureconfig/blob/master/core/src/main/scala/pureconfig/ConfigConvert.scala#L344) instead o

[2017-03-19 11:10] jcazevedo commented on #170
It's definitely a bug. We probably didn't notice it before because we rarely convert directly from `Option[_]` and we have special treatment for it in `hConsConfigConvert` so that we don't include the key in the resulting `ConfigObject`.

[2017-03-20 23:15] #96 closed, assigned to leifwickland

[2017-03-21 15:45] #148 closed, assigned to melrief

[2017-03-22 13:08] melrief opened #182 "DurationConvert fails to convert Duration(8092048641075763L, TimeUnit.NANOSECONDS)"
To reproduce:

[code]

with pureconfig `<= 0.6.0` the result of the test is

[code]

I found this when I added tests for arbitrary `Duration` and `FiniteDuration` in #151.

[2017-03-22 13:09] melrief commented on #170
I will solve this inside #151 together with the tests that I've added for `Option[_]`

[2017-03-22 15:41] leifwickland commented on #182
@melrief
I think the behavior is caused by overflowing a `Double`.
When parsing a value from a `String`, Duration converts the magnitude to a `Double`.
See https://github.com/scala/scala/blob/2.12.x/src/library/scala/concurrent/duration/Duration.scala#L62
8092048641075763 is > 2^52, so precision is lost.

The comments there seem to indicate that they think precision won't be lost. However, some qu

[2017-03-22 16:03] leifwickland commented on #182
It occurs to me will-not-fix isn't really an option because the behavior is manifesting in a scalacheck test. We have to change something. I'd be tempted to suggest we exclude values between +/- 2^52 to 2^53.

[2017-03-23 00:43] melrief opened #184 "DurationConvert encodes Duration.Undefined as Duration.Inf"
Not sure why this is happening but this test fails

[code]

the error is

[code]

[2017-03-23 12:50] melrief commented on #182
@leifwickland from the generator? I've done it in #151 to avoid the issue, we should not merge PRs with flickering tests.

[2017-03-23 14:11] #170 closed, assigned to nobody

[2017-03-23 14:11] melrief commented on #170
Solved with #183

[2017-03-23 14:17] melrief commented on #15
Closing this because we are going to split `ConfigConvert` into `ConfigReader` and `ConfigWriter` with #92 and we are going to have tests to check if values are converted properly to and for a configuration with a subset of the changes made for #151. Next release of PureConfig will guarantee that `ConfigConvert` instances will behave properly modulo bugs by using a comprehensive testing suite.

[2017-03-23 14:17] #15 closed, assigned to nobody

[2017-03-23 14:18] melrief commented on #98
I'm closing this for now because the issue is a limitation of Scala and not of PureConfig. Moreover, a workaround has been found.

[2017-03-23 14:18] #98 closed, assigned to nobody

[2017-03-23 14:36] jcazevedo commented on #149
I'm not very familiar with `.editorconfig`, but I tend to prefer solutions more tied to the build system, such as Scalariform (which we currently use). What kind of features does `.editorconfig` provide that we can't cover with Scalariform?

[2017-03-23 16:11] leifwickland commented on #182
@melrief Yeah, sorry for being unclear. Yes, I meant we should exclude  +/- 2^52 to 2^53 from the generator of values.

[2017-03-23 19:39] ghost opened #187 "pureconfig account"
It has come to my attention that your project existed before our own pureconfig (github.com/pureconfig/pureconfig)

Please let me know if this is causing you problems and I'll work out a solution.

[2017-03-24 13:49] melrief commented on #187
Thanks for contacting us! Our plan was to move pureconfig from being a personal project to pureconfig/pureconfig and we were surprised when we saw that the organization name was already taken. That's when we discovered your project. We have considered changing the name of our project but pureconfig is used on a daily basis and changing the name at this point is not an option.

Do you think there i

[2017-03-24 16:56] ghost commented on #187
@melrief pureconfig is available. Hurry up before someone else takes it (if so, contact GitHub immediately with a link to this comment, and I'm sure they'll help)

There's a few links from npm, etc, to pureconfig, but I'll ask everyone to fix their links.

Good luck :)

[2017-03-24 18:00] melrief commented on #187
Done, thanks!

[2017-03-24 19:40] Phlosioneer commented on #31
Sounds fair.

[2017-03-26 00:54] notsonotso commented on #31
Thanks for doing this

[2017-03-28 15:09] #92 closed, assigned to ruippeixotog

[2017-03-28 18:36] derekmorr commented on #187
Since we moved the repo, we should merge #189 to update metadata for the project.

[2017-03-29 20:13] ruippeixotog opened #190 "Print parsing errors in a special way in ConfigReaderException"
When reviewing #181 I noticed that both parsing errors and errors in the root file are printed in the same way - as neither of them has a config path defined, they are shown to be just "in the configuration". But in reality, they correspond to different kinds of "in the configuration". While, say, finding a list instead of an object in the root of the configuration is a localized error (it happens

[2017-03-29 20:27] #154 closed, assigned to jcazevedo

[2017-03-29 20:28] melrief commented on #151
Solved with #169

[2017-03-29 20:28] #151 closed, assigned to melrief

[2017-03-29 20:37] melrief opened #191 "Update CHANGELOG for release 0.7.0"

[2017-03-29 21:09] ruippeixotog opened #193 "Make coproduct writers fail in compile-time when a conflicting key exists"
Currently, the only reason `CoproductHint#to` returns an `Either[ConfigReaderFailures, ConfigValue]` is in [CoproductHint.scala#L84](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/CoproductHint.scala#L84). When a `FieldCoproductHint` is used and a key used for disambiguating coproducts conflicts with an existing key, a writer for that class cannot be derived.

[2017-03-30 08:13] stsatlantis commented on #149
@jcazevedo You are right. No need for that.

[2017-03-30 08:13] #149 closed, assigned to nobody

[2017-03-30 13:46] melrief opened #194 "Created a "deprecated" branch for com.github.melrief organization"
As proposed by @jcazevedo in #189, we should publish the `pureconfig` artifact with the old organization `com.github.melrief` one last time with all the classes and methods deprecated and pointing to the new artifact.

[2017-03-31 18:44] #191 closed, assigned to nobody

[2017-03-31 18:45] melrief commented on #191
Done with #197 and #195

[2017-03-31 23:20] melrief commented on #194
Branch [`deprecated_artifact`](https://github.com/pureconfig/pureconfig/tree/deprecated_artifact) change all the methods and classes to be deprecated.

[2017-03-31 23:20] #194 closed, assigned to melrief

[2017-04-01 13:31] melrief opened #200 "Fix "Could not find any member to link for" in core scaladoc"
Specifically

[code]

[2017-04-01 13:37] melrief opened #201 "Add scaladoc creation test to CI"
The lack of `sbt packageDoc` in the building script for travis allows for broken documentation to be merged in master, e.g. in #200. This issue is for adding a check on the scaladoc.

[2017-04-01 13:57] melrief commented on #200
ToughWorksInc has a sbt plugin called [sbt-api-mappings](https://github.com/ThoughtWorksInc/sbt-api-mappings) which works well for scala libraries but not for typesafe config. Maybe it can be extended to work with typesafe config too, I have to study it.

[2017-04-02 18:52] melrief commented on #200
See [SI-9311](https://issues.scala-lang.org/browse/SI-9311) for another example of the same issue

[2017-04-02 18:55] #200 closed, assigned to nobody

[2017-04-04 07:51] david-bouyssie opened #204 "Custom key name"
If I understood correctly what is described din the field-mappings page (https://github.com/pureconfig/pureconfig/blob/master/docs/override-behaviour-for-case-classes.md#field-mappings), pureconfig allows to define a mapping between a key naming convention and another one for Scala fields.

However what it if keys are named with a mixed naming convention ?
I think it could be nice to annotate case

[2017-04-10 18:15] jcazevedo commented on #204
I don't like annotating domain classes with (de)serialization information as I think it pollutes the model with unrelated logic.

It is possible to do what you want by defining a custom `ProductHint` for the desired types:

[code]

Nonetheless, I think we can consider adding helpers to create a `ProductHint` from a map of field names to typesafe config keys, as it is a common use case.

[2017-04-11 10:48] david-bouyssie commented on #204
Very nice and unobtrusive solution!

Thanks ;-)

[2017-04-11 15:37] #187 closed, assigned to nobody

[2017-04-18 09:30] melrief commented on #204
@jcazevedo the idea of adding helpers is not bad at all, it could be used for special cases where the user needs to control field mapping. Do we want to create an issue for this?

[2017-04-20 10:17] drewhk opened #205 "[error] knownDirectSubclasses of ... observed before subclass ... registered"
I have a simple ADT setup:

[code]

This type is used as a member of another case-class that I load via pureconfig. It seemed to work, but then after a while it stopped compiling:

[code]

What is weird that I have not changed any of the classes involved here! It seems like a compilation order issue to me, but I don't know how to fix it.

[2017-04-20 11:47] tkroman commented on #205
The workaround is to manually define the problematic implicit (the one this macro is trying to create). I've done this with upickle, which provides a way to do this semi-automatically, where you don't need to write the actual code but just specify the subclass parts for the root implicit (http://www.lihaoyi.com/upickle-pprint/upickle/#ManualSealedTraitPicklers). You could check if something like t

[2017-04-20 11:48] drewhk commented on #205
I assumed also that it can work but I was not able to figure out how I can manually create the implicit.

[2017-04-21 12:41] melrief commented on #205
Hey Drewhk, thanks for opening the issue. I'm trying to reproduce your error but I'm unable to trigger it.

The steps that I've followed are:

I opened a test REPL with

[code]

I created the sealed trait:

[code]

Then checked if the `ConfigReader` was available, which it is:

[code]

Then I defined a class with a field of type `KeyStoreLocation` and checked again the `ConfigReader`, with no prob

[2017-04-21 12:46] drewhk commented on #205
I will try to do a more extensive reproducer.

[2017-04-21 13:02] melrief opened #206 "ConfigReaders and ConfigWriters for value classes"
In the Circe issues pjan posted a simple `Decoder`/`Encoder` with the issue [469](https://github.com/circe/circe/issues/469) for value classes which I think we should have in pureconfig. The solution is simple: it uses an evidence that the class to read/write `T` is a subclass of `AnyVal`, a reader for another class `U` and a [`Unwrapped.Aux`](https://github.com/milessabin/shapeless/blob/master/co

[2017-04-21 23:37] ruippeixotog opened #208 "Provide a CoproductHint to serialize sealed families of case objects"
One very common use case I have with pureconfig is to serialize enums (encoded as sealed families of case objects) as simple strings with the names of the options. I think that it is a case common enough for us to provide a `CoproductHint`.

[2017-04-25 21:49] #208 closed, assigned to ruippeixotog

[2017-04-25 21:51] melrief opened #210 "Support java.time.Duration"

[2017-04-25 21:52] melrief opened #211 "Support java.io.File"

[2017-04-25 22:33] #93 closed, assigned to ruippeixotog

[2017-04-26 03:15] leifwickland commented on #184
@melrief
I understand this one a bit better now, but I'm not entirely sure what is a reasonable thing to do in this case.

`Undefined` is an instance of `Duration.Infinity` which is designed not to be equal to anything including is. It's supposed to be roughly the equivalent of `Double.NaN`. See https://github.com/scala/scala/blob/2.12.x/src/library/scala/concurrent/duration/Duration.scala#L172

T

[2017-04-26 23:01] jcazevedo commented on #184
I'm inclined to prefer supporting `Duration.Undefined` through a new string in our config dialect, the same way we already support `"Inf"` and `"MinusInf"`.

Even though it is unlikely that someone will directly encode the value of `Duration.Undefined` in a config file, I think we should strive to support successful round-trips in our converters.

[2017-04-27 07:45] melrief commented on #184
I agree with @jcazevedo

[2017-04-27 20:42] leifwickland commented on #182
Here's another randonly generated example that I stumbled across:
[code]

As was the case with the prior example, the scalar is between 2^52 and 2^53.

[2017-04-27 20:44] leifwickland commented on #184
@melrief @jcazevedo Thanks for the feedback.

[2017-04-29 21:58] #184 closed, assigned to leifwickland

[2017-05-08 20:24] rberenguel commented on #210
Quick question before I try to dig deeper (which probably will not be today), this should be part of the core (might make sense) or a separate module (could also make sense actually)?

[2017-05-08 20:33] melrief commented on #210
Of the core. `java.time` is fully supported in core except for this class.

[2017-05-09 11:27] melrief opened #218 "loadConfig throws ConfigException$Missing if the namespace doesn't exists"
This should return a `Failure`, not throw exception.

[code]

I'm starting to think that we should wrap every part of typesafe config that we use in a safer wrapper.

[2017-05-09 14:12] rberenguel commented on #218
What's the most "scalactic" (scalese? scaly?) way of doing this? It seems straightforward enough to let me have a go (at least for this specific instance, covering all typesafe config needs probably more knowledge of pureconfig's internals than what I have

[2017-05-09 15:04] ruippeixotog commented on #218
Good catch. I believe the methods we use inside `ConfigConvert` instances are relatively safe (we just need to deal with returned `null` values, which we do). The methods in [package.scala](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/package.scala) were not targeted by our efforts when we changed from `Try` to `Either`, though.

[2017-05-09 15:53] melrief commented on #218
@rberenguel have a look at the [wrapper](https://github.com/pureconfig/pureconfig/blob/e4b7ec4d50f2d628230c676a8cde23dc2cc60df2/core/src/main/scala/pureconfig/backend/ConfigFactoryWrapper.scala) that we use to catch all the exception and convert them to a `ConfigReaderFailure`. Specifically, the method [`unsafeToEither`](https://github.com/pureconfig/pureconfig/blob/e4b7ec4d50f2d628230c676a8cde23d

[2017-05-09 22:29] rberenguel commented on #218
Thanks @melrief nice to see this done (going to be useful for the future). I understand you or @ruippeixotog are on this one?

[2017-05-14 13:30] ruippeixotog commented on #101
Is our objective with this module just providing `ConfigConvert` instances for `cats` data structures? Personally, the most important thing I expect from a cats module would be type class instances (such as `Monad` and `Contravariant`) for `ConfigReader`, `ConfigWriter` and possibly `ConfigConvert`. I don't know what you think about that, but I would leave this issue open until we had that :)

[2017-05-14 13:58] derekmorr commented on #101
I think that's a separate PR.

[2017-05-14 17:59] ruippeixotog commented on #101
I agree it's a separate PR, I only mentioned the issue.

I suggested leaving this open as "Supports for cats" is a pretty broad title, but if you want to open a new issue I'm fine with that.

[2017-05-15 19:14] melrief commented on #101
This is for the data structures of cats. Stuff like th enon empty structures can be very helpful (at least for me)

[2017-05-15 20:09] ruippeixotog commented on #101
Ok. Can we change the title of this issue to indicate this is "Support for cats data structures"? I'll open a new issue for including cats type classes. Do you agree that they should be provided in the `pureconfig-cats` module, too?

[2017-05-15 20:27] ruippeixotog opened #224 "Support for cats type classes"
Instances of cats type classes (like `Monad` and `Contravariant`) for `ConfigReader`, `ConfigWriter` and `ConfigConvert`, would be useful for people that want to use cats `syntax` package and need appropriate instances. We should probably provide them in the `pureconfig-cats` module.

[2017-05-15 20:38] #206 closed, assigned to melrief

[2017-05-17 20:06] ruippeixotog commented on #146
Hi @mslinn! I'd like to understand better what you mean with "ConfigConvert methods". You have `ConfigConvert` instances for all Scala-equivalent JSON types (`Int`, `Double`, `Boolean`, `List[A]`, `Map[K, V]`), so you can read from and write all JSON types to a config.

Or did you need a method to build a `ConfigConvert` from a number, just like `ConfigConvert.fromString`? Can you give me an examp

[2017-05-18 00:06] derekmorr commented on #101
I've renamed this issue per the comment above. I think the `pureconfig-cats` module is a logical place to put cats type classes.

[2017-05-18 19:19] #101 closed, assigned to derekmorr

[2017-05-18 19:25] #182 closed, assigned to leifwickland

[2017-05-18 19:41] ruippeixotog commented on #201
I believe `sbt doc` is enough to check that the docs do not have errors. `packageDoc` will additionally package them into a JAR.

[2017-05-20 14:06] derekmorr opened #230 "support for java Enum"
If possible, I'd like pureconfig to support reading arbitrary java `Enum`s.

[2017-05-20 14:08] derekmorr commented on #230
I tried to implement this, but couldn't get it working:

[code]

I'm not sure how to get the class of `T` to pass into `valueOf()`'s first argument. Alternatively, since we know that `T` is an `Enum[T]`, it seems we should be able to call T's static `valueOf()` function.

Just documenting my (incomplete) progress here in case anyone wants to pick this up and finish it.

[2017-05-20 14:28] #211 closed, assigned to nobody

[2017-05-20 15:41] #201 closed, assigned to derekmorr

[2017-05-20 16:11] derekmorr commented on #210
This was addressed by #217.

[2017-05-20 16:11] #210 closed, assigned to nobody

[2017-05-21 02:50] derekmorr opened #233 "Add new Squants units to squants module"
In Squants 1.3 (to be released soon), we've added new units - https://github.com/typelevel/squants/pull/227. I need to update the squants module to support these.

[2017-05-21 02:54] derekmorr opened #234 "Support QuantityRange in squants module"
Squants has a custom `Range` implementation for units, [QuantityRange](https://oss.sonatype.org/service/local/repositories/releases/archive/org/typelevel/squants_2.11/1.2.0/squants_2.11-1.2.0-javadoc.jar/!/index.html#squants.QuantityRange). It would be nice to support this (I personally have a need for it in a work project).

I'm thinking that we can parse a two-element list from HOCON into a Quan

[2017-05-21 22:50] #230 closed, assigned to nobody

[2017-05-22 08:33] #224 closed, assigned to ruippeixotog

[2017-05-23 09:36] pawanlamba opened #239 "CamelCase is converted to lowercase with hiphen"
In the example mentioned on website If I change one of the variables as camelCase its not supported.
Versions:
Scala : 2.11.9
PureConfig: 0.7.0

sealed trait MyAdt
case class AdtA(a: String) extends MyAdt
case class AdtB(b: Int) extends MyAdt
case class Port(value: Int) extends AnyVal
case class MyClass(
  boolean: Boolean,
  port: Port,
  adtTrue: MyAdt,
  list: List[Double],
  map: Map[String, S

[2017-05-23 23:59] leifwickland opened #240 "Document the project's rules"
The PureConfig authors have agreed various times on the project's rules for merging PRs, etc. We ought to document those somewhere so that we can follow them more easily.

[2017-05-24 00:06] leifwickland commented on #239
@pawanlamba17
Thanks for giving PureConfig a try.

It appears to me that the behavior you're seeing is what's to be expected.

By default PureConfig uses `kebab-case` for fields in the config. That behavior is [documented here](https://github.com/pureconfig/pureconfig/blob/master/docs/override-behaviour-for-case-classes.md#field-mappings).

If you'd like to use `camelCase` in your config instead,

[2017-05-24 00:06] #239 closed, assigned to nobody

[2017-05-24 04:24] leifwickland commented on #234
@derekmorr,
I would naively expect that you'd handle this by writing a config like:
[code]
Are you considering the list just for conciseness?

If you represented it with `lower` and `upper` would PureConfig just work it out or would it need something additional to help assure it that that `ConfigConvert` existed for `QuantityRange`'s `[A]`?

Sorry if my questions are painfully naive.

[2017-05-24 12:13] derekmorr commented on #234
You're right. For some reason I was thinking `QuantityRange` wasn't a case class. I'll close this.

[2017-05-24 12:24] derekmorr commented on #234
Hmm, I spoke too soon. Looks like pureconfig is trying to parse the strings as ints:

[code]

[2017-05-24 13:12] jcazevedo commented on #234
@derekmorr: I've just tried your example with the `master` branch, and it seems to work as expected:

[code]

[2017-05-24 13:18] jcazevedo commented on #234
The failure you're getting is only raised when we attempt to derive a traversable from a `ConfigObject`, in which case we assume the object must contain integer keys. I find it weird for that failure to be raised in that situation.

[2017-05-24 13:44] derekmorr commented on #234
Ah, you're right. My apologies. I had some in-progress changes that caused the failure. I guess I haven't' had enough coffee today. Sorry for the spurious bug. I'll close this again.

[2017-05-24 13:44] #234 closed, assigned to derekmorr

[2017-05-24 15:06] #190 closed, assigned to jcazevedo

[2017-05-24 15:08] jcazevedo commented on #147
Fixed in #238.

[2017-05-24 15:08] #147 closed, assigned to jcazevedo

[2017-05-25 19:09] #233 closed, assigned to derekmorr

[2017-05-26 04:00] vsuharnikov commented on #239
@leifwickland I tried to migrate a few days ago and gave up. We have a huge configuration and we have been using `pureconfig` since `0.3.3`. Thus, to migrate I have to write hints for each of 50+ classes if I understood right.

If that is true, is there a way to make a default naming configurable? For example, by using [system properties](https://docs.oracle.com/javase/tutorial/essential/environme

[2017-05-26 18:20] leifwickland commented on #239
@vsuharnikov
Adding the following line before you call `loadConfig` should change the default mapping for all types.
[code]

Is that not the behavior you're seeing?

[2017-05-26 19:21] ruippeixotog commented on #239
I'll just add that alternatively, you can create that `hint` in one Scala `object` and just import it in the files in which you load configs.

[2017-05-26 23:07] ruippeixotog opened #244 "parseFile and loadFile doesn't fail if the file doesn't exist"

[2017-05-27 15:38] vsuharnikov commented on #239
@leifwickland @ruippeixotog It's obvious, I do not know why I did not understand it earlier. So i feel very stupid :D

Thank you guys for this great library!

[2017-05-27 15:43] leifwickland commented on #239
@vsuharnikov I'm glad it worked out. Thanks for using PureConfig.

[2017-05-27 17:58] #244 closed, assigned to ruippeixotog

[2017-05-27 18:38] ruippeixotog opened #248 "Improve failure description of CannotReadFile"

[2017-05-27 18:41] ruippeixotog commented on #140
Hi @dbousamra! Did you manage to solve your problem?

[2017-05-28 12:38] #218 closed, assigned to ruippeixotog

[2017-05-28 16:14] leifwickland commented on #218
Rui, please ensure this gets added to the change log.

On May 28, 2017 06:38, "Rui Gonçalves" <notifications@github.com> wrote:

[2017-05-28 17:52] ruippeixotog commented on #218
Thanks @leifwickland, I forgot about it! Added in #250, along with other forgotten entries.

[2017-05-30 21:58] derekmorr opened #255 "support arbitrary precision numeric types"
We should support `scala.math.{BigDecimal, BigInt}` and `java.math.{BigDecimal, BigInteger}`

[2017-05-31 22:51] ruippeixotog opened #256 "Add an easy way to define exceptions to field mappings"
The motivation for this is in #204. Sometimes, we want to define a custom field mapping for a specific key of a case class. This is particularly common when the field has numbers - for example, with the default field mapping a field named `s3BackupLocation` is mapped to the config key `s-3-backup-location`, while most of us would expect it to be `s3-backup-location`.

[2017-05-31 22:52] ruippeixotog commented on #204
I have just opened #256 and I'm going to take care of it in the next days :)

[2017-06-01 21:34] pjan opened #257 "loadConfigFromFiles with namespace argument"
We're running into a case where we need to parse multiple files (so we can cleanly override substitutions across files), but at the same time want to tell pureconfig from wich namespace to parse.

Looking at the api, it seems this case is not covered. If confirmed, and I get a pointer on how you would like the signature to look like (since the original function accepts varargs, the namespace can't

[2017-06-01 22:02] melrief commented on #257
We probably need another [`loadConfigFromFiles`](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/package.scala#L274) with the namespace as second argument, something like

[code]

I'd like the opinion of another author about this because in theory the functionality can already be implemented with the current API by the user by just loading the configurations sep

[2017-06-01 23:05] leifwickland commented on #257
@pjan Do you want to load into a single namespace or different namespaces per file?

[2017-06-04 17:56] ruippeixotog opened #261 "Restore the previous behavior of `loadConfigFromFiles`"
PR #245 broke the contract of `loadConfigFromFiles`:

[code]

We should restore it, as the description mentions a valid use case for the previous behavior that could have been followed by many users.

[2017-06-06 19:16] #261 closed, assigned to ruippeixotog

[2017-06-08 18:37] kellen opened #263 "Unexpected behavior with Option"
I'm seeing some inconsistent and unexpected behavior with `Option`.

When a field is optional in a config class, it defaults to `None`, so this works:

[code]

If, however, you move the `Option` into the parameters for `loadConfigOrThrow`, no such defaulting occurs, and the load fails with an exception:

[code]

Also, defaults are not respected:

[code]

For case `B`, it appears a top-level check

[2017-06-08 23:09] ruippeixotog commented on #263
Hi @kellen! Thanks for submitting this. They are both interesting corner cases - I guess we didn't give much thought to them before.

First of all, note that pureconfig does not treat `Option[T]` as a special type - there are no explicit checks if a type is an option to allow missing keys. There is an `AllowMissingKeys` trait that any `ConfigConvert` instance can extend in order to get full contro

[2017-06-09 14:02] kellen commented on #263
@ruippeixotog In the case of [iheartradio/ficus](https://github.com/iheartradio/ficus), which has similar goals (and from which I am switching) `B` is handled like this:

[code]

Which seems more intuitive to me.

In the case of `C`, ficus requires more wrangling since it requires a config path for extraction. My solution for this has been to place a "local" config at a known path, then extract fr

[2017-06-09 16:13] ruippeixotog commented on #263
I opened #264 for changing the behavior of `C` to the one you showed.

Regarding `B`, the solution typically shown in the pureconfig documentation is writing a case class for the outer level. I guess we can make pureconfig fail with `KeyNotFound` only if the `ConfigConvert` is not `AllowMissingKey`; otherwise, we pass `null` to the reader and return its result. @melrief, @leifwickland, @jcazevedo,

[2017-06-09 22:01] melodious opened #265 "Loading configs to a specific subclass that is defined in a java library"
I have a 3rd party java library with an interface and several implementations. I would like to be able to load configurations to the correct subclass similar to what is done for sealed traits and case classes. I assume I need to do something custom but I am not sure where to begin. Any help would be appreciated.

[2017-06-09 22:27] ruippeixotog commented on #265
Hi @melodious! In order to support any custom type you have to provide an implicit instance of `ConfigReader`, as shown in the [Support new types](https://github.com/pureconfig/pureconfig/blob/master/docs/support-new-types.md) section on the documentation.

For creating a `ConfigReader` for a Java interface, I'd probably go with either subclassing `ConfigReader` directly in order to provide your i

[2017-06-09 23:11] #256 closed, assigned to ruippeixotog

[2017-06-09 23:12] #204 closed, assigned to ruippeixotog

[2017-06-09 23:12] ruippeixotog opened #266 "Non-deterministic failures at DateTime tests"
I just saw an error occurring in Travis on d57a9c5. Since Travis does not keep a history of retried builds, I'll leave the information here:

[code]

The full log is here: [log.txt](https://github.com/pureconfig/pureconfig/files/1065408/log.txt)

[2017-06-10 14:49] jcazevedo commented on #263
I guess it's reasonable to assume that if we have the following:

[code]

This would hold:

[code]

I tend to prefer what you suggested (failing with `KeyNotFound` only if the `ConfigConvert` is not `AllowMissingKey`).

[2017-06-10 18:38] ruippeixotog commented on #263
Right now, that doesn't hold for any type that is not represented by an object:

[code]

In fact, it throws an exception when it clearly should at least return a `Left`.

Using `loadConfig` with `namespace` requires the value in that namespace to be a proper `Config` - the same requirement used for root configs. I guess that the initial purpose of that method was to make a config file hold various

[2017-06-11 00:30] melrief commented on #265
Hi @melodious, thanks for the question. I would like to expand the answer from @ruippeixotog because I think that supporting new **complex** types, like a set of implementation for an interface in Java, is an important topic to discuss. The README explains how to create `ConfigReader` instances for simple types but it lacks information for complex types. I'll try to explain here how to support som

[2017-06-11 01:15] ruippeixotog commented on #265
Great tutorial for the creation of readers for custom complex types, @melrief! We should definitely have a thing such as this in our documentation :) I also agree that method 2 is a superior solution when you want to reuse the derivation capabilities provided by pureconfig.

[2017-06-11 22:14] jcazevedo commented on #263
Probably.

However, if the intent of using any of the `loadConfig*` variants with `namespace` was to scope sub-configs as you described, then it makes sense to only allow it if the namespace points to a `ConfigValue` that could be lifted to a `Config` (in this case, only `ConfigObject`). In that case, I'm inclined to prefer always failing if the namespace doesn't exist, but I'm not too strong abou

[2017-06-12 14:17] melodious commented on #265
@melrief Thank you so much for this very clear tutorial. This helps a ton!

[2017-06-12 15:26] leifwickland commented on #265
@melrief Excellent work. I second the idea that belongs in the docs.

[2017-06-12 16:03] melrief commented on #265
@ruippeixotog @leifwickland I was going to do it after Rui proposed it. I didn't have much time available in the previous days but I hope I'll be able to do it soon. I also agree this mini tutorial should be in the docs 😄 .

[2017-06-16 18:26] melrief commented on #140
@dbousamra I'm closing this now, if you still have the problem let us know and we will reopen it.

[2017-06-16 18:26] #140 closed, assigned to nobody

[2017-06-16 19:48] #248 closed, assigned to ruippeixotog

[2017-06-20 21:51] jukiewiczm opened #267 "Pureconfig & spark & maven (shade plugin)"
Hello,
I am trying to use pureconfig together with spark (spark submit). Basically, my question is described here https://stackoverflow.com/questions/44658970/spark-with-pureconfig-proper-maven-shade-plugin-configuration
I can see there's a nice section in your README on how to handle this with sbt. Would you be so kind and provide guidance on how to handle this with maven? I'm having trouble work

[2017-06-21 00:34] leifwickland commented on #267
@jukiewiczm Thanks for using PureConfig.

I believe you could create a private copy of shapeless in a maven project using either [JarJar Maven](https://sonatype.github.io/jarjar-maven-plugin/) or the [class relocation feature of Maven Shade](https://maven.apache.org/plugins/maven-shade-plugin/examples/class-relocation.html).

Please let me know how it goes.

Thanks,

Leif

[2017-06-21 07:01] jukiewiczm commented on #267
@leifwickland thank you for the answer
The relocation package is what I've been actually trying to use, but unfortunately I wasn't able to get it to work. The simple relocation of the shapeless does not seem to help unfortunately.

Edit: What I am actually failing to do is probably changing the dependency name in the pureconfig library itself. It seems I don't know how to specify sbt's `inLibrary`

[2017-06-21 08:36] jukiewiczm commented on #267
I solved my own issue, it turned out I was using shade plugin improperly (used wrong package pattern).
Check https://stackoverflow.com/a/44670856/2807379 to see how it works.
Thanks for the help and thanks for creating PureConfig!

[2017-06-21 08:36] #267 closed, assigned to nobody

[2017-06-21 18:10] #265 closed, assigned to nobody

[2017-06-21 18:12] melrief opened #269 "Add how to shade shapeless for PureConfig when using Maven"
Following #267, I think we should add a section on how to shade shapeless for PureConfig also when Maven is used. I can do it as soon as I'm at home.

[2017-06-21 18:44] melrief opened #270 "Add section to the README on how to add support for complex types"
Following #265, we should add a section to the README that explains how to support more complex types.

[2017-06-21 22:58] jcazevedo opened #274 "Use ConfigList by default when reading and writing Scala tuples"
Scala tuples currently get serialized as `ConfigObject`s with keys `_1`, `_2`, etc. Even though I think we should still support reading from this format, I think it's more natural for tuples to be serialized as lists (and consequently `ConfigReader`s for tuples should be able to read from lists).

[2017-06-21 23:03] melrief commented on #263
I interpret `loadConfig[Option[B]]` as "try to load `B` and if you fail give me back a `Right(None)`" which doesn't make much sense imho. You can convert the result of a `loadConfig` into an `Option` by just calling `toOption` on it or by working on single errors, like `KeyNotFound`. Said that, @ruippeixotog your solution of failing with `KeyNotFound` only if the `ConfigConvert` is not `AllowMissi

[2017-06-22 00:14] ruippeixotog commented on #263
I could understand the use case you really want to load a single field from a config - although admittedly it doesn't seem a very common one. But I like the idea that you can load any value with a `ConfigReader` from a config, a thing that you can't easily do now.

I think that we all agree on this algorithm for `loadConfig[A]` at a given `namespace`:

- Get the config value of the last parent in

[2017-06-22 01:56] leifwickland commented on #274
I think this sounds like a good idea.

[2017-06-22 07:51] ruippeixotog commented on #274
I also agree. As a user, the most natural representation of a tuple in a config for me would be an array...

[2017-06-22 22:07] melrief commented on #274
I think it's a good idea too, just keep in mind this is a breaking change.

[2017-06-22 22:11] melrief commented on #263
@ruippeixotog I agree, thanks.

[2017-06-23 14:33] sirthias commented on #205
Nesting the ADT "cases" in the super types companion object, as is a popular name spacing technique, appears to trigger this problem.
For instance

[code]

[2017-06-23 16:24] leifwickland commented on #263
@ruippeixotog Seems reasonable.

[2017-06-23 16:48] leifwickland commented on #205
@sirthias Would you please consider submitting a test case to reproduce? The EnumTest.scala would be a good place to start copying from.

[2017-06-24 00:43] kellen commented on #263
I have a reading with a minor semantic difference: "load B if it exists, otherwise give me `Right(None)`"

An example of when you may wish to do this: Say you have some software that can be extended with plugins where the plugins are enabled by providing a list of the plugin names. Since you may have no plugins, this list is optional. In scala code, I'd model this as `Option[List[String]]`.

So in

[2017-06-24 13:06] ruippeixotog commented on #263
I think that `loadConfig[Option[B]]` can't be interpreted as anything other than "try to load B as an `Option[B]` and give me back a `Right(value)` if you do". I think that we should really emphasize that for pureconfig, `Option[B]` is _not_ some special type representing "existence" of a value. If I ever want to create my own `CustomOption` type, I'd be able to give it the same behavior, and if I

[2017-06-25 14:10] #269 closed, assigned to melrief

[2017-06-26 13:39] sirthias commented on #205
Done: https://github.com/pureconfig/pureconfig/pull/278

[2017-06-26 13:53] leifwickland commented on #205
@sirthias Thanks!

[2017-07-05 23:20] #263 closed, assigned to ruippeixotog

[2017-07-12 13:26] onzo-vlamp opened #284 "How to avoid the need to import custom ProductHint on loading config"
Hi,
I am consistently using camelCase for config keys, and I use a single entry point to read config from, used in multiple places (tests etc) (provided bellow). I currently need to consistently import a camelCase product hint in every place that uses that method (or `loadConfig` directly for that matter).
Config parser method:
[code]
You can see I tried a few naive things around trying to avoid h

[2017-07-14 10:44] francisdb opened #285 "release tags missing"
https://github.com/pureconfig/pureconfig/tags

they stop at 0.6.0 but the changelog talks about 0.7.2

[2017-07-14 10:57] ruippeixotog commented on #285
Hi @francisdb. The tags all exist, but they are at the end of that list: https://github.com/pureconfig/pureconfig/tags?after=v0.1.2. We retroactively tagged old versions recently, and I think GitHub doesn't allow us to order them alphabetically...

[2017-07-14 11:29] francisdb commented on #285
I see, should fix itself with the next release then.

[2017-07-14 11:29] #285 closed, assigned to nobody

[2017-07-14 11:32] stefanobaghino commented on #284
Hi @onzo-vlamp, I actually wanted to address this for a while as in my company we have several projects that use `camelCase` syntax as well and started working with `pureconfig` before the default was switched to `kebab-case`, meaning that we are currently stuck with the latest version that used `camelCase` as a default (`0.5.0` if I'm not mistaken).

A possible way to address this, that would req

[2017-07-14 11:33] jcazevedo commented on #285
I'm not sure if we want to do it, but it's possible to alter the date of the tags to match the date of the commit they're associated with.

[2017-07-14 11:37] ruippeixotog commented on #285
I didn't know tags had an associated date in git, I thought it was only a GitHub thing. If that's possible I think it would be nice to do it :)

[2017-07-14 11:52] jcazevedo commented on #285
I've updated the tags' dates to match the associated commit date, so the GitHub ordering should be fixed now.

[2017-07-14 15:58] francisdb commented on #285
👌

[2017-07-14 20:58] onzo-vlamp commented on #284
I tracked down the cause a bit: `ProductHint` is used during *creation* of the `ConfigReader` typeclass. Therefore, any generic method that receives an implicit `ConfigReader` cannot affect its behaviour because of that. I think the solution is to make a custom object that provides the implicit readers. Will come back to this :)

[2017-07-15 10:09] V-Lamp commented on #284
@stefanobaghino Just found a solution :)
[code]
You still need to explicitly import this object into the scope you want, or create a package object that extends the trait, what fits you best.
But it is better in the sense that it is a more obvious explicit import of implicit readers. Plus Intellij can pickup that this import is being used :)
I think that a more robust solution requires changes on

[2017-07-15 11:06] ruippeixotog commented on #284
Hi everyone. Like @V-Lamp said, changing the default field mapping without importing or defining anything in code is not possible currently. As you discovered, it suffices to import a simple object with a hint:

[code]

It doesn't need to extend `BasicReaders` and `DerivedReaders`.

@onzo-vlamp, since you already have a `parse` method that encapsulates the pureconfig machinery, consider removing t

[2017-07-15 11:19] V-Lamp commented on #284
Hi @ruippeixotog (and sorry for the two accounts, I commented intially on my work one, onzo-vlamp)

The only benefit of having the object of having the object extending the `DerivedDrivers` is that it makes it Intellij-friendly really, because that way `import CamelCaseReaders._` is not marked as unused :)

I didn't go for concrete config object because the overall idea for my code is a more like

[2017-07-24 16:07] derekmorr commented on #255
This was resolved by #258

[2017-07-24 16:07] #255 closed, assigned to derekmorr

[2017-07-24 16:09] melrief commented on #146
@mslinn I close this because we use our own converters to get `Number` and `Boolean` and they are much more powerful than the ones provided by typesafe config and have better error messages.

[2017-07-24 16:09] #146 closed, assigned to nobody

[2017-07-24 16:10] #155 closed, assigned to nobody

[2017-07-24 16:23] derekmorr opened #286 "Release 0.8"
There have been a significant number of changes since 0.7.2 in May 2017. These include #282, #275, #264, #262 which change default behavior and restructure internals. We should release a new version of PureConfig and increment the version number to indicate that we're breaking compatibility.

[2017-07-24 16:29] ruippeixotog commented on #193
Closing this since it cannot be done in the general case (particularly when dealing with user-defined readers for sealed trait options).

[2017-07-24 16:29] #193 closed, assigned to nobody

[2017-07-24 16:39] melrief commented on #35
#279 should fix this

[2017-07-24 16:49] jcazevedo opened #287 "Introduce cursors in ConfigReaders and possibly ConfigWriters"
Currently, `ConfigReader`s lack context on where in the configuration we are, since we deal with `ConfigValue`s directly. Amongst other things, this forces us to rely on calling the `improveFailures` method explicitly to add better context to reading failures. Custom implementations of `ConfigReader`s might not call it and therefore the error locations become unreliable. Introducing cursors would

[2017-07-24 16:59] mslinn opened #288 "Where is the Scaladoc?"
Google showed me [this location](https://www.javadoc.io/doc/com.github.pureconfig/pureconfig-akka_2.12/0.7.2), but the Scaladoc is empty. If Scaladoc is not currently published, why not put Scaladoc in the `gh-pages` branch of this repo? I have found the following to work well:

Create the `gh-pages` branch with [this script](https://gist.github.com/mslinn/d7529a687df9479d93c4ba9b9d4b2e4b) - you w

[2017-07-24 17:00] jcazevedo opened #289 "Create a site for PureConfig"
I think a small site for PureConfig would allow easier navigation through the documentation. I think [sbt-microsites](https://47deg.github.io/sbt-microsites/) can help us in rendering our documentation.

[2017-07-24 17:24] mslinn commented on #146
Where are those converters? I found [modules](https://github.com/pureconfig/pureconfig/tree/master/modules) but none of them seem like what you are talking about.

[2017-07-24 17:24] leifwickland commented on #288
@ruippeixotog pointed out that this is due to a bug in scaldoc: https://github.com/scala/bug/issues/8124

[2017-07-24 17:34] mslinn commented on #288
Odd I've never encountered that bug. I'm sure I've provided the circumstances. You could fix it like this:

[code]
... and then add the link to the Scaladoc to `README.md`

[2017-07-24 19:59] derekmorr opened #290 "add link to javadoc in readme"
If we publish scaladoc jar files, we can link to them on javadoc.io as an easy way to get the docs online.

From their readme:

[2017-07-24 22:45] ruippeixotog commented on #290
Looking at http://central.maven.org/maven2/com/github/melrief/pureconfig_2.12/0.7.0, it seems that we already publishing javadoc JARs, isn't it? I believe it is also SBT's default.

[2017-08-01 19:18] sidhant92 opened #292 "could not find implicit value"
Hey guys im getting the following error:

could not find implicit value for parameter reader: pureconfig.ConfigReader

And the funny thing is this error is very random. Sometimes its coming sometime its not. What should i do to fix it.

[2017-08-01 19:57] sidhant92 commented on #292
Okay i noticed that im getting this error whenever my case class includes a variable whose type is a sealted trait having many sub case classes.

[2017-08-01 20:04] leifwickland commented on #292
Hi, @sidhant92.

Sorry you're having trouble.

To encode an ADT like your sealed hierarchy, PureConfig needs a little help because there's no native representation of it. Either you'll need to create an enum for it (see https://github.com/pureconfig/pureconfig/tree/master/modules/enumeratum or  https://github.com/pureconfig/pureconfig/tree/master/modules/enum) or provide a `CoproductHint` that tel

[2017-08-02 08:11] sidhant92 commented on #292
@leifwickland I used this https://github.com/pureconfig/pureconfig/tree/master/modules/enumeratum

But here instead of case object i had case classes.
The implicit issue was solved after this.
But then i started getting this error:
Left(ConfigReaderFailures(CannotConvert.
It cant map it to the correct case class.

[2017-08-02 09:40] sidhant92 commented on #292
@leifwickland And with no changes done the config is loading absolutely fine. Its just that its not compiling it.
And once i load the config in console after that it compiles also successfully until i do a clean compile.

[2017-08-02 11:32] sidhant92 commented on #98
@melrief What workaround has been found for this? Im having the same issue. My Nested Case Classes is not compiling. Its not related to AnyVal.

[2017-08-02 19:58] leifwickland commented on #292
@sidhant92 Apologies. I gave you bad advice. I missed the fact that you had `case class`es, not `object`s. I'm sorry.

This page documents the behavior that should be happening in your case:
https://github.com/pureconfig/pureconfig/blob/master/docs/override-behaviour-for-sealed-families.md

Theoretically, it should compile without anything additional. To successfully read the config, the config el

[2017-08-03 05:01] sidhant92 commented on #292
@leifwickland Yes thats the use case. I am using the type parameter in the config to load the correct case class. The problem is that when the case classes hierarchy is in different files the compiler is giving the implicit error. But manually in the console it loads the config correctly.
The issue is somewhat related to this:
https://github.com/pureconfig/pureconfig/issues/98

[2017-08-03 15:01] leifwickland commented on #292
@sidhant92,

I think the problem arises when you put the classes of the hierarchy into different files. More specifically when you put the classes into different files, the trait can no longer be `sealed`. The Shapeless magic underlying PureConfig requires that the trait be `sealed`.

You can see the effect of removing sealed in the PureConfig unit tests. If you remove `sealed` from [`AnimalConfig

[2017-08-03 16:19] sidhant92 commented on #292
@leifwickland My traits are sealed just defined in different files.
Please look at the repo i have created to demonstrate the issue:
https://github.com/sidhant92/pureconfig-test

On compiling it gives the error:
could not find implicit value for parameter reader: pureconfig.ConfigReader[config.Zoo]

[2017-08-03 17:40] andresilva opened #293 "Declaring booleans in config with "yes"/"no""
The typesafe config supports setting boolean values as "yes"/"no" in the config file. This is currently not working in pureconfig.

[2017-08-03 19:35] leifwickland commented on #292
@sidhant92,

Thanks for the sample project. It sure looks to me like the `could not find implicit value for parameter reader` goes away if the files are in the same directory as each other, regardless of which package they are in. If I `mv src/main/scala/config/* src/main/scala` the code compiles.

I'm saying that's a good solution; it's simply what I saw.

@ruippeixotog @melrief @jcazevedo Is fai

[2017-08-03 19:55] leifwickland commented on #292
I tried moving the classes in @sidhant92's sample out of the root package, but that didn't fix the problem.

I tried moving the `AnimalConfig` in pureconfig's unit tests into a nested directory to mimic what @sidhant92's sample project, but that didn't replicate the problem.

[2017-08-03 19:58] ruippeixotog commented on #292
Hi @sidhant92,

I tried running your project and I was able to replicate the problem. However, if I use the latest Scala 2.11.x version (2.11.11) the problem doesn't seem to happen.

Before looking deeper into the problem, is there any reason why you're not using Scala 2.11.11? If not, updating it would solve your problem.

[2017-08-03 20:12] leifwickland commented on #292
Good point, @ruippeixotog. I had tried updating to 2.11.8, but that didn't fix the problem. It appears that 2.11.9 is the point that something was fixed in scalac.

[2017-08-03 20:19] sidhant92 commented on #292
@ruippeixotog No specific reason. Its just that we were using 2.11.4 on our prod systems and upgrading it might cause some issues. We can try doing that and see what happens.

[2017-08-03 21:14] leifwickland commented on #292
It looks like Scala 2.12.0 has the same bug. It's fixed in 2.12.1. Perhaps we ought to recommend minimum scala versions in the README.

[2017-08-03 22:54] ruippeixotog commented on #292
I'd like first to find out the problem with PureConfig on this specific code, since it shouldn't happen at all.

We don't warn about minimum Scala versions because patch versions (A.B.C) of the same minor (A.B) should be binary compatible among them. Moreover, Scala 2.11.8 and 2.12.0 were "latest versions" in the past and we never had that bug, so something like this appearing now is very strange.

[2017-08-04 17:29] timothyklim commented on #286
@jcazevedo @ruippeixotog Is there any plans to release?

[2017-08-04 22:36] ruippeixotog commented on #292
Unfortunately, the problem seems to be #205 once more... In short, the compiler is not loading the subclasses of `Animal` before shapeless tries to derive a generic representation of `Animal`.

You can try the following in your example project to observe the strangeness of the issue:

- Replace `loadConfig[Zoo]` by `loadConfig[Cat]` and check that the code compiles (you can comment the `configsMap

[2017-08-06 12:55] melrief commented on #286
I've created a milestone for [`0.8.0`](https://github.com/pureconfig/pureconfig/milestone/6). @TimothyKlim there is still some work that we would like to do before the next release. Version `0.8.0` will probably be released in one or two weeks.

[2017-08-06 19:09] timothyklim commented on #286
Thanks!

[2017-08-07 11:01] #293 closed, assigned to jcazevedo

[2017-08-08 18:56] sidhant92 commented on #292
@ruippeixotog Thanks for the info. Yes ill update my scala version to solve the issue.
I have updated the repo https://github.com/sidhant92/pureconfig-test
Now again im getting the same error with version 2.11.11. Can you please check whats happening.
Thanks

[2017-08-08 23:06] ruippeixotog commented on #266
It has just happened again:

[code]

By the looks of the two failing datetimes, it seems that we are generating illegal instants due to daylight saving time "shifts".

[2017-08-09 15:09] kailuowang opened #298 "Can we mention pureconfig in cats' README?"
in the list of cats ecosystem projects.

[2017-08-09 16:45] leifwickland commented on #292
@sidhant92 It appears that as of commit `ccf7bf1`, upgrading to 2.11.11 fixes your problem.

The issue you're seeing now is a different problem as far as I can tell that's due to the addition of:
[code]
It seems there are two problems there.
1. If I simplify that to just `size: AnimalSize` then I start getting errors like:
[code]

2. Even if I rearrange your code to avoid that problem, using `Anim

[2017-08-09 20:16] sidhant92 commented on #292
@leifwickland Thanks for the info. Sorry had missed had that detail.

[2017-08-14 00:36] ruippeixotog commented on #298
Hi @kailuowang, I'm totally ok with it.

I believe @melrief, @leifwickland, @jcazevedo and @derekmorr won't have a problem with it either, but let's wait for a response from them.

[2017-08-14 01:04] leifwickland commented on #298
Fine by me. It's a bit odd as PureConfig attempts to support Cats, rather than consume Cats for the purpose of using its features. It's a pedantic difference that only I'll ever notice probably.

[2017-08-15 00:09] jcazevedo commented on #298
I'm also ok with it.

[2017-08-16 07:41] melrief commented on #298
I'm ok with it

[2017-08-16 08:35] melrief opened #301 "Scalaz tagged types problems when used in products"
Today I hit a strange bug when using PureConfig and Scalaz tagged types. Let's say that we have a project with this setup:

[code]

and a source file trying to create a `ConfigReader` instance for Scalaz Tag:

[code]
then `ConfigReader[Conf]` is not materialized because of some problem happening in the derivation. Worse, I'm not sure what the issue is, given the fact that `LabelledGeneric` is foun

[2017-08-16 20:21] #270 closed, assigned to melrief

[2017-08-16 20:45] ruippeixotog commented on #301
It may be because of https://github.com/milessabin/shapeless/issues/584, but I think that `Derivation` should be able to print more than that. I'll investigate it this weekend and maybe by debugging the macro I'll find more information about the issue.

[2017-08-16 22:20] ruippeixotog commented on #292
I think that we can close this since #294 was merged and the other issues were already solved. Please let us know if we missed something!

[2017-08-16 22:20] #292 closed, assigned to nobody

[2017-08-16 22:21] ruippeixotog commented on #35
Closed by #279.

[2017-08-16 22:21] #35 closed, assigned to nobody

[2017-08-24 16:47] fommil opened #304 "disable automatic derivation"
My team prefers semi-auto derivation as per https://github.com/fommil/stalactite

It would be great if you followed the pattern for derivation laid out in https://github.com/milessabin/export-hook to

1. avoid lots of corner cases you may not have considered
2. allow users to opt-in to full generic derivation

thanks for a great library!

[2017-08-27 08:53] #274 closed, assigned to jcazevedo

[2017-08-27 09:05] melrief commented on #298
@derekmorr what do you think about it?

[2017-08-27 12:01] derekmorr commented on #298
That's fine with me.

[2017-08-27 14:04] melrief commented on #298
@kailuowang then the answer is yes :). I'll close this.

[2017-08-27 14:04] #298 closed, assigned to nobody

[2017-08-28 02:02] pjan opened #307 "TraversableOnce Generic Decoder broken in 0.8.0"
I have a config that contains a `Set[String]` but upon upgrading to 0.8.0, a runtime exception gets thrown

Code:
[code]

Log:
[code]

[2017-08-28 02:02] pjan commented on #307
FWIW: worked fine in `0.7.2`

[2017-08-28 17:15] melrief commented on #307
Hey @pjan, thanks for submitting the bug. I've just tried from the shell at it seems to work for me:

[code]

also the tests about `TraversableOnce` are all passing.

I may be wrong and it's difficult to tell only from the stack trace but I think the problem that you are experiencing is caused by some issues in the dependencies of your project. If I have to guess I would say that there is an issue

[2017-08-31 02:21] #286 closed, assigned to nobody

[2017-09-10 03:04] briangordon opened #308 "Support auxiliary constructors for case classes"
I found it nice that if there's a default argument in a case class then pureconfig will use it to construct the instance. For example for the config:

[code]

This will work fine:

[code]

But if we want to put some more sophisticated logic into the constructor:

[code]

pureconfig will fail with `Key not found` with the above config.

[The other means](https://github.com/pureconfig/pureconfig/blo

[2017-09-10 11:18] ruippeixotog commented on #308
Hi @briangordon! I don't think shapeless has support for auxiliary constructors out-of-the-box. Shapeless treats case classes as algebraic data types and, as such, as products of a fixed arity. In fact, even the support Scala has for them is a bit awkward, since they always have to pass through the main one...

One way of doing this without much effort, if you don't mind repeating the computation

[2017-09-10 20:00] briangordon commented on #308
Thanks so much for your help. Absent support for auxiliary constructors, I think `contramapConfig` is pretty much perfect for what I needed.

[2017-09-10 20:00] #308 closed, assigned to nobody

[2017-09-11 02:06] briangordon commented on #205
Note for people who are googling this... this bug should be fixed in Scala 2.12.4 (scala/scala#6029)

In the meantime one easy workaround is to rename the file containing your ADT to have "AA" in front of the filename. That rejiggers the lexicographical order of the filenames and the compiler stops complaining.

[2017-09-18 08:02] allquantor opened #309 "Key not found error"
Hi,

thie most trivial example I could imagine just not working.

[code]
=>>
[code]
Is there something I do wrong? Thanks

[2017-09-18 11:56] jcazevedo commented on #309
By default, PureConfig expects config keys to be written in kebab case and the associated field names to be written in camel case, that's why it is failing to find the expected key `worker-id` (since `workerId` maps to `worker-id`). As the error message hints at, you can override that behaviour by putting a different implicit `ProductHint` in scope. You can read more about how to do it in [this se

[2017-09-20 07:11] allquantor commented on #309
I see. Thanks!

[2017-09-20 07:11] #309 closed, assigned to nobody

[2017-09-20 21:29] vratnagiri opened #310 "Mark Field As Sensitive"
Would it be possible to add a feature whereby a property could be marked sensitive (in the case class definition) so that it will never be printed out if someone were to do something like:

    val configWithPassword =  loadConfigOrThrow[SyncConfig]("namespace")
    logger.info(s"Using configuration :\n${configWithPassword.toString}")

Thank you!

[2017-09-20 21:46] leifwickland commented on #310
I don't think that there's any way that PureConfig can help you with that because the `toString` behavior is based on the class you write to receive config from PureConfig.

In my code at $work, I have a similar problem where I want to accept the password for a database, but never want it to be printed. I created a class like this:

[code]

There might be a cleverer approach, but this is what I've

[2017-09-20 22:10] vratnagiri commented on #310
Thanks! I'll use that approach.

[2017-09-20 22:10] #310 closed, assigned to nobody

[2017-09-20 22:26] ruippeixotog commented on #310
@leifwickland clever solution, it's a really easy way to override `toString` just for one field!

I'll just add that on recent pureconfig versions the custom `ConfigConvert` is not needed, as long as the case class extends `AnyVal`:

[code]

[2017-09-20 23:44] derekmorr commented on #310
I wonder if we should update the docs with this use case.

[2017-09-22 16:34] leifwickland commented on #310
@derekmorr I sent https://github.com/pureconfig/pureconfig/pull/311 to add a FAQ for this.

[2017-09-22 21:12] cornerman opened #312 "Handling options when key exists but has no values"
My use case is to have an optional value in my config:
[code]

With a corresponding application.conf:
[code]

If the environment variables are defined, everything is great. But if they are not defined, then I get `KeyNotFound`-errors when loading the config:
[code]

So, the optional evaluates to `None` iff there is no key defined for `email`. I would have expected an empty ConfigObject to behave t

[2017-09-22 22:11] ruippeixotog commented on #312
Semantically, I think that an empty config object is different from a non-existing or null value. In particular, in types such as `Option[Map[String, A]]` or any `Option[CaseClass]` where all fields of `CaseClass` are optional, an empty config object would be an ambiguous value.

IMO a custom reader for `Option[EmailConfig]`, as you wrote, is the right approach. If you want you can define it as si

[2017-09-23 10:03] cornerman commented on #312
Thank you for the fast response! I agree with your argument about empty configs in general. Your solution works for me; so I am going to close this one.

[2017-09-23 10:03] #312 closed, assigned to nobody

[2017-09-28 19:44] jlandahl opened #313 "Kebab case parser expects `s-3` for property `s3`"
When parsing configuration for a case class with a property called `s3`, the default kebab case parser expects the corresponding key in the config file to be `s-3`. This is quite unexpected and forced me to switch to camel case in order to get the desired behavior. The error generated is `KeyNotFound(s-3,None,Set(s3))`.

[2017-09-29 10:00] ruippeixotog commented on #313
I believe that the choice of how to deal with numbers in classes was pretty much arbitrary. While in terms such as `S3` the number is a suffix, in other terms such as `3D` (as in `3DPoint` or `Object3D`) it makes more sense otherwise. As such, I think that there will always be the need to add exceptions to such conventions.

While we can think of changing the current parser (I am myself a victim o

[2017-10-19 11:54] robbyki opened #316 "Reading a custom config file from typesafe"
What is the right way to load a custom configuration file around typesafe? Would like to use a difference resource file other then `application.conf` so trying to figure out how to include `ConfigFactor.load("myfile.conf")`

[2017-10-19 12:02] #316 closed, assigned to nobody

[2017-10-19 14:02] leifwickland commented on #316
@robbyki If you don't mind my asking, what solution did you end up with? What information would you have liked to have seen in the pureconfig documentation to help you find the answer more quickly?

[2017-10-19 14:31] robbyki commented on #316
Thank you. I was a little too quick to pose the question but was initially unsure how to just use something like this with pureconfig `  val myconfig = ConfigFactory.load("mycustom.conf")`. Once I did that using typesafe loader then I was able to pass that `myconfig` to pureconfig with the below. Still trying to get a hang of initializing and reading the variables inside my configuration file.
[co

[2017-10-19 14:50] leifwickland commented on #316
@robbyki
The slightly easier way accomplish that is:
[code]

See
https://github.com/pureconfig/pureconfig/blob/master/docs/whence-the-config-files.md
and the various load methods in the pureconfig `package.scala`
https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/package.scala#L277
for more details.

[2017-10-19 15:17] robbyki commented on #316
Thank you so much! will try that out.

[2017-10-19 20:37] melrief commented on #205
@briangordon if Scala 2.12.4 should fix this then we have an issue. The test submitted by @sirthias doesn't work even with Scala 2.12.4.

[2017-10-19 22:15] ruippeixotog commented on #205
@melrief it works, according to https://github.com/pureconfig/pureconfig/pull/317. The build is failing because it doesn't work in Scala 2.10 and 2.11 (obviosuly) and I forgot about that :(

[2017-10-23 00:57] briangordon commented on #205
After upgrading to 2.12.4 I no longer see this issue occurring in my project.

[2017-10-25 12:39] aserrallerios opened #318 "0.8.0 regression - automatic derivation compilation error"
This compiled fine in `0.7.2`:

[code]

Now with `0.8.0` it fails intermitently, first compilation fails, subsequent compilations succeed:

    [error]      could not find implicit value for parameter reader: pureconfig.ConfigReader[A]
    [error]      L28:    pureconfig.loadConfig[A](configObject)

[2017-10-25 13:39] aserrallerios commented on #318
I was able to reproduce it with `0.7.2` and scala `2.12.4` but also with `0.8.0` and scala `2.12.3`.

`0.7.2` with scala `2.12.3` never failed.

[2017-10-30 09:44] #205 closed, assigned to nobody

[2017-11-01 17:07] ruippeixotog commented on #287
After studying the best way to refactor our handling of failures in order to make use of `ConfigCursor` to facilitate the context propagation, I am inclined to split our failures in two different models:

- a `FailureReason` indicating the reason of a failure without contextual information such as the location or path in the config where it occurred;
- the old `ConfigReaderFailure`, which besides

[2017-11-01 19:09] ruippeixotog commented on #287
Another related decision is whether we want our external API to deal with collections of failures as it is now or to expose a composite pattern instead (i.e. a result is an `Either[ConfigReaderFailure, A]` where `MultipleFailures(failures: NonEmptyList[ConfigReaderFailure])` is a possible `ConfigReaderFailure`). This has the advantage of simplifying the handling of results with single failures (th

[2017-11-01 23:36] ruippeixotog commented on #287
After some more fiddling with the code, I found out that I actually don't need to handle non-empty lists of `FailureReason` (at least not with the existing features). This problem may need a solution later but for now, I'll keep`ConfigReaderFailures` as it is then.

[2017-11-02 14:30] ChristopherDavenport opened #322 "Cats RC1 Release Milestone"
As pureconfig is used, and some of us would like to test prior to cats 1.0 release. Could we get a release milestone for cats `1.0.0-RC1`? If not totally cool, but thought I'd put it out there.

[2017-11-05 01:12] ruippeixotog commented on #318
Hi @aserrallerios! I wasn't able to reproduce it with pureconfig 0.8.0 and Scala 2.12.4. Can you reproduce the bug with this combination on your setup?

PureConfig does a lot of things in compile-time, mostly through the use of shapeless. This means that it relies heavily on implicit resolution and macro expansion, things that usually get bug fixes as new Scala versions are released (https://githu

[2017-11-05 18:04] ruippeixotog opened #323 "Reorganize the documentation"
Our documentation has grown organically as we added more and more information there. As it is now I think that we can improve it in order to better reflect the hierarchy of concepts involved. Right now we have too many sections at the top-level, some of them very disparate in terms of depth.

The forthcoming website (https://github.com/pureconfig/pureconfig/pull/319) will also provide us the flexi

[2017-11-06 09:39] aserrallerios commented on #318
Hi @ruippeixotog, take a look at this [gist](https://gist.github.com/aserrallerios/d59b311ef7d5e2869e2bfa7d18d3a50c), I've reduced my project to the minimal, and it's still failing. Can you reproduce it?

[2017-11-06 19:24] jvz opened #325 "Add support for more java.net.* classes"
I'd primarily be interested in support `java.net.InetAddress` and `java.net.InetSocketAddress`.

Field type | Factory
-------|--------
`InetAddress` | `InetAddress::getByName`
`InetAddress[]` | `InetAddress::getAllByName`
`InetSocketAddress` | `InetSocketAddress::new` (may need to split on last `:` of string, or accept a map of `hostname` and `port` for construction)

Just for completion's sake, i

[2017-11-06 21:40] derekmorr commented on #325
We may run into issues with `InetAddress` since the JDK doesn't preserve inputs with IPv6. For example:

[code]
Note how `res` has extra zeros compared to the input. There are some third-party libraries that do a better job of this, but I don't know if it's worth pulling them in for this issue.

[2017-11-06 21:42] jvz commented on #325
So the IPv6 host gets normalized to its proper IP? I mean, that sort of makes sense to me, though I'm not sure if that behavior would be surprising compared to all the other types that are supported.

[2017-11-06 21:52] ruippeixotog commented on #325
I don't think it is an issue, it just means we have to be careful when adding tests for this. If `InetAddress` has a proper equals it should be no problem, since `2001:db8::123` and `2001:db8:0:0:0:0:0:123` are semantically equal IP addresses.

[2017-11-06 21:59] ruippeixotog commented on #325
`InetAddress` and `InetSocketAddress` seem nice additions to pureconfig! I'm not very fond of reading `InetAddress[]` from a string though, since it makes pureconfig act differently than from collections of every other type... If there's demand for it maybe we can add it without `implicit` and make users import it explicitly, just like configurable converters.

[2017-11-06 22:00] derekmorr commented on #325
Right, the issue is that IPv6 has multiple ways of representing the same address as text. I've added an `Arbitrary` instance to the test suite that supports IPv4 and IPv6. Several test runs show it working as expected.

[2017-11-06 22:08] jvz commented on #325
The idea for using `Array[InetAddress]` isn't necessary an array, but some sort of collection class in general, though I'm not sure how that'd interact with the normal collection converters.

[2017-11-06 23:02] ruippeixotog commented on #325
Yes, I also understood it that way. Even so, while it's easy to accept type with different string representations, I don't like the idea of reading a string to serialize to a list or to read a non-collection value to a collection by default (I have nothing against user-defined converters for that, though).

After looking into it a bit more, one thing troubles me even more: the fact that the conver

[2017-11-07 00:44] jvz commented on #325
Ah yes that is rather unfortunate. The main reason I even wanted this was for a more type-safe version of a hostname or hostname+port rather than passing around a string or string+int. Adding a `def` or `lazy val` or similar to my case classes is always an option, though now its internal state isn't really transparent like a typical case class.

[2017-11-07 14:49] derekmorr commented on #325
There are some ways around this:

- the standard library's `InetAddress.getByName()` is pure if you pass in an IP address. It only does a DNS lookup if you pass in a hostname.

- As an alternative, there are third-party libraries that only support IP addresses, and will never do a DNS lookup. For example, Guava's InetAddresses can parse strings like "1.2.3.4" into a `java.net.InetAddress` - https:

[2017-11-07 15:08] ruippeixotog commented on #325
I agree that support for `InetAddress` would be useful and I'm perfectly ok with using pure constructors to create them. I'd also avoid including heavyweight libraries such as Guava as dependencies.

If the parsing isn't too complicated to implement, I'd parse IP addresses into bytes and use `getByAddress`, which is definitely pure. If parsing is too complicated but validating the input is not (i.

[2017-11-07 16:06] jvz commented on #325
A pureconfig-guava module would be far more appropriate for that, and there are many more types in that library which could potentially be useful I'm sure.

Parsing an IPv4 address is pretty trivial as a regexp, but IPv6 has the whole collapsed value thing going on which was pointed out as an impure side effect of creating an InetAddress from it.

[2017-11-07 16:16] derekmorr commented on #325
IPv6 parsing is definitely more complicated b/c you can have embedded IPv4 addresses, or interface identifiers, etc. I'd rather not put that in pureconfig. So far, pureconfig delegates parsing and validation to other libraries.

We could look at a Guava module. I've already written `ConfigConvert` instances for `InetAddress` and `InternetDomainName` for work projects, so it's easy to factor that o

[2017-11-07 23:01] ruippeixotog commented on #318
No, I can't :(

[code]

Are you using any global SBT plugin that might be causing this?

[2017-11-08 09:38] aserrallerios commented on #318
As far as I know, I'm using vanilla sbt. BTW, my `build.properties`:

     sbt.version = 1.0.3

I've also removed my `ivy2` cache, so my test is as "clean" as possible. And it still fails:

[code]

[2017-11-08 20:18] ruippeixotog commented on #318
Same thing here:

[code]

[2017-11-09 08:19] aserrallerios commented on #318
Anything you think could be wrong on my side? I've double checked and I have no `./sbt/1.0/plugins`. This is my folder hierarchy:

[code]

[2017-11-19 19:40] #287 closed, assigned to ruippeixotog

[2017-11-24 13:09] joesan opened #327 "ConfigReadFailures with a certain way of using application.conf"
I have an application.conf that looks like this:

[code]

So as it can be seen that my application.conf is not a nested structure and I have different sub sections completely un nested. Would pure config be able to load such files? I already tried this and I get failure messages. None of the fields from the application.conf are being read!

So my understanding is that the pur config expects a file

[2017-11-24 14:46] jcazevedo commented on #327
It should be able to load such files. I just tried loading your configuration file using the following, and it worked:

[code]

Note that I had to put a different implicit `ProductHint` in scope, since your field mappings differ from the default (see [this section](https://github.com/pureconfig/pureconfig/blob/master/docs/override-behaviour-for-case-classes.md#field-mappings) of the documentation

[2017-11-24 18:36] joesan commented on #327
I will give it a try and let you know! But thanks for the help!

[2017-11-28 23:40] #289 closed, assigned to melrief

[2017-11-30 18:08] tarossi opened #328 "Site: Broken link on `Supported types` section of the docs"
The link to _Configurable converters_ is wrong: it's https://pureconfig.github.io/docs/docs/configurable-converters.html (404) and should be https://pureconfig.github.io/docs/configurable-converters.html.

[2017-11-30 19:33] melrief commented on #328
Right, it's a relative path that starts from `docs` and that's why it ended up being `docs/docs`. I'll fix it now, thanks @tarossi!

[2017-11-30 23:28] leifwickland opened #330 "-Xmacro-settings:materialize-derivations failing to provide improved error message"
@ruippeixotog When the better error messages work, they're awesome. In the following case, they don't seem to work.

I set up a [project](https://github.com/leifwickland/pureconfig-debugging-implicits) to demonstrate.

Am I doing it wrong?

[2017-12-02 14:18] ruippeixotog commented on #330
Hi Leif! There doesn't seem to be anything wrong with your setup; this is probably a bug with the derivation macro. I'll take a deeper look at it today or tomorrow.

[2017-12-02 17:16] leifwickland commented on #330
Thanks a bunch, Rui!

On Dec 2, 2017 07:18, "Rui Gonçalves" <notifications@github.com> wrote:

[2017-12-03 11:53] #330 closed, assigned to nobody

[2017-12-03 15:18] #328 closed, assigned to nobody

[2017-12-04 14:35] geoHeil opened #333 "Pureconfig & spark shading set"
I cant get pureconfig to work with spark due to clashes with shapeless.
Already using shading:
[code]

Already using the suggestion of:
https://github.com/pureconfig/pureconfig/issues/267
and stacktrace:
[code]

[2017-12-04 14:44] leifwickland commented on #333
Which versions of PureConfig and Spark are you using?

On Dec 4, 2017 07:35, "geoHeil" <notifications@github.com> wrote:

[2017-12-04 15:25] geoHeil commented on #333
I am using spark 2.20 and the latest pureconfig of: 0.8.0

see https://github.com/geoHeil/spatial-heatmaps/blob/master/esri/build.sbt

[2017-12-04 17:06] asarkar opened #334 "Provide a feature for auto-binding from JVM and env variables"
**Rationale**
Having worked with Spring Boot's excellent [configuration management](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html), I really miss the benefits in Scala. I'd like to propose a new feature that I think will cut down the boilerplate a lot, thus making pureconfig even more awesome 😄 and reduce chances of user error.

**Proposal**
For

[2017-12-04 20:14] leifwickland commented on #333
@geoHeil,

Stupid question: Does it work if you _don't_ shade shapeless? It appears that Spark 2.2 includes the version of shapeless that pureconfig depends on. When I build an assembly that does something like this:
[code]

...and has no related shading, then there's no shapeless in my fat jar, but I am able to load the config when running the app through `spark-submit`.

If that works for you, i

[2017-12-04 21:10] geoHeil commented on #333
Thanks for looking at it. here is a minimal sample https://github.com/geoHeil/minimalPure

simply run `set run`

[2017-12-04 21:12] geoHeil commented on #333
disabling assembly does not change the problem.

[2017-12-04 21:35] leifwickland commented on #333
@geoHeil Did you mean "disabling shading" or "disabling assembly?"

[2017-12-04 21:36] leifwickland commented on #333
@geoHeil Did you mean `sbt run` instead of `set run`?

[2017-12-04 23:36] leifwickland commented on #333
Thanks for providing a minimal sample repo.

I wouldn't expect `sbt run` to do anything good because your spark dependencies are (correctly) marked as `provided`, so they are not included in the classpath for `sbt run`.

The error I get when I try `sbt run` is:
[code]

Moreover, `sbt run` doesn't exercise the assembly process, so all of the shading aspects of this discussion are moot.

I removed t

[2017-12-05 07:00] geoHeil commented on #333
You are right - there must have been a different problem last night. When modifying the minimal sample it works.

[2017-12-05 07:00] #333 closed, assigned to nobody

[2017-12-05 20:13] mtomko opened #335 "`loadConfigFromFiles` throws an exception if no files are read"
The method `loadConfigFromFiles` takes a `Traversable[Path]` as an argument. It checks whether the `Traversable` is empty and handles the error by returning a `Left`.

Subsequently, if it turns out that the `Traversable[Path]` contains only missing or otherwise unreadable files, it passes this initial check but results in an exception from the call to `reduce` on an empty collection:

Here is a sa

[2017-12-05 20:39] geoHeil opened #336 "commanding cant override properties from application.conf"
I cant verride the default properties specified in application.conf when starting my spark job like:

[code]

to reproduce:

[code]

[2017-12-05 20:58] leifwickland commented on #336
@geoHeil,

`spark-submit` requires a little extra persuasion to pass system properties to your Spark driver. Instead of just using `-D`, you must use `--conf 'spark.driver.extraJavaOptions=-Dkey=value'`. [See here](https://stackoverflow.com/questions/28166667/how-to-pass-d-parameter-or-environment-variable-to-spark-job).

Using the previous minimal sample we worked on, I was able to do this:

[cod

[2017-12-05 20:58] #336 closed, assigned to nobody

[2017-12-05 20:59] leifwickland commented on #336
Note, I had a typo in my email response that I've fixed in the comment above.

[2017-12-06 05:45] geoHeil commented on #336
Great. Thanks a lot.

[2017-12-08 10:56] geoHeil opened #337 "shapeless method not found even though shaded in case of yarn cluster mode of spark"
for a configuration class of:

[code]

I get the error of:
`Table.<init>(Ljava/lang/String;Ljava/lang/String;Lscala/collection/Seq;Lscala/collection/Seq;)V)`
when running it in yarn cluster mode!
yarn client mode works just fine ... what could be the problem here?

Shading of shapeless was already applied:

[code]

spark is HDP 2.6.1 / spark-version of 2.1.1

[2017-12-08 12:25] geoHeil commented on #337
just found: https://q-a-assistant.com/computer-internet-technology/2564128_spark-not-working-with-pureconfig.html

[code]

However, this does not yet do the trick for me. This is the new error:

[code]
Apparently, others can reproduce the same problem here: https://stackoverflow.com/questions/43611147/spark-not-working-with-pureconfig

[2017-12-08 14:40] leifwickland commented on #337
@geoHeil,

There should be some other context around the error that you posted. `
Table.<init>(Ljava/lang/String;Ljava/lang/String;Lscala/collection/Seq;Lscala/collection/Seq;)V)` is the JVM signature of a method. Most likely the error is saying that the method isn't found, but it'd be good to ensure that's the case before we try to investigate further.

In general loading configuration with yarn

[2017-12-08 17:39] geoHeil commented on #337
Sorry for that. Will only link to SF in the future.

Indeed it reads method not found in the stack trace. However the configuration is passed read correctly. This is not the problem -at least I believe so/ get a different error if some fields are not present.

See the stack trace below for some more context:

[code]

[2017-12-09 17:32] geoHeil commented on #337
Actually, after some more fiddling it turns out that:

[code]
at least fixes the missing class - and in my opinion should be the same as `inAll`

On Monday I will be able to further experiment with yarn cluster and will also try to use `spark.driver.userClasspathFirst=true`

[2017-12-10 18:26] ruippeixotog opened #338 "ConfigCursor#asString should work with all scalar config values"
Due to the nature of the HOCON format, any config value can be a string, since strings are allowed to be defined without quotes. The Typesafe `Config` inferface supports that flexible typing by transforming the original values according to the requested type, using their internal [DefaultTransformer](https://github.com/lightbend/config/blob/master/config/src/main/java/com/typesafe/config/impl/Defa

[2017-12-12 11:22] francisdb opened #341 "NoSuchMethodError: pureconfig.ConfigReader$.hConsConfigReader"
We have a library that is built separately with pureconfig `0.7.2`
This component is in use by some component that depends on pureconfig `0.8.0`
(scala 2.12.4)

Is this expected?

[code]

[2017-12-12 16:49] leifwickland commented on #341
@francisdb

There appears to be a binary incompatibility between 0.7.2 and 0.8.0.

If I look at the bytecode for `hConsConfigReader` in `pureconfig/ConfigReader$.class` then in 0.7.2 I see a signature like:
[code]

In 0.8.0 I see a signature like:
[code]

That difference is mirrored in the source:
https://github.com/pureconfig/pureconfig/blob/v0.7.2/core/src/main/scala/pureconfig/DerivedReaders.sc

[2017-12-12 16:56] ruippeixotog commented on #341
Unfortunately, we may break binary compatibility between versions... We're at a stage where we still do a lot of internal changes and while we strive to maintain source compatibility, even on that regard we do some breaking changes between minor versions (0.7.x to 0.8.x). I think that your only option is to update the library that's built separately to use 0.8.0.

[2017-12-12 20:10] francisdb commented on #341
Ok, I can live with that :-) Thanks for the explanation.

[2017-12-12 20:10] #341 closed, assigned to nobody

[2017-12-14 17:47] steve-scx opened #342 "Support Typesafe size suffixes (e.g. MB, kB, etc...)"
e.g. https://github.com/lightbend/config/blob/master/HOCON.md#size-in-bytes-format

[2017-12-14 19:04] keirlawson opened #343 "Add support for cats-effect"
I'm trying to use pureconfig in combination with cats-effect's IO however as it stands the code to do this is a little faffsome, here is what it looks like in my codebase:

[code]

Would it be possible to add support for cats-effect, such that we could have a loadconfig that returns an IO of the config class? This would simplify usage with cats-effect, which it seems to me might be a fairly common

[2017-12-14 20:05] leifwickland commented on #343
While I can't speak for all the authors, I'd certainly be willing to entertain a PR creating a `cats-effect` module analogous to the existing [`cats`](https://github.com/pureconfig/pureconfig/tree/master/modules/cats) module.

Directions for creating a new module are [here](https://github.com/pureconfig/pureconfig#contribute):

[2017-12-14 21:42] ruippeixotog commented on #342
Hi @oddio! Have you seen [pureconfig-squants](https://github.com/pureconfig/pureconfig/tree/master/modules/squants)? It's a plugin module for [Squants](https://github.com/typelevel/squants), a Scala Typesafe API for quantities of pretty much everything (including information units such as bytes). It seems to cover the use case suggested by the HOCON spec (which IMO, is a bit too opinionated for a

[2017-12-14 21:58] ruippeixotog commented on #334
Hi @asarkar!

The first two suggestions seem difficult to achieve while keeping our config readers "pure". Note that we do delegate to Typesafe Config all the parsing work (including the current handling of environment variables and system properties). When PureConfig receives a `Config` the object already passed through all the loading logic, leaving us just the task of parsing the loaded config

[2017-12-14 22:12] asarkar commented on #334
@ruippeixotog pureconfig already has options to fall back to default value in code, I'm simply suggesting extending that concept to look for defaults elsewhere. As far as a wrapper is concerned, pureconfig is already wrapping Lightbend config, yet another wrapper seems unnecessary to me.

Regarding commas, I'd done this but your solution looks better.

[code]

[2017-12-14 22:44] keirlawson commented on #343
Ok, will have a bash

[2017-12-14 23:19] leifwickland commented on #342
Specifically, you'd use the [`Information` type in Squants](https://github.com/typelevel/squants/blob/master/shared/src/main/scala/squants/information/Information.scala#L21)

If we supported those suffixes generally, I think they'd allowed for any numeric type. That could lead to weirdly nonsensical configuration like:
[code]
which would be valid and mean `35000`.

[2017-12-14 23:50] ruippeixotog commented on #334
I think that there's a big semantic difference between reading defaults from classes and reading from environment variables / system properties, which concerns the functional "purity" of `ConfigReader`.

The case class defaults are part of the class definition itself, from which we derive the rest of the schema and use explicitly as a type parameter when we create a `ConfigReader[T]`. On the other

[2017-12-15 00:08] asarkar commented on #334
OK, I'm following your argument regarding defaults. How about if the environment variables and system properties were explicitly asked for, something like `orElseFromSystemProps` or `fallbackWithEnvVar`? Would that be clear enough?

[2017-12-15 15:57] steve-scx commented on #342
Perfect, thanks for the tip!

[2017-12-15 15:57] #342 closed, assigned to nobody

[2017-12-15 16:37] leifwickland commented on #334
From what little I know of Spring Boot's config magic, the behavior @asarkar has described is only a portion. There's also the [profiles](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-profiles.html) feature, which I've helped folks at work emulate.

We attacked emulating profiles entirely through code which set up the typesafe `Config` in a custom way via a chain of

[2017-12-15 17:37] asarkar commented on #334
Ok, so if we make a `pureconfig/pureconfig-boot` module, will that be acceptable to all parties?

[2017-12-15 17:55] leifwickland commented on #334
I'd be willing to entertain it. It'd be a bit odd since it's not an integration with Spring Boot so much as an emulation, which would differ from the rest of pureconfig's modules, but I can't think of a better alternative.

Of course I can't speak for anybody else.

[2017-12-16 01:28] ruippeixotog commented on #334
I'd also be ok with it :) `pureconfig-spring-boot` seems an acceptable name to such a module.

[2017-12-17 11:32] keirlawson opened #345 "load config from Source or similar to increase testability"
Right now the `loadConfig` methods provided by pureconfig are oriented around `java.nio.Path`s when a non-default location is required.  However for those wishing to unit test their configuration code without having said tests go to the filesystem, this presents a problem as `Path` is not readily mocked. To this end I would propose adding another variant of `loadConfig` that takes something less t

[2017-12-17 16:01] ruippeixotog commented on #345
Hi @keirlawson! As you might have seen, `loadConfig(path: Path)` does little more than loading a `com.typesafe.config.Config` from a file and then passing it to PureConfig for reading. The most "canonical" method we have for loading a config is `loadConfig(conf: com.typesafe.config.Config)`, which delegates to the user the part of loading the config itself.

If you take a look at Typesafe's `Confi

[2017-12-17 16:29] keirlawson commented on #345
Yep, the `parseString` approach is the one I am currently taking. It feels a little inelegant though, both having to use a transative dependency (typesafe config) who's API is only partially abrastracted over, and also in generating and passing around the `com.typesafe.config.Config` object which is purely an itermiadiary.  I think adding an additional convience method, such as `loadConfig(source:

[2017-12-17 16:48] ruippeixotog commented on #345
I'm ok with adding an overloaded `loadConfig(source: Source)` to our API, if the other authors agree. The most elegant bridge wouldn't be through a `String` IMO, but from a Java `Reader` (there's `Source#reader()` and `ConfigFactory.fromReader`).

Please bear in mind that, while there's an [open issue](https://github.com/pureconfig/pureconfig/issues/87) to make PureConfig independent from the back

[2017-12-17 20:58] keirlawson commented on #345
In terms of possible implementation, I worry that `Reader` has pretty low level concepts associated with it that doesn't make for very elegant mapping from of `Source`, such as the public `lock` field for synchronization. Whilst I suspect a working mapping would be achievable, it might end up feeling more hacky that just using Source's `.mkString`

[2017-12-18 22:40] #338 closed, assigned to nobody

[2017-12-23 21:46] AlexaDeWit opened #348 "PureConfig-Macros Depends On Scala-Compiler 2.12.3?"
Perhaps it's just Snyk giving me incorrect analysis, because I cannot see a reference to 2.12.3 in the current source, but rather 2.12.4.

What I'm getting is this:
![image](https://user-images.githubusercontent.com/5769693/34322827-beb24d1a-e832-11e7-9c31-11f7d3003115.png)

For further details:

![image](https://user-images.githubusercontent.com/5769693/34322834-d29e8a6e-e832-11e7-9b6d-9dcc9db05f

[2017-12-23 21:56] ruippeixotog commented on #348
Hi @AlexaDeWit! I don't know how Snyk analyzes the dependency graph to find vulnerabilities. However, my guess is that the scala-compiler, when used as a library for macro compilation, shouldn't result in any problem with insecure shared paths.

Furthermore, while the main project depends on a macros project, PureConfig doesn't use any of those macros by default. The only one we have is for helpin

[2017-12-23 23:04] melrief commented on #345
I would prefer to not add new overloads to the main API as it is already difficult to maintain, in particular due to the fact that each overload must have multiple "flavors". I agree with @ruippeixotog about using the "canonical" method for custom inputs and `ConfigFactory` provides enough ways to load a configuration, e.g. `parseReader`.

[2017-12-23 23:18] AlexaDeWit commented on #348
Good to hear, Rui.

Just figured it better to say something just incase and rely on you guys to
know the real story :)

On 23 Dec 2017 22:56, "Rui Gonçalves" <notifications@github.com> wrote:

[2017-12-23 23:19] keirlawson commented on #345
Ok, will close issue.

[2017-12-23 23:19] #345 closed, assigned to nobody

[2017-12-23 23:38] melrief commented on #348
Thanks @AlexaDeWit for reporting this :).

[2017-12-23 23:43] #348 closed, assigned to nobody

[2017-12-24 22:49] #343 closed, assigned to nobody

[2017-12-28 16:34] keirlawson commented on #322
Now that Cats 1.0.0 is out I'd like to take a look at doing this, however `MonadReader`, for which we provide an instance for `ConfigReader` is now `ApplicativeLocal` and has been moved out into the `cats-mtl` library. In order to avoid bringing in a dependency on said library (as apparently it may yet undergo major change before stabilising) I'd like to propose dropping this instance for the time

[2017-12-28 17:14] melrief commented on #322
I would prefer to drop the instance. We can add another module if we really want the `MonadReader` instance but the `cats` module should not require `cats-mtl` in my opinion.

[2017-12-28 17:35] ruippeixotog commented on #322
I agree with both of you, we can create a `pureconfig-cats-mtl` later if anyone wants it.

How will we do regarding cross-compilation? Does it make sense to rename our current module to `pureconfig-cats-0.9` or something like that and make `pureconfig-cats` 1.0-only? Or can we just compile the same codebase for the two versions?

[2017-12-28 18:15] keirlawson commented on #322
I don't think compiling against both versions will be possible, as I understand it the changes are substantial, including artifact incompatibility. Given the whole ecosystem seems to be moving forward onto Cats 1.0.0, I would be inclined to leave PureConfig 0.8.0 for any users stuck on Cats 0.9.0 and only support Cats 1.0.0 going forward.

[2017-12-28 19:55] melrief commented on #322
I agree with @keirlawson, I would prefer to move to Cats 1.0.0 like most of libraries have done.

[2017-12-29 00:28] ruippeixotog commented on #322
Ok, that surely seems easier for us. I'm not much into the cats ecosystem, so if you think it's not worth it to continue to support 0.9 I'm all for it :)

[2017-12-29 00:58] derekmorr commented on #322
Agreed - let's drop it and add a new module for MTL.

[2018-01-02 10:57] #322 closed, assigned to nobody

[2018-01-05 20:03] #323 closed, assigned to ruippeixotog

[2018-01-06 14:00] ruippeixotog opened #352 "Integrate the website deployment with the sbt-release process"

[2018-01-09 08:11] takiri opened #355 "Load config from classes defined in different files"
Hello,

I'm working on an application requiring many projects to work together through HTTP communication, sharing the same OM.

In project A, I use Pure config to load its config file. The code for this looks like this:

If I also define BConfig in this file, everything works fine (so cool, by the way!).

But in my case, BConfig is meant to be known of all projects, and thus must be defined in pr

[2018-01-09 09:40] takiri commented on #355
My mistake! I thought the error came from the "remote" class, actually it was due to to private field in its definition:

causes troubles, though

works perfectly fine, even from another project.

[2018-01-09 09:40] #355 closed, assigned to nobody

[2018-01-16 12:30] yarulan opened #356 "Make FirstSuccessCoproductHint NoValidCoproductChoiceFound error user friendly"
[code]
The error says `ConvertFailure(NoValidCoproductChoiceFound(SimpleConfigObject({})),None,)` which doesn't explain much. It would be better if it contained all possible choices, like
[code]

[2018-01-22 19:33] ghost opened #358 "loadConfig For GenericType"
I am trying  to write a config  parser  which parser the configs and loads into Type T , but It fails with below error.  I think I have to create a ConfigReader , but I am nor sure how to create one for Generic Type

[code]

[code]

Error
[code]

Please let me know if its feasible or some other solution I could use to create a generic utility

[2018-01-23 00:40] ruippeixotog commented on #356
Hi @yarulan! Improving the default error messages for coproducts is a good idea, not only with `FirstSuccessCoproductHint` but also with other hints. Unfortunately, right now it's not trivial to obtain the information you mentioned when the error is created, but a small refactoring to allow that would be nice.

[2018-02-03 22:08] ruippeixotog commented on #358
Hi @kotiajit! The easiest way to get your code working, in my view, is to just pass the two required implicits for `T` - a `ClassTag[T]` and a `ConfigReader[T]` - as parameters in your `ConfigParser` trait. If you are able to turn it into an `abstract class`, that should read:

[code]

[2018-02-16 16:08] ches opened #359 "Support the HOCON 1.3.2 Period Format for java.time.Period"
I hoped this would Just Work™, but it appears pureconfig's `Period` support predates that of Typesafe Config 1.3.2 (lightbend/config#478) and doesn't know about the new HOCON unit syntax yet:

[code]

pureconfig does handle `ConfigFactory.parseString("""{ period: P5Y }""")`, but Typesafe `getPeriod` does not, and it's not quite as nice for humans.

It's unfortunate that Typesafe Config doesn't see

[2018-02-16 19:43] ruippeixotog commented on #359
Hi @ches, thanks for submitting the issue! I was not aware that Typesafe config supported `Period` natively.

I'm fine with this approach. `Period` [isn't a configurable converter](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/BasicReaders.scala#L92) as it doesn't depend on a time zone and we already have `Duration` ([declaration](https://github.com/pureconfig

[2018-02-25 07:36] ghost commented on #358
@ruippeixotog  this works thanks

[2018-02-25 07:36] #358 closed, assigned to nobody

[2018-02-28 11:44] vmorarian commented on #318
I faced with similar issue in our project. We are using:
- Scala 2.12.4
- pureconfig 0.7.2 + enumeratum

And it worked perfect, but after adding some extra fields in nested classes we started to get compilation errors. More interesting, that adding some extra field sometimes solves this issue.
Tried to upgrade pureconfig - doesn't work (same compilation errors).

I created new project with classes

[2018-02-28 11:46] vmorarian commented on #318
@aserrallerios could you please share link to git project (to clone and try instead of copy/pasting from gist)?

[2018-02-28 12:48] aserrallerios commented on #318
Sure, I've created a repo:

https://github.com/aserrallerios/pureconfig-error

[2018-02-28 13:12] vmorarian commented on #318
[code]

[2018-03-05 10:26] aserrallerios commented on #318
Glad I'm not the only one :P

I'm right at guessing that we can only workaround this? (for example, splitting the Config class)

[2018-03-05 23:23] ruippeixotog commented on #318
As much as I'd like to help you, I really can't reproduce this. It must be some system-dependent thing...

[code]

[2018-03-06 04:34] leifwickland commented on #318
Sadly, I'm in the same boat; I can't replicate the problem either.

[code]

I'm running on OS X.

[2018-03-06 09:38] aserrallerios commented on #318
Linux here

[code]

[code]

Anything else you think could be the cause?

[2018-03-06 15:25] leifwickland commented on #318
On one of the $WORK linux servers:
[code]

[2018-03-06 15:38] vmorarian commented on #318
tried on 2 different linux servers, same compilation issue
- OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
- Java(TM) SE Runtime Environment (build 1.8.0_161-b12)

Update: sbt version 1.1.1

[2018-03-06 20:18] ruippeixotog commented on #318
Is anyone able to spot the issue inside a Docker instance? That should be easily reproducible by others (though at this point, it most probably won't be a pureconfig-specific issue).

[2018-03-07 20:20] kiara-riley commented on #335
This seems to be caused by line:
https://github.com/pureconfig/pureconfig/blob/0824a9739364864d79b034b9125db88a1ebdae5c/core/src/main/scala/pureconfig/package.scala#L293

In the case that you only have a single unreadable file as input, the result from the foldLeft ends up being an empty `Seq`. There needs to be a check to make sure the `Seq[TypesafeConfig]` is non-empty if the behavior is really

[2018-03-12 08:39] aserrallerios commented on #318
1. Download and expand [sbt](https://github.com/sbt/sbt/releases/download/v1.1.1/sbt-1.1.1.tgz) into /tmp/sbt
2. git clone https://github.com/aserrallerios/pureconfig-error.git /tmb/pureconfig-error
3. docker run -it -v /tmp/sbt:/sbt -v /tmp/pureconfig-error:/pureconfig-error anapsix/alpine-java sh
4. cd /pureconfig-error
5. /sbt/bin/sbt compile

[2018-03-12 09:17] ruippeixotog commented on #318
Ok, thanks for the effort in reproducing this! The Scala compiler seems to be lacking the resources to do a derivation that complex. Try running the last command as `SBT_OPTS="-Xms512m -Xmx1536m -Xss2m" /sbt/bin/sbt compile` and see that it now compiles successfully.

I was not being able to reproduce it locally because I use the [sbt-extras](https://github.com/paulp/sbt-extras) script for launchi

[2018-03-12 11:03] aserrallerios commented on #318
You're my hero!

[2018-03-13 00:15] ruippeixotog commented on #318
Glad we could find the problem :) I'll close this now, since the cause is probably the same for everyone. Feel free to reopen this issue if you can reproduce it even with the SBT settings above.

[2018-03-13 00:15] #318 closed, assigned to nobody

[2018-03-16 22:26] #352 closed, assigned to ruippeixotog

[2018-04-11 19:15] melrief opened #378 "Add generic map reader and writer to pureconfig.configurable"
Add to [`pureconfig.configurable`](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/configurable/package.scala) two functions to instantiate reader and writer for `Map[K, V]`. The two functions should

- be parametrized on the key `K` and value `V` types
- take as explicit parameter respectively a function `String => Either[FailureReason, K]` and a function `K =>

[2018-04-15 12:13] melrief opened #380 "Add the new configurable map reader and writer to the documentation"
[#378](https://github.com/pureconfig/pureconfig/issues/378) introduced readers and writers for generic `Map`. Next step is to add a section in the documentation about this new functionality.

[2018-04-15 20:08] #378 closed, assigned to nobody

[2018-04-23 09:29] ktonga opened #382 "Fail deriving ConfigReader in projects with custom Predef"
I'm attaching a minimal sbt project using custom predef called `std`, if you run `sbt compile` build will fail with implicit resolution error. If you remove `import std._` from `config.scala` and remove `"-Yno-imports" and "-Yno-predef"` from `build.sbt` the project compiles

[pureconfig-custom-predef.zip](https://github.com/pureconfig/pureconfig/files/1937464/pureconfig-custom-predef.zip)