[2018-04-25 22:18] ruippeixotog commented on #382
Hi @ktonga! This seems to be an issue with the `Derivation` macro we use to [provide better "implicit not found" messages](https://pureconfig.github.io/docs/faq.html#how-do-i-debug-implicit-not-found-errors). When I add the flag `-Xmacro-settings:materialize-derivations` to `scalacOptions` the code starts compiling correctly with the custom predef, which is rather strange.

I'll take a look at thi

[2018-04-26 03:09] ktonga commented on #382
Awesome! thanks a lot @ruippeixotog I can confirm it is working now using the provided workaround and whenever I miss a reader the error message is super helpful

[2018-04-26 21:51] #382 closed, assigned to nobody

[2018-04-27 22:03] #380 closed, assigned to nobody

[2018-05-04 13:37] JD557 opened #385 "Move `ConfigReaderFailures` pretty printing logic away from `ConfigReaderException`"
Here's my problem: I want to load a config in a safe way (without throwing exceptions) and log the errors in a pretty error messages.

Right now, it appears that the two best ways to do this are:
* Use `loadConfig[Config](config, "field")` and write my own `ConfigReaderFailures` pretty printer;
* Use `Try(loadConfigOrThrow[Config](config, "field"))` and log the exception message;

I think that the

[2018-05-06 19:02] ruippeixotog commented on #385
Looks good to me - users should be able to generate pretty error messages without having to create an exception for that. I'm not sure if `ConfigReaderFailures` is the best place for that, but I wouldn't mind having it there (on one hand, it's nice to have `ConfigReaderFailures` agnostic of any string representation; on the other hand, `FailureReason`s already have string descriptions, so the mode

[2018-05-09 15:04] leifwickland commented on #385
I and other folks at work have run into this problem. I too would love a solution.

Because we're stuck with scalaz, I'd like to request that the formatting logic isn't _only_ in a cats `Show` instance.

[2018-05-10 06:09] guersam commented on #46
FYI: There's https://github.com/akka-js/shocon which is written in pure scala and supports both jvm and js.

[2018-05-11 22:44] hekaldama commented on #313
I see your example, but since I am new, I am still struggling figuring out how to solve the `s3` case in the original comment. Does anyone have any pointers?

[2018-05-14 18:38] kubukoz opened #388 "cats-effect module should have a `loadConfigF` taking a Config"
Sometimes you want to parse an already fetched Typesafe Config object. Currently I'm doing it with  `Sync[F].delay(pureconfig.loadConfigOrThrow[AppConfig](config))`, but I believe there could be an overload of `loadConfigF` that would internally use `configToF` to achieve that effect without throwing an exception just to catch it.

I'll be happy to submit a PR with this overload, if the issue make

[2018-05-15 02:01] leifwickland commented on #313
@hekaldama,

Here's a more detailed example. Please let me know whether this helps.
[code]

[2018-05-15 02:22] leifwickland commented on #388
@kubukoz, That seems plausible to me. Give it a shot!

[2018-05-16 05:21] hekaldama commented on #313
Helped me arrive at the solution as my `s3` was nested like `aws.s3`. I ended up with something like:
[code]

[2018-05-20 17:09] ruippeixotog commented on #385
@leifwickland not really related to this issue, but out of curiosity: since you're using scalaz and surely many more people are stuck with it, wouldn't a scalaz module with `ConfigConvert` instances for data structures and scalaz instances for `ConfigReader`/`ConfigWriter` be a nice thing to have?

[2018-05-20 21:03] ruippeixotog commented on #388
Closed by #389.

[2018-05-20 21:03] #388 closed, assigned to nobody

[2018-06-03 09:23] #337 closed, assigned to nobody

[2018-06-14 08:49] jgogstad commented on #61
Until pureconfig supports this out of the box, you can do the transformations yaml -> json -> hocon -> case-class -> hocon -> json -> yaml using json4s, moultingyaml and pureconfig. Here's a [gist](https://gist.github.com/jgogstad/f2833bd076268d6cf902973764b0a099).

[2018-06-14 09:29] ruippeixotog commented on #61
Pending core support for different backends, this logic can definitely be packed into a pureconfig module.

[2018-06-14 14:36] jgogstad commented on #61
Would be nice if the backend supported different casing configurations. With the gist above, you need to provide product hints for every type. This [SO](https://stackoverflow.com/questions/22771226/what-is-the-canonical-yaml-naming-style) lists different client usages.

[2018-06-19 10:35] ezhulkov opened #390 "Some combinations of case classes + fields lead to compilation StackOverflow"
Extremely weird and strange behaviour.

Very artificial yet simple example of pureconfig usage is uploaded to sandbox repo here
https://github.com/zeptolab/pureconfig-bug

We have very simple config case class which consist of 4 fields.

`case class Config(
    database: DatabaseConfig,
    amplitude: AmplitudeConfig,
    flurry: FlurryConfig,
    appsFlyer: AppsFlyerConfig
)`

Compilation of this

[2018-06-19 15:19] ruippeixotog commented on #390
Hi @ezhulkov! I had no problems compiling the project you provided:

[code]

Another pureconfig user had a [problem just like yours](https://github.com/pureconfig/pureconfig/issues/318) before. The default SBT JVM settings are way too low in terms of resources for compiler-heavy libraries such as pureconfig. Can you try launching SBT with `SBT_OPTS="-Xms512m -Xmx1536m -Xss2m"` or using the [sbt-ex

[2018-06-19 16:59] ezhulkov commented on #390
@ruippeixotog it helped! Thank you a lot

[2018-06-19 16:59] #390 closed, assigned to nobody

[2018-06-21 12:13] ktonga commented on #301
I think I've been bitten by the same bug

[2018-06-25 10:01] georgThesis opened #391 "case class with many paramters cant be parsed"
When I have a large case class it cant be parsed and errors out with:
[code]

[2018-06-25 10:43] jcazevedo commented on #391
Can you provide a concrete example of a case class for which you can't derive a `ConfigReader`? I can't reproduce your issue with the most recent version of PureConfig:

[code]

[2018-06-25 11:06] georgThesis commented on #391
[code]
fails to parse

[2018-06-25 13:47] georgThesis commented on #391
Trying to debug this using:
`scalacOptions += "-Xmacro-settings:materialize-derivations"` but it does not work for me on scala 2.11 and gradles scala plugin.

[2018-06-25 19:34] geoHeil commented on #391
I could also verify this problem and created a minimal sample https://github.com/geoHeil/pureconfig-issue strangely the output between gradle and SBT differs.

[2018-06-25 20:00] geoHeil commented on #391
This seems to be solely related to grade. SBT works fine. Actually 'com.github.kxbmap:configs' shows the same problem - probably something regarding shapeless and grade scala plugin.

[2018-06-26 11:02] fommil commented on #301
FYI this is a typical workaround the typeclass author can implement https://gitlab.com/fommil/scalaz-deriving/blob/master/examples/xmlformat/src/main/scala/xmlformat/DerivedXDecoder.scala#L312-322

[2018-07-02 23:35] jcazevedo commented on #391
PureConfig is a "compiler-heavy" library and it seems like the resources provided to the Scala compiler via the Scala Gradle plugin are not enough for your use case. I was able to compile your project using Gradle by increasing the thread stack size, adding the following to `build.gradle`:

[code]

[2018-07-03 04:44] geoHeil commented on #391
Thanks this closes the issue for me
Joao Azevedo <notifications@github.com> schrieb am Di. 3. Juli 2018 um
01:35:

[2018-07-03 07:38] #391 closed, assigned to nobody

[2018-07-11 16:58] #359 closed, assigned to nobody

[2018-07-11 19:34] ches commented on #359
Thanks for implementing this @ruippeixotog!

[2018-07-18 08:29] talosu opened #394 "Pureconfig's config file does not support uppercase and underscores"
Pureconfig's config file does not support uppercase and underscores.

`application.conf`
[code]
class
[code]

`error log: `
[code]

[2018-07-18 08:56] jcazevedo commented on #394
PureConfig uses the concept of field mappings to describe how fields of case classes should be converted to fields in the configuration file. You can read more about it in the project's documentation: https://pureconfig.github.io/docs/overriding-behavior-for-case-classes.html#field-mappings.

The configuration of field mappings is included in a `ProductHint`, which is used by PureConfig to configu

[2018-07-26 02:58] nigredo-tori commented on #304
I agree, somewhat. Automatic derivation makes the field names etc. part of the API, which is not ideal. My team uses the explicit approach in similar cases (JSON codecs, etc.) - any encoding should be performed by an explicitly specified codec, and missing codec should cause a compilation error. Thus we need an option to disable automatic derivation entirely.

One way to achieve that (which is wha

[2018-07-26 06:43] fommil commented on #304
I'm no longer interested in scala.

[2018-07-26 06:43] #304 closed, assigned to nobody

[2018-07-26 06:59] nigredo-tori opened #396 "Disable automatic derivation by default"
#304 was closed for an unrelated reason, however the issue remains.

(copied from https://github.com/pureconfig/pureconfig/issues/304#issuecomment-407960683).

Automatic derivation makes the field names etc. part of the API, which is not ideal. My team uses the explicit approach in similar cases (JSON codecs, etc.) - any encoding should be performed by an explicitly specified codec, and missing co

[2018-07-26 08:18] nigredo-tori opened #397 "Cats: provide a Parallel instance for ConfigReader"
`ConfigReader.zip` allows us to run two readers and get the errors from both. However the provided `MonadError[ConfigReader]` means that the `ConfigReaders` built with cats syntax (e.g. with `.mapN` combinator) will not run the second reader if the first one fails.

`cats` provides an idiomatic way to solve this. Given a newtype
[code]
we can define a parallel `Applicative[ParConfigReader]` (non-i

[2018-07-26 09:46] wedens commented on #396
Yeah. It'd be great to be able to choose between auto-derivation/semi-auto-derivation/no-derivation based on imports (like circe does).

[2018-07-26 10:39] jcazevedo commented on #396
I also think that being able to choose between automatic and semi-automatic derivation is a good idea. It also makes it easier for one to compose over `ConfigReader`s/`ConfigWriter`s that PureConfig automatically derives.

[2018-07-26 11:46] ruippeixotog commented on #396
I also like the idea of not importing derivations for case classes and sealed traits automatically. The way Circe does it seems like a nice solution.

The only thing that bothers me is how to do the transition - this is a major breaking change, one that will cause compilation errors on pretty much every user as they have to add a possibly large number of `import` statements. IMO, the ideal scenari

[2018-07-26 11:51] ruippeixotog commented on #397
Hi @nigredo-tori! I am not a regular cats user, so I am not familiar with how these cases are handled. Do you have a preference for the first solution?

Are there other examples or some documentation of that idiomatic way of supporting `parMapN` and `parTraverse`? That would allow me to get a grasp of how it would work.

[2018-07-26 12:13] nigredo-tori commented on #396
@ruippeixotog, this seems tricky to get right, and it also delays the feature... If all we need to do is to suggest adding an import in the places that broke, why not add it to the "implicit not found" message? This way we can rip the band-aid right off.

[2018-07-26 12:28] nigredo-tori commented on #397
@ruippeixotog, here's the corresponding [section](https://typelevel.org/cats/typeclasses/parallel.html) in the `cats` manual. Further information can be found in the scaladoc for `Parallel` and `Validated`, and in the `cats` source code. `parMapN` (and its older brother `mapN`) is a syntax on tuples that is handled by the [boilerplate generator](https://github.com/typelevel/cats/blob/master/projec

[2018-07-26 13:58] jcazevedo commented on #396
I don't think that transitional version will be of much use for users interested in semi-automatic derivation, since importing `pureconfig._` will always enable automatic derivation.

I guess we can release a new version that still only supports automatic derivation, deprecates the automatic derivations for ADTs coming from the `pureconfig` package and point users to the new `pureconfig.auto` pack

[2018-07-26 16:22] leifwickland commented on #396
My vote would be for no transitional version so long as there are clear migration docs as other have mentioned.

[2018-07-27 07:17] nigredo-tori commented on #397
Actually, the second solution (accumulating errors by default) would work better for me. I thought that in my case the difference between the two would amount to just switching between `.mapN` and `.parMapN`. However, we can also add a matching `InvariantSemigroupal[ConfigConvert]`, giving us `.imapN` syntax as well. Since there's no `parImapN`, I would like `imapN` to accumulate errors. And since

[2018-07-28 21:19] ruippeixotog commented on #396
I don't like very much the approach of using `implicitNotFound` for communicating breaking changes in particular types (case classes and sealed traits) since they will show on missing readers of every class, possibly leading to even more confusion. Moreover, people using our "better implicit not found" message won't see it, as the message is replaced for a more detailed one.

I'm ok with releasing

[2018-07-29 07:44] wedens commented on #396
If you're worried about multiple dependencies, you can always publish an artifact that depends on both `pureconfig-core` and `pureconfig-generic`.

IMO it's not that burdensome to add two dependencies instead of one.

Not having shapeless as a transitive dependency can be useful in some cases (less potential for conflicts).

IMO magic should be opt-in insead of opt-out.

[2018-07-29 11:46] jcazevedo commented on #396
I prefer having single `deriveReader`/`deriveWriter` methods.

I think the most common use case for PureConfig (and one that we promote throughout the documentation) uses generic derivation to read a configuration file to a case class. Taking that into account, if we were to split into two different modules, I guess most people would be adding the `pureconfig-core` and `pureconfig-generic` depende

[2018-07-30 00:38] #61 closed, assigned to nobody

[2018-07-30 11:30] ruippeixotog commented on #394
@ererermao, did @jcazevedo's response solve your problem?

[2018-07-30 11:32] ruippeixotog commented on #307
I'm closing this issue since there's been no activity in the last months. Let me know if there's any update on this!

[2018-07-30 11:32] #307 closed, assigned to nobody

[2018-07-30 11:43] ruippeixotog commented on #266
I never saw it happen again... I'll close this for now and delve deeper into the problem if it ever happens again.

[2018-07-30 11:46] ruippeixotog commented on #327
@joesan I'll close this now since it's been some months since the issue was opened. Let me know if you still need help setting up PureConfig!

[2018-07-30 11:46] #327 closed, assigned to nobody

[2018-07-30 11:50] ruippeixotog commented on #301
@fommil's workaround seems doable, but since it uses Scalaz classes and traits it should go into a `pureconfig-scalaz` module. Similarly to the `cats` module, it could also include Scalaz typeclass instances for our `ConfigReader` and `ConfigWriter` classes, as well as `ConfigReader`/`Writer` instances for Scalaz data types. If anyone wants to give it a try, I'm all for it :)

[2018-07-30 13:10] ruippeixotog commented on #335
This shouldn't be difficult to tackle, we just need to settle on the semantics for this :)

I see use cases for both of the behaviors. For many years I relied on the loading of a chain of optional configuration files with a well-defined order (just like Typesafe config does out of the box with `reference.conf` and `application.conf`, but with even more layers). The current `loadConfigFromFiles` is

[2018-07-30 13:12] ruippeixotog commented on #266
Right after I closed this... 😢

[code]

[2018-07-30 16:28] kiara-riley commented on #335
That sounds like it would fix the issue I have with the method. I would almost always prefer having the application stop(due to `Left`) when a config file can't be read as the application is misconfigured at that point to me.

That, along with fixing this bug sounds ideal to me.

[2018-07-30 16:32] mtomko commented on #335
I think it sounds great. I can certainly envision circumstances where we'd want to stop if a file was not found, but the system where I encountered this issue originally is more in the mold of having a chain of files, some of which may be absent, which together add up to a valid and complete configuration.

[2018-07-30 18:10] #266 closed, assigned to nobody

[2018-07-30 21:26] #290 closed, assigned to nobody

[2018-08-01 02:19] nigredo-tori commented on #396
One way to alleviate this is to use even more modules. ^_^
1. `pureconfig-core` for the base functionality.
2. `pureconfig-generic` for derivation.
3. `pureconfig` - an empty convenience module that depends on these two.

This way we get the desired flexibility, while the users that don't need it won't have to to change their `libraryDependencies`.

[2018-08-01 10:51] nigredo-tori opened #403 "Save functions should allow overriding ConfigRenderOptions"
I'm migrating an existing config system to pureconfig, and one of the steps for this is converting the existing legacy configs to the new format. The default `ConfigRenderOptions` are not what I need here - these include origin comments, which in my case are useless. However there doesn't seem to be a way to override these in pureconfig functions (e.g. those in the `cats-effect` and `fs2` modules)

[2018-08-02 12:37] bijancn commented on #316
`loadConfigFromFiles` swallows all errors for me:
[code]

[2018-08-02 14:30] ruippeixotog commented on #403
I agree - all `saveConfigTo*` methods, both in PureConfig core and in its modules, should have an `options: ConfigRenderOptions = ConfigRenderOptions.defaults()` optional argument 👍

[2018-08-02 14:33] ruippeixotog commented on #316
@bijancn, please see https://github.com/pureconfig/pureconfig/issues/335. It'll get fixed in the next version.

[2018-08-02 17:30] fommil commented on #396
If I sent a PR to remove the inheritance of the `Generic` instances from the companion and require a `import pureconfig.generic._` is that something that would be accepted and released fairly soon? It is a minimal effort change on both the side of pureconfig and downstream users, requiring only an import to remain source compatible.

I did a compiler profile of my codebase and discovered that pure

[2018-08-02 17:44] ruippeixotog commented on #396
@fommil I'd be ok with that, but I'm convinced with the idea of separating this in different `pureconfig-core` and `pureconfig-generic` modules, as long as we keep publishing `pureconfig` as a bundle of `pureconfig-core` and `pureconfig-generic` in order to make it easy for users to get started.

If we are going to do this, I'd prefer to do all dependency structure changes in a single version chan

[2018-08-02 19:36] fommil commented on #396
Sounds great!

[2018-08-03 10:31] fommil commented on #396
BTW, to add some numbers on this. In **just** our functional tests (15 files) of **just** one project, this bug is making us take 82s instead of 8s to compile.

I have monkey patched the `Derived*` classes to remove the `implicit` keyword, effectively disabling shapeless yet retaining binary compatibility.

I am in the process of writing a magnolia based deriver for `ConfigReader`, to be semi-auto

[2018-08-03 11:00] jcazevedo commented on #396
I like that idea.

[2018-08-03 12:04] fommil commented on #396
What I'm using to get a 90% reduction in compiletime, combined with `@deriving`... not hard to add annotations to support all the various product/coproduct hints. I don't care about those things, just the defaults.

[code]

[2018-08-03 13:43] fommil commented on #396
btw I don't think the traversable, option or map derivations need `Lazy`... they should go on the companion directly (or on some lower priority mixin).

[2018-08-04 11:08] ruippeixotog commented on #396
One issue I can foresee with auto-derivation is that, by explicitly importing the generic readers, they gain priority over specialized readers that we keep in `ConfigReader`'s companion object. For example, if we keep the reader for traversables in the companion object and import the generic readers, `List` will start being read as a sealed trait instead of a traversable, am I correct?

One soluti

[2018-08-04 11:16] fommil commented on #396
@ruippeixotog

auto derivation is the devil and nobody should be using it.

Basically you're encountering all the problems that Miles has been trying to fix in the compiler (see export-hook for the current abandoned hack), and that me and Jon Pretty have been independently solving in scalaz-deriving and magnolia. Fundamentally, if you want to use shapeless for full auto derivation today, you have

[2018-08-04 15:05] leifwickland commented on #396
@ruippeixotog said:

Yes, please.

Yes, please.

[2018-08-04 15:50] ruippeixotog commented on #396
@fommil I totally agree with the analysis and I also had a lot of trouble with the implicit search precedence in the Scala compiler before. If I had to redesign this library from the ground-up, I'd think thrice before I decided to add auto-derivation.

The trouble is that, for me, any change that breaks user code to a point where it becomes nearly impossible for them to migrate without heavy sourc

[2018-08-04 15:56] ruippeixotog commented on #396
I realized minutes after posting this that this approach would only work for top-level generic derivations. Forget the dumb idea above... 😞

[2018-08-04 16:12] fommil commented on #396
The only user change needed will be adding the generic import. Which I'm personally not going to use.

[2018-08-04 16:21] ruippeixotog commented on #396
Hmm, maybe I didn't understand this correctly then... Let's consider the following user code:

[code]

Currently, PureConfig would use `innerConfReader` for `InnerConf` and the shapeless-derived reader for `OuterConf`. With the explicit `generic` import here, wouldn't the shapeless-derived reader have precedence over `innerConfReader` for `InnerConf`?

I'm asking for this example in particular bec

[2018-08-04 16:31] fommil commented on #396
You're trying to fix a problem that can't be fixed with shapeless.

[2018-08-04 16:56] fommil commented on #396
(the closest you can get to making this work is https://github.com/milessabin/export-hook )

[2018-08-04 17:13] bijancn commented on #316
Cool. Good to know @ruippeixotog ! Been loving the library otherwise!

[2018-08-05 22:45] ruippeixotog commented on #396
I understand that the general problem of combining custom instances of a typeclass with generic derivation cannot be solved with shapeless-like typeclass derivation and is better suited to direct macros/annotations, which have full control to do implicit searches and generate code accordingly.

I still believe that we don't need a generalized solution to this problem and, as such, we can benefit f

[2018-08-06 09:17] fommil commented on #396
I can't say I'm a fan of the `LowPriorityConfigReader`... this is not what this normally means. You're trying to introduce typeclass incoherence through indirection. You don't need macros to fix this problem, it is solved by not recursing... i.e. what people call "semiauto". Simply remove the `implicit` keyword from your entry point.

I'll send a small PR doing the first step, making the generic d

[2018-08-06 09:51] fommil commented on #396
bah, sorry. I give up. This has all been set up in a very complicated way and I don't have enough motivation to fix it.

My fix is to clone the repo locally in my project, remove the `extends DerivedReaders` from the companion, and add Option / Traversable derivations that don't need `Derivable` or `Lazy`.

Good luck with your refactor. Hopefully my team will be able to handle the upgrade in my ab

[2018-08-08 09:24] fommil commented on #396
BTW, for the benefit of anybody who is wondering how I fixed this in my work codebase:

1. copy the exact version of `DerivedReaders.scala` from this repo into your project
2. replace `implicit def` with `def` and `implicit final` with `final` everywhere in this file.
3. introduce the below `orphans.scala` (note that I've removed superfluous `Lazy` and `Derivation` wrappers. BTW, your `F` doesn't

[2018-08-08 13:41] jcazevedo commented on #396
I like that approach. It seems to be similar to what Circe does, using the [`Exported`](https://github.com/circe/circe/blob/master/modules/generic/shared/src/main/scala/io/circe/generic/AutoDerivation.scala) type.

I'm not against adding a module providing generic derivation of `Reader`s and `Writer`s using Magnolia, but I'd rather have the auto/semi-auto split using shapeless introduced first.

[2018-08-08 13:49] ruippeixotog commented on #396
As @jcazevedo said (as I was writing this) `circe` seems to do more or less the same way as I suggested, but with a clearly more elegant name :)

[code]

@fommil I understand your concerns with this - I really do. Subverting the problem by defining a new typeclass to request indirectly seems like a hack and not a proper solution for the problem. However, as I mentioned, it's important for us not t

[2018-08-08 14:03] fommil commented on #396
"Subverting the problem by defining a new typeclass to request indirectly " I didn't recommend doing so :smile:

All I'd like is for the `implicit`s to be removed from the companion so that I can choose not to use shapeless.

[2018-08-16 20:40] ghost opened #409 "pureconfig-yaml to Central Maven Repo"
Thanks for adding the pureconfig-yaml  module , I was planning to try it out , Can you please publish the jar to Central Maven Repo

[2018-08-17 17:25] #335 closed, assigned to ruippeixotog

[2018-08-17 21:53] #403 closed, assigned to nobody

[2018-08-22 21:21] #397 closed, assigned to nobody

[2018-08-22 21:35] ruippeixotog commented on #409
Hi @kotiajit, sorry for the delay in publishing this. We'll just wait until https://github.com/pureconfig/pureconfig/pull/408 gets merged and afterwards we intend to release a new version with the new modules :)

[2018-08-23 18:26] ghost commented on #409
Cool, Will wait for it , Thanks

[2018-08-24 21:09] ghost commented on #409
I see the new releases , thanks

[2018-08-24 21:09] #409 closed, assigned to nobody

[2018-08-28 08:30] katameru opened #413 "The description of the UnknownKey failure hould include the actual key."
In `FailureReason.scala` we have:
[code]
Having the actual key in the description would be helpful in finding typos in configuration files.

[2018-08-29 07:37] jgogstad opened #414 "Pureconfig inconsistently fails with "Duplicate id: 45""
Hey,

I have an unstable test that fails every 30th run or so with the following stacktrace:

    Cannot convert configuration to a model.DeploymentTemplate.
      Failures are:   at 'deployment-template.spec.dag':
        - (file:/var/jenkins_home/[snip]/hourly.conf:6) No valid coproduct choice found for '{"backfill":"2018-08-12","location":"eu"}'
        - (file:/var/jenkins_home/[snip]/hourly.c

[2018-08-29 10:27] ruippeixotog commented on #414
Hi @jgogstad, that's very strange indeed... do you mind creating a minimal test project using the latest Scala version where this can be reproduced?

This is most probably an `Enumeration` bug since I can't think of anything PureConfig does that may cause this, but I can take a look to confirm that.

[2018-08-29 13:00] jgogstad commented on #414
I'll see what I can cook together. I had a closer look at `Enumeration` in the standard library, and I don't see how there's not a race condition there. Given the example `Enumeration` above

* `object Location extends Enumeration` defines a static context with mutable state, accessible to all threads on the JVM.
* The `Val` constructor reads mutable state from that context at [Enumeration.Val#239

[2018-08-29 13:27] nigredo-tori commented on #414
@jgogstad, I'm not sure that PureConfig supports `Enumeration` out of the box. AFAIK, we're using Shapeless for everything, and the whole point of Shapeless is doing everything at compile time. Scala's `Enumeration`, on the other hand, relies on run time trickery to distinguish its elements. These two approaches don't mix at all, which might be the reason for the first error (`No valid coproduct c

[2018-08-29 13:33] nigredo-tori commented on #414
Actually, looking back on the first error message, we see that PureConfig can't find a coproduct branch for this value:

`{"backfill":"2018-08-12","location":"eu"}`

It seems to me that the `Location` you provided doesn't correspond to this whole object, but rather to one of its fields. You might want to look for the problem a level above the `Location`.

[2018-08-29 17:07] jgogstad commented on #414
@nigredo-tori

Yes, I'm using a `ConfigReader`, it's in the middle of the top post `implicit val locationReader ...`; it works 9 out of 10 times.

Good point, it should be private. It's not invoked from anywhere else, but I'm pretty sure that ScalaTest can hit that `apply` method in parallel when it runs tests in parallel.

No

ScalaTest

I'll work on cooking together a smaller test case. Thanks f

[2018-08-29 17:44] nigredo-tori commented on #414
My apologies, I missed that...

This shouldn't matter unless you use this method somewhere else. `val` initialization is a part of the `object` creation, and should happen exactly once and in the same thread. Unless your `val`s are `lazy` - but even then they are `synchronized` on the parent object.

[2018-09-01 11:45] ruippeixotog commented on #413
The reason why none of the `FailureReason` descriptions (not only `UnknownKey`) contain the key it affects is because they are not supposed to have positional information. A `FailureReason`, together with a path in the config and an optional location (file, line) in the config forms a `ConvertFailure` object, an instance of `ConfigReaderFailure`.

`UnknownKey` is particularly confusing because we

[2018-09-04 11:29] katameru commented on #413
Yeah, the `key` field confused me, but everything makes sense now. Thanks!

[2018-09-04 11:29] #413 closed, assigned to nobody

[2018-09-19 17:09] Pitometsu commented on #334
Any updates here?

[2018-09-29 16:19] #396 closed, assigned to jcazevedo

[2018-09-29 16:33] ruippeixotog opened #419 "Migrate website documentation to Scala 2.12"
Currently, we enforce that the code snippets in our website run in all Scala versions we support (i.e. Scala 2.11 and Scala 2.12). This means that code will always work for any user, but it also means that sometimes the examples are more complex than they need to, with the most prominent example being the proliferation of `.right` calls needed before Scala 2.12.

Since the majority of our users us

[2018-09-29 16:35] ruippeixotog commented on #394
I'll assume @jcazevedo's answer solves the problem and close this. If the issue persists, feel free to reopen!

[2018-09-29 16:35] #394 closed, assigned to nobody

[2018-09-29 16:37] leifwickland commented on #419
I'm conflicted. Surveys I've seen suggest a lot of scala users are stuck on 2.11 due to Spark. (I am among them.) On the other hand, theoretically Spark support for 2.12 is just around the corner and perhaps the migration floodgates will soon open, so perhaps we could simply show users the nicest possible experience.

I guess that's to say I'd leave it up to you guys. I don't have a strong feeling

[2018-09-29 16:39] #313 closed, assigned to nobody

[2018-10-01 00:40] jcazevedo commented on #419
Since I don't think making our documentation multi-versioned is worth the effort, I agree that we should target the latest Scala version.

[2018-10-01 22:37] ruippeixotog commented on #419
I don't have a strong feeling either. Since @jcazevedo agrees with the change to Scala 2.12, I did it in #421 👍

[2018-10-03 17:21] #419 closed, assigned to nobody

[2018-10-05 04:42] JohnReedLOL opened #422 "Can you come up with something that will help me allow my bank to use this?"
Sorry to bother you,

I am working on a Scala project and I would like to be able to use some open source libraries. That being said, the bank I work at has a lot of red tape and they don't approve anything unless you convince them to do so. In about a month I'm going to do a demo of the open source libraries that I want them to put into their system. To help me get approval, could you write somet

[2018-10-05 14:43] leifwickland commented on #422
I believe commit and release histories show the library is actively maintained.

The [license](https://github.com/pureconfig/pureconfig/blob/master/LICENSE) file addresses that the project is available for free commercial use including any patents.

The typical business value derived by using pureconfig is that developers are more efficient, implementing the same functionality with fewer mistakes.

[2018-10-05 14:43] #422 closed, assigned to nobody

[2018-10-11 14:17] rzeigler opened #426 "PureConfig auto-derived ConfigReader for Tuples is unhelpful"
I have a situation where I am tinkering around with exposing the ability to load a base config with client extensible additional properties.

My initial thought was to define a method such as
[code]

The resulting call fails with the somewhat unhelpful
[code]

This seems like a fairly useless derivation when when what I really want is the union of the products rather than a product. Is this someth

[2018-10-11 14:50] nigredo-tori commented on #426
I don't think there is a derivation for that, but you can do it manually using [`ConfigReader.zip`](https://github.com/pureconfig/pureconfig/blob/4e3895c5eaeef5c38e060f8b4eb36517057c562c/core/src/main/scala/pureconfig/ConfigReader.scala#L66-L73).

[2018-10-11 15:14] leifwickland commented on #426
@rzeigler, It looks like `Config` and `Ext` are entirely independent and that you expect both to be sourced from the root of the configuration from the URL. @nigredo-tori's suggestion looks to be exactly right because it constructs a new reader in which each child is read from the root, rather than creating additional structure that must be present at the root, as you're seeing with the tupled app

[2018-10-11 18:37] rzeigler commented on #426
Zip seems to do what I want so thanks!

To my other point though, should ConfigReader[A], ConfigReader[B] always imply ConfigReader[(A, B)]. When I didn't have to provide my own ConfigReader[(A, B)] I thought maybe it was doing something fancy like concatenating the HList internally. The actual behavior while it makes sense seems not terribly useful for a configuration file specifically in most ca

[2018-10-12 00:36] nigredo-tori commented on #426
To be honest, I don't see much use for the "concatenating" behavior. "Tuple as array" is more or less intuitive if you think of it in terms of `ConfigValue` and not `ConfigObject`. And, unlike "concatenating HList", it preserves the round-trip (that is, any tuple can be encoded, and the result can be correctly decoded - think `(Int, Int)`).

Also, the existing behavior matches the behavior in Circ

[2018-10-13 10:19] ruippeixotog commented on #426
@nigredo-tori explains the rationale pretty well. Tuple as a merge of types is a flawed (and incorrect from a theoretical standpoint) approach: there's ambiguity when you load a `(A, B)` pair where both `A` and `B` have a field with the same name and some types may not even be mergeable (e.g. `(A, String)` where `A` reads from an object).

Think of tuples as containers instead; a pair holds two va

[2018-10-13 10:19] #426 closed, assigned to nobody

[2018-10-19 00:42] rrwright commented on #309
Updated documentation link (?): https://pureconfig.github.io/docs/overriding-behavior-for-case-classes.html

[2018-10-29 20:58] metasim opened #430 "Proper way disambiguating paths when including pureconfig in sbt-assembly"
When using pureconfig with `sbt-assembly` with a default `MergeStrategy` of `singleOrError`, I get the following errors. Is there a recommended `MergeStrategy` to use specifically with pureconfig?

[code]

[2018-10-29 22:53] leifwickland commented on #430
I'm not sure why the pureconfig jars contain duplicates like that. It does seem a bit peculiar.

To work around it, I think you could provide a `case` for paths that contain `pureconfig` and use `MergeStrategy.deduplicate`, the default, instead. Something like:
[code]

That seemed to clear up the pureconfig-related errors when I tried it in my sample to reproduce your problem.

[2018-10-30 12:06] metasim commented on #430
Thanks so much for your help!

[2018-10-30 12:06] #430 closed, assigned to nobody

[2018-10-31 17:34] kubukoz opened #431 "Consider readers for e.g. java.time.LocalTime"

[2018-10-31 17:51] ruippeixotog commented on #431
There are multiple ways to write a `LocalTime` to a string, so we opted to provide them in the `configurable` package (see [here](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/configurable/package.scala#L33)). Please see also the documentation at https://pureconfig.github.io/docs/configurable-converters.html.

I'll close this, let me know if you find a problem

[2018-10-31 17:51] #431 closed, assigned to nobody

[2018-10-31 18:13] kubukoz commented on #431
That looks nice, I didn't know about configurable :) thanks!

On Wed, Oct 31, 2018, 19:05 Rui Gonçalves <notifications@github.com> wrote:

[2018-10-31 19:09] leifwickland commented on #431
@kubukoz, is there a place that pureconfig should've documented the `configurable` time functionality so that you were more likely to find it?

[2018-11-01 11:16] mberndt123 commented on #87
Here's something the Scala community doesn't need: another JSON library, there are dozens of them already out there.

And actually, now that I think about it: what value does pureconfig add over circe-config? Because that can also read stuff from typesafe config files.

[2018-11-01 11:48] kubukoz commented on #431
To be fair, I only looked at the standard formats for dates found in the core module, maybe a comment there (https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/BasicReaders.scala) leading to the `configurable` module would help? Btw. I greatly appreciate the interest in improvement!

[2018-11-01 12:59] jcazevedo commented on #87
circe-config works by translating a `Config` into circe's `Json`, whereas PureConfig operates directly on `Config`. By converting to circe's `Json`, you lose the file system location of `ConfigValue`s, which are relevant for error reporting.

From the top of my head, there are also some things that PureConfig does by default which makes it more aligned with the HOCON specification. I think all of

[2018-11-01 13:24] mberndt123 commented on #87
Right, so all of the stuff you describe seems to be HOCON-specific, which means that abstracting from HOCON would sort of defeat the purpose of the library, right?

[2018-11-01 14:11] leifwickland commented on #431
@kubukoz I like that idea. Would be interested in sending a PR which adds a note in the comment block for `JavaTimeReaders` which suggests looking at `configurable` for support for other time types?

[2018-11-01 15:20] mberndt123 opened #433 "pureconfig pulls in dependencies to scala-compiler, scala-reflect"
Hey,

I noticed today that when I add a dependency to pureconfig, I also get a transitive dependency to scala-compiler and scala-reflect. My understanding is that these are only needed at compile-time for the generic macros and not at run-time. Other libraries seem to solve this problem by depending on these in the `Provided` scope, see e. g. [circe](https://github.com/circe/circe/blob/f38f73cfecb

[2018-11-01 19:29] jcazevedo commented on #87
Right. I'm not an advocate for abstracting the config backend in the core module. I prefer to keep the core simple and, if need be, have modules that translate other format's AST to Typesafe Config's, such as the one we have for YAML.

[2018-11-01 20:28] jcazevedo commented on #433
Thanks for reporting this! I believe #434 should fix this issue.

[2018-11-02 10:40] #433 closed, assigned to nobody

[2018-11-02 17:11] mberndt123 commented on #433
cool, thanks for taking care of this

[2018-11-06 13:55] mberndt123 commented on #87
To be honest that sounds like a bit of a hack to me. The Typesafe Config library supports HOCON, JSON and .properties files, and the include statement in HOCON allows you to include data in all three formats. Adding YAML support in PureConfig wouldn't allow that, hence I think that additional formats should be added directly to the typesafe config library rather than pureconfig.

And in fact there

[2018-11-11 14:24] unthingable opened #436 "Options defaulting to None when using env vars"
Seeing an odd behavior with Options, using autoderived everything (possibly another manifestation of #29 ?)

[code]

`reference.conf`:

[code]

When an `application.conf` is present with string values, credentials are loaded normally. Without `application.conf` `url` loads fine but `credentials` are always `None`, despite all env vars being defined and visible to the application.

[2018-11-11 14:37] #436 closed, assigned to nobody

[2018-11-11 14:39] unthingable commented on #436
Oops. I'm the `credeit`.

[2018-11-11 14:58] leifwickland commented on #436
😁

On Sun, Nov 11, 2018, 07:39 Alex <notifications@github.com wrote:

[2018-12-04 13:29] msinton opened #441 "loadConfig fails to find implicit reader"
This is on version 0.10.1. When I downgrade to 0.9.1 then it works.
[code]

Config is simple:
[code]

[2018-12-04 13:51] jcazevedo commented on #441
I'm not sure if that's the case, since I don't know which imports you're using, but the automatic derivation of readers and writers is disabled by default since 0.10.0. It is now necessary to import `pureconfig.generic.auto._` everywhere a config is loaded or written, or use semi-automatic or manual derivation. You can read more about it in the [documentation](https://pureconfig.github.io/docs/non

[2018-12-04 15:19] msinton commented on #441
O I see, I did not find that requirement very clear from your readme - and when adding that import intellij reports that it is unused.

[2018-12-10 12:57] jcranky commented on #441
IntelliJ unfortunately is not very smart in this case - but if you keep the import, does it work? Could this issue be closed?

[2018-12-11 00:17] dr-lab commented on #239
Put into a scala package class seems works for all within that package and not need to change 50+class.
implicit def hint[T] = ProductHint[T](ConfigFieldMapping(CamelCase, CamelCase))
configLoader.load(..)

[2018-12-11 10:17] msinton commented on #441
Yes that is correct. It is a pain point for my team but we will just use semi-auto instead.

[2018-12-11 10:17] #441 closed, assigned to nobody

[2019-01-21 10:59] eneveu commented on #284
In our project, we use a trait to import the implicit ProductHint:

[code]

And we use it like this:

[code]

[2019-02-11 13:25] xoanpardo commented on #390
Hi @ruippeixotog,

I'm having the same problem described here with the following test project: [https://github.com/xoanpardo/pureconfig-test](url)

The project compiles succesfully if any field is commented, for instance, in the ExperimentParameters case class (commenting fields in other classes also shows the same behaviour). I've tried with different values for -Xms -Xss and -XX:ThreadStackSize

[2019-02-15 19:59] leifwickland commented on #390
@xoanpardo, feel free to open an issue just for visibility. The solution is going to require you to figure out how to tell maven to provide sbt with more memory. That's not an issue specific to pureconfig and as far as I know, no one on the team has expertise with maven, so you'll have to work out the details on your own.

[2019-02-16 11:46] folex commented on #312
I faced the same problem, and the solution above resulted in a bunch of NPE. So, for anyone searching for solution, here it is:

### For a specific case class

[code]

### For all `Option[T]`
[code]

Thanks to @ya-goodfella for these pieces of code.

[2019-02-25 12:19] agadek commented on #390
Same issue here. I had to downgrade to from 10.2 to previously used 9.2. The issue occurs when `import pureconfig.generic.auto._` used.

[2019-02-28 16:07] leozilla opened #452 "Use Environment Variables for properties of type Int (eg UserPortNumber)"
I defined my config case classes like this:
[code]

And I would like to use environment variable substitution in my config:
[code]

The loading seems to work for the `host` field but fails for the `port` field with the following exception:
[code]

I possible workaround is ofc to change the type of `port` from `UserPortNumber` to `String` but this suboptimal. I would really like to work with the de

[2019-02-28 16:32] leifwickland commented on #452
David,

I would expect what you describe to work.

The error message you're getting means that after the environmental
variables, config files, etc have been resolved into a typesafe `Config`,
pureconfig is finding something in `redis.port` that it can't convert to a
`Long` or `Double`. See
https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/ConfigCursor.scala#L275

[2019-02-28 20:16] leozilla commented on #452
Sorry, you are right. It was a typo while setting the environment variable.
I will close this issue.

[2019-02-28 20:16] #452 closed, assigned to nobody

[2019-03-02 07:44] geoHeil opened #453 "Using pureconfig in a generic type hierarchy"
I want to use pureconfig in a generic type hierarchy. I.e. there is a base class which accepts a type parameter and then it should be able to parse the configuration.

For the old version of 0.9.2 this worked great with an additional implicit value of ConfigReader. This is no longer enough for the 0.10.x series where automatic case class support was disabled by default.

I could import the implici

[2019-03-02 22:36] ruippeixotog commented on #453
Hi @geoHeil! Unfortunately, I can't see a workaround for your case. When you define `object MyOperation extends SparkBaseRunner[MyCaseClass]` there is no way for PureConfig to know how to derive this without importing `auto`, now that generic derivation is opt-in.

We usually recommend reading the whole config as a single operation and passing parts of it around to the program. When that happens,

[2019-03-04 10:13] geoHeil commented on #453
Thanks. That is sad.

If I would define the class hierarchy a bit different - would you then see an option to not import it multiple times (once for each implementation of the base class)?
Indeed, the whole config is read as a single operation already. But there are multiple applications (each as a separate implementation of the base class).

[2019-03-09 17:18] fkowal commented on #390
Hi
I am experiencing the same problem. On mac, scala 2.12.8, sbt 1.2.8, pureconfig 0.10.2, `import pureconfig.generic.auto._`

In my case commenting out `FiniteDuration` seems to fix the problem.

[2019-03-16 07:19] charmby opened #454 "error: could not find implicit value for parameter reader: pureconfig.Derivation[pureconfig.ConfigReader"
error: could not find implicit value for parameter reader: pureconfig.Derivation[pureconfig.ConfigReader

[2019-03-16 07:21] charmby commented on #441
error: could not find implicit value for parameter reader: pureconfig.Derivation[pureconfig.ConfigReader

[2019-03-16 07:46] charmby opened #455 "pureconfig.Derivation[pureconfig.ConfigReader"
run the example
case class Config(dirwatch: DirWatchConfig)
    case class DirWatchConfig(path: Path, filter: String, email: EmailConfig)
    case class EmailConfig(host: String, port: Int, message: String, recipients: Set[Email], sender: Email)

    val config = loadConfigOrThrow[Config]

i get this error:
Error:(34, 35) could not find implicit value for parameter reader:pureconfig.Derivation[pur

[2019-03-17 12:07] ruippeixotog commented on #454
Duplicate of #455.

[2019-03-17 12:07] #454 closed, assigned to nobody

[2019-03-17 12:11] ruippeixotog commented on #455
Hi @charmby! Our CI builds [compile the example project](https://github.com/pureconfig/pureconfig/blob/master/.travis.yml#L15) for all supported SBT versions, so it shouldn't be possible for that to happen.

Did you compile the example project as is, or have you copied the code to another project? If it's the latter, can you provide a minimal example project where you're experiencing the issue?

[2019-03-17 12:13] ruippeixotog commented on #284
Closing this due to inactivity and because it's more of a design decision than a bug/issue.

[2019-03-17 12:13] #284 closed, assigned to nobody

[2019-03-17 19:52] ruippeixotog commented on #414
Closing this due to inactivity. Feel free to open it again if the issue persists and you're able to provide a minimal reproducible example.

[2019-03-17 19:52] #414 closed, assigned to nobody

[2019-03-18 08:37] charmby commented on #455
hi, @ruippeixotog , Thank you for your reply. As a maven project, i run this example in IDEA. Import this project in my pom like this
[code]
coding for that
case class Person(name: String, surname: String)
object Test extends App {
    val conf = ConfigFactory.parseString("{ name: John, surname: Doe }")
    import pureconfig.generic.semiauto._
    implicit val personReader = deriveReader[Person]

[2019-03-18 13:45] dvirf1 commented on #455
It happens to me as well. It also happens with 0.10.1 and 0.10.2.
It does not happen with 0.9.2.
I'm cleaning the `target` directory between checks.

[2019-03-18 20:33] ruippeixotog commented on #455
Have you imported `import pureconfig.generic.auto._`? Since version 0.10.0 it is now necessary to import `auto` manually for automatic derivation of case classes ([CHANGELOG](https://github.com/pureconfig/pureconfig/blob/master/CHANGELOG.md#0100-oct-30-2018)).

Otherwise, please share with me a self-contained project where the error happens. I cannot reproduce it here and code snippets aren't enou

[2019-03-19 12:57] dvirf1 commented on #455
@ruippeixotog due to semantic versioning I expected that the update from 0.9.2 to 0.10.x won't break anything.
The problem is solved now. Thanks.
I think that it is a good idea to add an `implicitNotFound` annotation that suggests this import if the compilation fails, similar to `ExecutionContext`'s message:

...
If your application does not define an ExecutionContext elsewhere,
consider using Sca

[2019-03-19 13:57] dvirf1 commented on #455
@ruippeixotog
See PR #456. Feel free to edit the error message if you think it is necessary.

[2019-03-19 21:54] ruippeixotog commented on #455
@dvirf1 technically, you should not expect 0.x.y versions to follow any conventions ([semver rules](https://semver.org/#spec-item-4)). In practice, we tend to do minor version increases every time we do introduce major architectural or breaking changes. I agree that it can be misleading sometimes.

@charmby does this solution solve your problem?

[2019-03-27 07:43] charmby commented on #455
@ruippeixotog thank you so much.This problem is solved.

[2019-04-17 03:11] JiniousChoi opened #463 "misleading example on the GIF"
Following the exact instructions on the GIF doesn't take us to the end result but a few errors occurred.
https://camo.githubusercontent.com/cd550455fd9584214104b64071a02e443317a4d8/687474703a2f2f692e696d6775722e636f6d2f503673646130362e676966

Issue 1. Since the scalaVersion in the example is 2.12.1, I think the libraryDependencies needs to be fixed
as-is: libraryDependencies += "com.github.purecon

[2019-04-17 22:15] ruippeixotog commented on #463
Thanks for pointing this out, @JiniousChoi!

@melrief, can you create a new GIF with the imports up-to-date? Otherwise just let me know which program you used to record it and I'll find some time to do it later :)

[2019-04-19 01:35] pettercastro opened #465 "Transform from different date formats to a single one depending of case class"
By having a config like this
[code]
And assuming I have 2 case classes, and both use the same type for the `date` field, like:
[code]
Is there a way to define a different converter per each case class?
So that I can convert from the format "14:00" to today "2019-04-18 14:00:00" (LocalDateTime) just when loading from the config to the `Job` case class, but when loading from the config to the `Task`

[2019-04-19 13:06] ruippeixotog commented on #465
Interesting scenario! My solution would be to use semi-auto derivation and have a different `LocalDateTime` in scope in each of them. Something along the lines of:

[code]

Let me know if this approach worked for you.

[2019-04-19 16:19] pettercastro commented on #465
it worked!... Thanks... Did not know about that derived reader

[2019-04-19 16:19] #465 closed, assigned to nobody

[2019-04-22 21:23] mslinn opened #467 "Support Scala 2.13-RC1?"
Would be helpful :)

[2019-04-22 21:45] ruippeixotog commented on #467
I have this on my plans :) I already started, but I hit some issues configuring SBT for this. I'll try again when I have time.

[2019-04-22 22:03] mslinn commented on #467
I also hit issues. Here is a bit of code I added to `build.sbt` for my [Introduction to Scala](https://www.scalacourses.com/showCourse/40) course that might be helpful:

[code]

BTW, the course has a lecture on `PureConfig`.

[2019-04-22 23:12] leifwickland commented on #467
@ruippeixotog I also started poking at building for 2.13, I but haven't made much progress. I suspect you're further than I am. I you push your branch, perhaps I could help as I have time.

[2019-04-22 23:26] leifwickland commented on #467
@ruippeixotog @mslinn, My sticking point was that I couldn't find a `scalacheck-shapeless` that's compatible with `2.13.0-RC1`. Did you guys get past that one?

[2019-04-22 23:28] mslinn commented on #467
@leifwickland Perhaps @alexarchambault can help with a version of `scalacheck-shapeless` for Scala 2.13-RC1?

[2019-04-23 07:29] alexarchambault commented on #467
@mslinn It's on its way: https://github.com/alexarchambault/scalacheck-shapeless/pull/103.

[2019-04-23 08:08] alexarchambault commented on #467
Done, `1.2.2` is out: http://repo1.maven.org/maven2/com/github/alexarchambault/scalacheck-shapeless_1.14_2.13.0-RC1/1.2.2/.

[2019-04-23 15:40] mslinn commented on #467
@alexarchambault Wow! Thanks!

[2019-04-23 17:35] leifwickland commented on #467
Thanks, @alexarchambault. That got me a little further.

[2019-04-23 17:44] leifwickland commented on #467
@ruippeixotog, I pushed my very incomplete work of getting to 2.13.0-RC1. https://github.com/pureconfig/pureconfig/tree/hacking-toward-2.13.0-RC1

The immediate blocker is that `CanBuildFrom` is removed from 2.13. I think the party line is that [`scala-collection-compat`](https://github.com/scala/scala-collection-compat) is supposed to be the answer, but currently there's no blessed release versio

[2019-04-23 19:13] ruippeixotog commented on #467
Thanks, Leif! I already had everything compiling successfully on Scala 2.13-RC1 (with my own compat layer, which can easily be replaced if an official one appears). My troubles were with cross-compiling the project on SBT as I was getting some weird dependency errors. I’ll try again this week looking at your build, thanks for sharing!

[2019-04-23 19:16] leifwickland commented on #467
@ruippeixotog Ah, in that case you'll get no benefit from mine. All I could possibly have is newer versions of some deps that have been published very recently. If I can be of assistance let me know.

[2019-04-26 07:24] ryan1894 opened #468 "Can't type parameterise ProductHints for use with pureconfig"
After running into the issue described [here](https://github.com/pureconfig/pureconfig/issues/313)

I have found that using a type parameter for a product hint:

i.e. both
`implicit val productHint = ProductHint[T](ConfigFieldMapping(CamelCase, KebabCase).withOverrides("s3" -> "s3"))`
and
`implicit val productHint = ProductHint[SomeCaseClass](ConfigFieldMapping(CamelCase, KebabCase).withOverrides(

[2019-04-26 14:22] leifwickland commented on #468
I'd expect that the second approach using the specific class would work if
the hint were in the scope of where the ConfigReader for SomeCaseClass
which is constructed, which is usually the call to `
loadConfigFromFilesOrThrow`. If that's not working, please consider
submitting a sample project which demonstrates the problem.

On Fri, Apr 26, 2019 at 1:24 AM ryan1894 <notifications@github.com> wrot

[2019-04-26 22:10] ruippeixotog commented on #468
The product hint needs to be in scope on the place the `ConfigReader` is _created or derived_, not on the place it is used.

Typically (i.e. when a concrete class is used) the derivation would happen in your `loadConfigFromFilesOrThrow` call, but since you are using a type parameter (and there is no way to create a `ConfigReader` for an arbitrary `T`) my guess is that you're creating the `ConfigRe

[2019-04-29 01:34] ryan1894 commented on #468
Thanks @ruippeixotog, you were correct in thinking that I was passing an implicit `ConfigReader[T]`.

Originally I was using a pattern similar to:

`case class ConfigLoader[T: ClassTag](implicit reader: ConfigReader[T], productHint: ProductHint[T]) { ... }`
and
`object Config extends ConfigLoader[SomeCaseClass](BaseConstants.RuntimeArguments.JobProfile)(ClassTag(classOf[withProductHint.JobProfileM

[2019-04-29 01:35] #468 closed, assigned to nobody

[2019-05-01 10:50] #467 closed, assigned to nobody

[2019-05-02 16:00] tampler opened #471 "Error loading config"
Hello

I"m trying to load a [simple](https://github.com/Clover-Group/front/blob/withdoobie/src/main/resources/application.conf) configuration to my auto generated http4s server v0.20.0

My load method is [this](https://github.com/Clover-Group/front/blob/11c010bc33dc5bb3ac362510a009af2e4435a14f/src/main/scala/config/package.scala#L19)
And I load it like [this](https://github.com/Clover-Group/front/

[2019-05-02 16:58] leifwickland commented on #471
@tampler,

 The [`loadConfigF(namespace: String)` method](https://github.com/pureconfig/pureconfig/blob/master/modules/cats-effect/src/main/scala/pureconfig/module/catseffect/package.scala#L45) you're calling takes the base namespace of the configurations. It looks like you'd rather call the overload that takes a path, [`loadConfigF(path: Path)`](https://github.com/pureconfig/pureconfig/blob/maste

[2019-05-02 18:09] tampler commented on #471
@leifwickland Thanks, that worked.
Another issue is that I can't simply load my "application.conf" and need to provide the full path, which is horrible. Can I do better? See my [solution](https://github.com/Clover-Group/front/blob/f444c3e15bc9e5122e2cdfa6f890ef2f29cfd53f/src/main/scala/config/package.scala#L19)

[2019-05-02 19:27] leifwickland commented on #471
Pureconfig is simply passing the path to typesafe-config. Using a path relative to the current directory should work.

[2019-05-02 19:42] tampler commented on #471
Thanks, @leifwickland
I made it work with the following:
[code]
However, I'm still not happy with my load. I need to launch the end-of-the-world, like [this](https://github.com/Clover-Group/front/blob/11c010bc33dc5bb3ac362510a009af2e4435a14f/src/main/scala/Server.scala#L21) to load it.
I saw a better solution here. It worked in HTTP4s 0.18.22 inside a fs2.Stream like [this](https://github.com/jasp

[2019-05-02 20:09] leifwickland commented on #471
At that point you're beyond the realm of pureconfig. I suggest you talk to http4s or FS2 folks to find a solution to that problem.

[2019-05-02 20:09] #471 closed, assigned to nobody

[2019-05-06 17:39] pettercastro opened #472 "Config reader per attribute per case class"
I am loading my typesafe config with ENV VARs. Which means something like
[code]
and I define the case class
[code]

However, as ENV VARs always arrive as `STRING` to the config, I would like to define a ConfigReader **per attribute per case class**, so that I can make the transformation from String to the Type needed.
For instance, if it is the `process` attribute in the `Team` case class, then t

[2019-05-06 17:51] leifwickland commented on #472
@pettercastro,

I know of two typical ways people attack this problem:

1. Create `AnyVal` wrappers for all of the non-string types in your case classes and provide `ConfigReaders` to convert those.
2. Defined a private "raw" case class that receives the stringy values. Create a ConfigReader for that raw class and then `emap` that to the reader for case class you actually want to use in your progr

[2019-05-07 05:25] pettercastro commented on #472
@leifwickland could u pls help me with a small snippet for option 1? because if I understand correctly, the configReaders are implemented by type (i.e String), and not per attribute, so if I define a ConfigReader for the String, it will try to apply the same transformation to all the attributes, as all of them come as String from the env vars

[2019-05-07 19:53] leifwickland commented on #472
@pettercastro

Here's a [sample repo](https://github.com/leifwickland/pureconfig-team-example/) that shows the two approaches.

All the code is in [Team.scala](https://github.com/leifwickland/pureconfig-team-example/blob/master/src/main/scala/Team.scala). `Team1` shows the `AnyVal` approach. `Team2` shows the "raw" approach.

Does that help?

[2019-05-07 19:56] leifwickland commented on #472
I forgot to mention that I assumed you were using a custom format for your list and string (rather than the HOCON native format) because you're loading values from env vars. My examples will be a bit odd if that's not the case.

There are lots of other ways to accomplish the same thing. I probably should've pointed you to the [Supporting New Types](https://pureconfig.github.io/docs/supporting-new-

[2019-05-09 00:10] pettercastro commented on #472
@leifwickland yeah, that helped a lot! Thank you!

[2019-05-09 00:10] #472 closed, assigned to nobody

[2019-05-09 09:28] skestle commented on #467
Can we really consider this closed when it's not published to a repository and https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md is not updated?

(I'm expecting to see it at https://oss.sonatype.org/content/repositories/snapshots/com/github/pureconfig/)

[2019-05-09 13:47] ruippeixotog commented on #467
You’re right that we should release PureConfig in order to rightly close this. I’ll take care of that later today 👍

We can proceed later to do a PR to make-release-notes adding PureConfig, but I wouldn’t consider it a requirement.

[2019-05-09 14:10] mslinn commented on #467
"The job is not done until the paperwork is finished". Any release notes that could be written would be helpful to me, so I can update the ScalaCourses lecture on PureConfig without losing too much hair.

[2019-05-09 23:06] ruippeixotog commented on #467
@skestle I just released PureConfig v0.11.0, it should be available on Maven in one hour or two.

@mslinn our release notes are written in [CHANGELOG.md](https://github.com/pureconfig/pureconfig/blob/master/CHANGELOG.md).

[2019-05-16 13:16] miguelpuyol opened #475 "Upgrade Config to 1.3.4"
As os Typesafe config 1.3.4, *any* config key can be overriden by env variable if adding a JVM property: https://github.com/lightbend/config/pull/620/files#diff-04c6e90faac2675aa89e2176d2eec7d8

Usage:

[code]

[2019-05-16 13:37] jcazevedo commented on #475
Closed by #476.

[2019-05-16 13:37] #475 closed, assigned to nobody

[2019-05-16 18:49] jcazevedo commented on #463
Have we considered removing the gif from the README? It's something that's hard to maintain and in my opinion adds little value when compared to some code that can be copied (which we have in the "Quick Start" section).

[2019-05-16 19:10] ruippeixotog commented on #463
I agree, we should try to make everything as easy as possible to maintain 👍

[2019-05-16 19:14] leifwickland commented on #463
I'm good with that.

On Thu, May 16, 2019 at 1:10 PM Rui Gonçalves <notifications@github.com>
wrote:

[2019-05-26 23:28] #463 closed, assigned to nobody

[2019-06-01 20:32] geoHeil opened #480 "gradle stuck on old scala version can't compile"
I use gradle to build my scala project. Unfortunately, after a recent refactor it is no longer able to compile it.

I am running into https://github.com/pureconfig/pureconfig/issues/292 i.e. every second (sometimes random) build works.

Unfortunately, I can't easily upgrade gradle's scala compiler as this seems to use a fairly outdated edition of zinc (https://github.com/gradle/gradle/issues/2158,

[2019-06-01 20:52] ruippeixotog commented on #480
Unfortunately I never built Scala projects with Gradle, so I can't help you. Since this issue is not related at all with PureConfig, it is probably a good idea to open an issue in one of those projects.

[2019-06-01 20:52] #480 closed, assigned to nobody

[2019-06-06 10:15] EugeneYushin opened #481 "StackOverflowError with many nested classes"
Parsing configs with relatively-deep hierarchies results in StackOverflowError using Scala 2.12.8.
[code]

Error message excerpts `sbt clean compile`:
[code]

**Note**, the above example compiles well using Scala 2.11.

[2019-06-06 10:40] jcazevedo commented on #481
PureConfig is a "compiler-heavy" library, and we've seen cases in the past where the default resources provided to the Scala compiler are not sufficient to derive readers for more complex structures (see #318, #390 and #391 for examples of this).

Can you try running sbt with `SBT_OPTS="-Xms512m -Xmx1536m -Xss2m"` to see if the error persists?

[2019-06-06 11:00] EugeneYushin commented on #481
@jcazevedo thx, it works like a charm.
As there were 4 issues opened, it would might have sense to put a notice in docs about this behaviour?
I'm closing the issue

[2019-06-06 11:00] #481 closed, assigned to nobody

[2019-06-11 11:24] hugo-vrijswijk opened #483 "Support Scala 2.13"
Since Scala 2.13 is released recently it would be awesome if this library would cross compile to Scala 2.13 as well.

Am willing to give it a go :)

[2019-06-11 12:34] chetanmeh opened #485 "Support a simpler form of manual derivation"
With #420 support was added for [manual derivation][1]. This mode requires one to explicitly enumerate the field names like

[code]

It would be easier if we can avoid listing the field names explicitly. We can use an approach similar to one taken in [spray-json][2] which enables creating custom formats for case classes like

[code]

This would enable one to avoid using shapeless based approach wi

[2019-06-13 05:39] mslinn commented on #483
Pureconfig supported Scala 2.13-RC1 with the fix for #467. Now that 2.13.0 has been released, we are ready to publish our [updated course material for Scala 2.13](https://www.scalacourses.com/showCourse/45). Our only block is that Pureconfig has not yet been released for 2.13.0.

[2019-06-13 19:14] #483 closed, assigned to nobody

[2019-06-13 19:17] ruippeixotog commented on #483
The master branch already has support for Scala 2.13. We'll do a PureConfig soon 👍

[2019-06-14 21:04] ruippeixotog commented on #483
0.11.1 is now released with support for Scala 2.13: https://repo1.maven.org/maven2/com/github/pureconfig/pureconfig_2.13/0.11.1

[2019-06-18 10:46] nigredo-tori opened #486 "Support getting List[PathSegment] from ConfigCursor"
Ideally I want to be able to get path from `ConfigCursor`, and plug it directly into a `FluentConfigCursor.at(List[PathSegment])`.

The most straightforward way I see to implement this would be to switch from `List[String]` to `List[PathSegment]` in `*Config*Cursor` case classes, but that would obviously be breaking.
A less invasive change would be to add a method similar to `FluentConfigCursor.at

[2019-06-21 18:54] AceHack commented on #210
What is the syntax in the config?

[2019-06-21 19:03] leifwickland commented on #210
@AceHack,
The [`ConfigReader` for Java's `Duration`](https://github.com/pureconfig/pureconfig/blob/577910f117ffdbc51c6000eea043eade203d7f0c/core/src/main/scala/pureconfig/BasicReaders.scala#L113) calls [Duration.parse](
https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#parse-java.lang.CharSequence-), which is what defines the syntax.

[2019-06-21 19:05] leifwickland commented on #210
@AceHack,

That fact is probably not documented nicely anywhere. Do you have any suggestions for where it should've been documented based on where you looked for it?

Thanks.

[2019-07-07 23:47] erikerlandson opened #516 "Derivation is failing to resolve a custom ConfigConvert materializer"
Context: I'm working on an integration of [coulomb](https://github.com/erikerlandson/coulomb) with pureconfig.

I have a generator (see [this pull-req](https://github.com/erikerlandson/coulomb/pull/42)) for `ConfigConvert` that appears to work well in isolation (it will instantiate implicitly when using `to` and `from` on a coulomb `Quantity`). However, when I try to declare a configuration case c

[2019-07-08 15:39] erikerlandson commented on #516
Wondering if this is some subtle artifact of `inferImplicitValue` in the macros. I've had trouble with that before, and it was one reason I moved `coulomb` out of macros to pure implicits

[2019-07-11 15:48] whoisvolos opened #520 "Pureconfig can't parse JSON"
Good day!
I am using version 0.11.1 and Scala 2.12, trying to parse JSON to case class.

[code]

Getting

[code]

Error is a bit meaningless for me, readme tells about possibility to parse JSON, but full doc does not say smth special about JSON case. No problem with Typesafe configs though.

[2019-07-11 22:19] ruippeixotog commented on #520
Hi @whoisvolos! `loadConfigOrThrow` has many overloaded versions, and you're actually calling [this one](https://static.javadoc.io/com.github.pureconfig/pureconfig-core_2.12/0.11.1/pureconfig/index.html#loadConfigOrThrow[Config](namespace:String)(implicitevidence$2:scala.reflect.ClassTag[Config],implicitreader:pureconfig.Derivation[pureconfig.ConfigReader[Config]]):Config), which takes a namespace

[2019-07-12 07:18] whoisvolos commented on #520
Yes, now it works great! Thank you!

[2019-07-12 07:18] #520 closed, assigned to nobody

[2019-07-27 07:01] chopraarjun opened #522 "Failing UnexpectedValueForFieldCoproductHint"
The sample its self fails

import pureconfig.generic.auto._

sealed trait MyAdt {}

case class AdtA(a: String) extends MyAdt
case class AdtB(b: Int) extends MyAdt
final case class Port(value: Int) extends AnyVal
case class MyClass(
                    boolean: Boolean,
                    port: Port,
                    adt: MyAdt,
                    list: List[Double],
                    map: M

[2019-07-27 09:51] ruippeixotog commented on #522
Hi @chopraarjun! You're right, the documentation is outdated. Since v0.11.0 the sample `application.conf` should have `type = "adt-b"`, as we changed the mapping from "convert to lowercase" to "convert to kebab-case". I'll fix this shortly.

[2019-07-27 10:46] #522 closed, assigned to nobody

[2019-07-27 15:45] erikerlandson commented on #516
Out of curiosity, was this done in macros because of [this](https://stackoverflow.com/questions/49088319/a-diverging-implicit-expansion-in-scala-involving-chained-implicits)? (Which was [fixed](https://github.com/scala/scala/pull/6050) as of scala 2.13)

[2019-07-28 05:37] chopraarjun opened #526 "Clarification needed for Dynamic Nested Conversion"
I have a scenario where  i need to loaded nested values withs Various Datatype, how can i do that

    case class Conf (
                    data: Map[String, Any]
    )

     implicit val anyConfigConvert: ConfigConvert[Any] = new ConfigConvert[Any] {
            override def from(cur: ConfigCursor): Result[Any] = {
                for {
                    v <- cur.value.asInstanceOf[ConfigValue

[2019-07-28 05:40] chopraarjun commented on #522
Thanks a lot.

[2019-07-28 11:38] ruippeixotog commented on #516
Hi @erikerlandson! Sorry for not having replied before. Unfortunately, it's not clear to me why it doesn't work at a first glance; if coulomb was using macros it would be possible that they were not compatible together, but with implicits only I was expecting everything to work.

We use a macro-powered wrapper to show nice debug messages when an implicit cannot be found (https://pureconfig.github.

[2019-07-28 14:08] chopraarjun commented on #526
This seems to be working

import com.typesafe.config.{ConfigFactory, ConfigValue, ConfigValueFactory, ConfigValueType}
import pureconfig.ConfigReader.Result
import pureconfig._
import pureconfig._
import pureconfig.ConfigConvert._
import pureconfig.error.WrongType

import scala.util.Try
import pureconfig.generic.auto._

object E1 {

    def main(args: Array[String]): Unit = {

    case class Conf

[2019-07-28 18:13] erikerlandson commented on #516
@ruippeixotog thanks!
For fun, I tried compiling it as part of the test build. I dropped the following into my source:
[code]
When I do it that way, it compiles fine!  That suggests it isn't a bug in pureconfig, but maybe the REPL's environment is not set up quite right to make the implicit tree resolve.

[2019-07-28 18:54] ruippeixotog commented on #516
That's great to hear! The Scala REPL is indeed very flaky, I'm glad it works in a normal environment.

[2019-07-28 22:32] ruippeixotog commented on #526
Hi @chopraarjun! I didn't understand your question, I'm sorry. What exactly do you need clarification on?

[2019-07-29 16:45] #516 closed, assigned to nobody

[2019-08-02 03:49] nigredo-tori opened #531 "RFC: Rethink config loading API"
At the moment, the API for loading configs is lacking:
1. It has a lot of wrappers and overloads for different scenarios. This is exacerbated  by the fact that these are duplicated in the `catseffect` module.
1. It doesn't cover all the cases that `ConfigFactory` supports (loading from `URL`s, specifying classloaders, etc).
1. It is not very flexible. E.g. there is no way to load a config without

[2019-08-02 23:32] ruippeixotog commented on #531
@nigredo-tori the idea sounds very good, thank you for the detailed proposal! The current explosion of loader methods is not ideal at at all and it's been a problem before. I'd also consider that we have a module currently loading configs from sources other than Typesafe Config (like pureconfig-yaml), and the new API should cater to that one too.

I'll give this some thought and I'll try to build

[2019-08-03 07:35] sfosdal commented on #441
We will be doing the same.

`pureconfig.generic.auto._` contains only macros, which yeah, IntelliJ messes up.

am glad semiauto is an option

[2019-08-07 11:58] ioreskovic opened #535 "Scala 2.13 pureconfig-cats-effect suppport"
I see that core pureconfig module has 2.13 support, but pureconfig-cats-effect is still on 2.12.
Any plans/eta on upgrading?

Thx!

[2019-08-07 12:14] jcazevedo commented on #535
Besides `pureconfig-cats-effect`, I think we can start publishing some other modules for Scala 2.13. I'll take a look later today for what we can update.

[2019-08-08 11:10] jcazevedo commented on #535
#537 starts building some modules for Scala 2.13. Unfortunately there are no stable cats and cats-effect versions for Scala 2.13 yet.

[2019-08-10 09:23] CucumisSativus opened #539 "Error when building native image for application with pureconfig"
When I'm trying to build native image for scala application which contains pureconfig. I get the following waring
[code]
Which is shortly followed by the error:
[code]

I prepared minimal test case project, where I have the instruction how to reproduce the issue
https://github.com/CucumisSativus/pureconfig-nativeimage

Please let me know if I can assist you somehow with reproducing or fixing this

[2019-08-10 10:57] jcazevedo commented on #539
Thanks for the minimal test case project! I was able to reproduce the issue using it. I haven't investigated a lot, but found [this guide](https://www.graalvm.org/docs/reference-manual/languages/scala/getting-started/#support-for-scala-macros) that indicates some extra steps to use macros in GraalVM.

[2019-08-11 14:38] ruippeixotog commented on #486
I agree that switching from `List[String]` to `List[PathSegment]` is the way to go, there are obvious advantages in being able to retrieve a strongly typed path instead of having to parse each segment (and of course, our current way of holding those is ambiguous).

I'll work on doing this change without breaking changes (if should suffice to hold the path elements in a variable with a different na

[2019-08-12 21:24] lbialy commented on #539
Not related to macros at all as they are expanded in scala compile time and native-image operates on `.class` files. Problem is basically limited to:
a) Scala 2.13 not compiling to native yet due to new implementation of Vector using `MethodHandles`
b) Scala being a language that doesn't rely on reflection and therefore working much better with `--initialize-at-build-time` native-image flag - with

[2019-08-12 21:28] lbialy commented on #539
OTOH: this project compiles just fine to native binary with
`graalVMNativeImageOptions ++= Seq("--initialize-at-build-time", "--no-fallback")`
and
`ThisBuild / scalaVersion     := "2.12.9"`

Another interesting thing that one *has to take into account* when using library based on typesafe config is that you need a special native-image flag to include classpath resources in compiled native-image: `

[2019-08-13 19:48] CucumisSativus commented on #539
Thanks a lot for your help @lbialy.

 @jcazevedo im closing this issue since its not related to pureconfig. Sorry for the trouble I caused

[2019-08-13 19:48] #539 closed, assigned to nobody

[2019-08-13 19:54] jcazevedo commented on #539
No trouble at all! Thanks for the help @lbialy!

[2019-08-13 21:53] andyglow opened #542 "case class default values are nulls if not defined in place"
quick example

model
[code]

tryout
[code]

result
[code]

it can be fixed by specifying default values in-place, like this
[code]

but can we have original example working as well?

thanks!

[2019-08-19 23:16] ruippeixotog commented on #542
I can take a look at this later, but I'm pretty sure that this is not something we can do on PureConfig's side - the defaults come directly from shapeless `Default.AsOptions` type class. I guess technically it should be possible to extract defaults as zero-arg lambdas that we could execute in runtime, but I'm not sure how much of this are exposed by Scala macros.

My recommendation would be to ope

[2019-08-20 17:19] geoHeil opened #546 "scala 2.12 warning of implicit parameter not being used"
When compiling:
[code]
with:
[code]
under scala 2.11.12 everything is fine.

However, when using 2.12.9, I see a warning of:
[code]
How can this be fixed?

[2019-08-20 17:24] leifwickland commented on #546
@geoHeil, Are you certain that having an implicit `ConfigReader` is required? I'd expect that `A` is unused and that `loadConfig` causes a derivation to happen, depending on which imports you have.

If in fact `A` is being used, I'd suggest you try this alternative construction:

[code]

[2019-08-22 07:41] geoHeil commented on #546
thanks

[2019-08-22 07:41] #546 closed, assigned to nobody

[2019-08-31 09:42] #531 closed, assigned to nobody

[2019-09-02 12:13] deusaquilus opened #551 "Root-level 'user' property is a strange object"
Take the following code:
[code]
... and the following config file:
[code]

In 0.11.1 this causes:
[code]
In earlier versions (e.g. 0.8.0) it causes:
[code]
Something odd is happening with the 'user' property. However, if I switch it to 'username' it works fine. Also, if you add it to a sub-object of the root object it works fine.

[2019-09-02 21:09] leifwickland commented on #551
@deusaquilus,

You're getting bitten by the [default behavior of typesafe config](https://github.com/lightbend/config#standard-behavior), which is the library underlying pureconfig. You'll notice in that documentation that the highest priority source for configuration is "system properties" which includes environment variables. Your shell almost certainly creates a `USER` env variable.

To work ar

[2019-09-02 22:01] ruippeixotog commented on #551
Just to further clarify, the default behavior merges both Java system properties and environment variables. Your `user` config in particular is loaded as an object because of the [default system properties](https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html) in the JVM.

[2019-09-03 21:20] deusaquilus commented on #551
Interesting! Is there a way to specify the priority of files to load? How is it currently determined?

[2019-09-03 21:54] leifwickland commented on #551
This describes the priority of files loaded by default:
https://github.com/lightbend/config#standard-behavior

[2019-09-03 22:11] leifwickland commented on #551
If you want to specify the priority manually, you:
- manually load the conf files via `ConfigFactor.load`
- combine the `Config` objects via `.withFallback`
- call `Config.resolve()` with options that allow (or not) using env vars, etc. (I'm not sure that it's necessary to set these options if you're only loading files.)
- pass the resulting `Config` to pureconfig's `loadConfig()` method.

[2019-09-06 02:44] UkonnRa opened #555 "Why the `application.conf` in `scala-2.12/classes` and `scala-2.12/test-classes` will be merged in `sbt test`"
Say I have a project with two `application.conf`, one in `main/resources` and the other in `test/resources`. Now when I use `pureconfig.loadConfig[SomeConfig]` in the test classes to load test configs, I find the main configs in the `main/resources` will also be merged in the following codes from `com.typesafe.config.impl.Parseable`:
[code]

Because both `application.conf` in `scala-2.12/classes`

[2019-09-06 09:33] jcazevedo commented on #555
That is the default behavior of [Typesafe Config](https://github.com/lightbend/config#standard-behavior). In this case, it is loading all `application.conf` files on the classpath, which includes both the `main/resources` and `test/resources`.

Unfortunately, it is not very easy to customize this. You can manually load the configuration files you want with `ConfigFactory.load`; combine them (in ca

[2019-09-10 13:04] fmeeuw opened #569 "Wrong value parsed when having a key that starts with the value of another key using hyphens"
When having both `foo-bar` and `foo` present in a case class, Pureconfig attempts to parse the value of `foo-bar` and assign it to `foo`. When they both have different types this results in a compile error, however when the types are the same, Pureconfig will assign the value of `foo-bar` to both `foo` and `foo-bar`.

I noticed the same behaviour with ficus and also reported an issue there: https:

[2019-09-10 14:24] jcazevedo commented on #569
This is very weird.

As you indicate, this doesn't seem to be an issue with PureConfig and it looks like scala/bug#8831. You also get a `java.lang.ClassCastException` when using the `apply` method of `TestSettings`:

[code]

[2019-09-10 14:31] jcazevedo commented on #569
`TestSettings2` also exhibits the behavior you describe in its `apply` method:

[code]

[2019-09-11 06:16] fmeeuw commented on #569
It indeed seems to be the same issue as https://github.com/scala/bug/issues/8831.
Since it already exists for 4 years, I think I will work around the issue by not using backquotes in case classes anymore.

[2019-09-11 17:07] jcazevedo commented on #569
Closing the issue, since this is scala/bug#8831.

[2019-09-11 17:07] #569 closed, assigned to nobody

[2019-09-11 17:26] #455 closed, assigned to nobody

[2019-09-13 04:40] ruippeixotog opened #572 "Create initial version of Magnolia module"
[Magnolia](https://github.com/propensive/magnolia) is an alternative to shapeless to derive type classes for sealed traits and case classes. Many people use semiauto derivation instead of auto derivation because of the compilation times incurred by shapeless on auto-derivation. Magnolia is supposed to be better in this regard.

We can create an initial `pureconfig-generic-magnolia` that serves as

[2019-09-13 04:43] ruippeixotog opened #573 "Create ConfigSource for YAML"
v0.12.0 saw the introduction of `ConfigSource`s, but `pureconfig-yaml` still needs to be migrated to the new API.

[2019-09-13 04:48] ruippeixotog opened #574 "Migrate website and documentation to mdoc"
Tut is [being abandoned](https://github.com/tpolecat/tut/issues/246#issuecomment-519943218) in favor of [mdoc](https://github.com/scalameta/mdoc), so we should try to migrate our documentation. This would also allow us to start compiling the documentation against Scala 2.13.

I tried to do this before and I hit some roadblocks at the time (https://github.com/scalameta/mdoc/issues/155). Some things

[2019-09-13 04:55] ruippeixotog opened #576 "sbt-release tries to publish artefacts twice"
For the past few releases, sbt-release has been failing with an error message saying I was trying to overwrite an artefact in Sonatype and that was not allowed. This suggests that our project configuration is trying to publish the same artefact twice.

This is not related with the recent update to `sbt-sonatype`; it has been happening for some time now, I was just too lazy to fix it and finished t

[2019-09-13 04:59] ruippeixotog opened #577 "Set the PureConfig version of the example project dynamically"
The builds for our commits bumping to a stable version (automatic, issued by sbt-release) always fail because the example project cannot find the appropriate version. Example: 702250ca32bf9934f2f3e3e0cbd2ec6f2b684ccd, [Travis build](https://travis-ci.org/pureconfig/pureconfig/builds/584428026).

We should probably set the PureConfig version in the example project dynamically by reading `version.sb

[2019-09-13 05:05] ruippeixotog commented on #551
Starting at v0.12.0 (released today) you should use `ConfigSource` objects to mix and match the files or resources you want to load 🙂 See the docs [here](https://pureconfig.github.io/docs/loading-a-config.html)!

Closing this as the behavior reported is expected according to Typesafe Config's defaults.

[2019-09-13 05:05] #551 closed, assigned to nobody

[2019-09-20 09:46] ruippeixotog opened #589 "Fix pureconfig-bot to work when running on forked repos"
Currently, every time our build detects a change in the website content on a PR from an external contributor (i.e. from a forked repo), the script fails.

That is happening because of [this](https://github.com/pureconfig/pureconfig/pull/565#issuecomment-529198871). We need to find a workaround for these cases.

[2019-09-23 18:36] #573 closed, assigned to ruippeixotog

[2019-09-24 21:33] ruippeixotog opened #595 "Improve SBT project structure"
Currently, our modules are organized in a complex and tricky way:
- We have test utilities (testkits) mixed with test suites and we have module tests depend on both of them;
- Even though we define `generic` as a module, it has a special status since all tests and tut code depend on it - making it impossible for `pureconfig-generic` to have tests using `BaseSuite` and for us to generalize project

[2019-09-25 12:21] jcazevedo commented on #595
I like that!

I'd also like to entertain the idea of moving the modules not related to type class derivation to their own repository under the PureConfig GitHub organization. Some advantages that I see with that approach:

* We could have different maintainers for those modules;
* It'd make the build for the main PureConfig repository faster and simpler;
* It'd allow their documentation to be kept

[2019-09-25 13:35] azolotko commented on #535
cats-effect 2.0.0 has been released with Scala 2.13 support.

[2019-09-25 14:15] jcazevedo commented on #535
#579 already adds support for Scala 2.13 in the `pureconfig-cats-effect` module. The only thing pending to close this issue is publishing the module. We'll try to do it soon.

[2019-09-27 14:13] nigredo-tori opened #599 "Allow passing ClassLoaders to the ConfigSource constructors that can use it"
This was a part of #531, but didn't make it into #541.

`ConfigFactory.parseResources` and its derivatives that don't accept a `ClassLoader` use `Thread.getContextClassLoader` inside, which doesn't mix at all with the threadpool-heavy execution model that the Cats-Effect ecosystem provides, and with the `ClassLoader` wizardry that SBT does by default.

Case in point: https://gitter.im/melrief/pure

[2019-09-28 11:09] ruippeixotog commented on #595
I don't like at all projects with a multi-repo organization for closely related modules 🙁 Generally, we'd have all the problems for which a monorepo is usually chosen:
- It would make it much harder to keep modules up-to-date with the latest PureConfig version, and abandoned modules wouldn't get updated anymore (it's not reasonable for us to be going to N repos to make sure they are up-to-date);
-

[2019-09-28 14:00] jcazevedo commented on #535
We've just published `pureconfig-cats-effect` (and `pureconfig-cats` and `pureconfig-circe` as well) for Scala 2.13: https://repo1.maven.org/maven2/com/github/pureconfig/pureconfig-cats-effect_2.13/0.12.1/.

[2019-09-28 14:00] #535 closed, assigned to nobody

[2019-09-28 15:02] ruippeixotog commented on #599
@nigredo-tori I see that `defaultApplication(ClassLoader)` just calls `defaultApplication(ConfigParseOptions.defaults().setClassLoader(loader))`. Would it work for you if we provided a way to specify custom `ConfigParseOptions`, in order for the API to cover more cases?

[2019-09-28 16:10] nigredo-tori commented on #599
@ruippeixotog, sure. But in that case we should mention the context class loader issue in the ScalaDoc for the methods that have that behavior, and point the user towards the `ConfigParseOptions` route - just to make the solution discoverable. At least to me the fact that `ConfigParseOptions` also includes a `ClassLoader` came as a surprise.

[2019-10-01 22:55] leifwickland commented on #595
My bias is toward keeping all the projects in a single git repo.
I have no objection to the rest of the suggestions.

[2019-10-10 08:05] Mbompr commented on #391
@jcazevedo solution https://github.com/pureconfig/pureconfig/issues/391#issuecomment-401968537 has fixed it for me too. Since it took me a while to reach this page, here is the error message I had in my specific case to help people finding this solution, :
`could not find implicit value for evidence parameter of type pureconfig.ConfigReader[MyCaseClass]`

[2019-10-10 20:56] #385 closed, assigned to jcazevedo

[2019-10-10 21:31] ruippeixotog commented on #599
#614 closes this. Despite my comment above, after I looked a bit more at `ConfigParseOptions` I decided not to give users that flexibility in default constructors. The name is misleading as many options there have nothing to do with parsing, like the config loader to use, and there are settings that change the semantics intended by `ConfigSource`, like allowing missing files.

Since `classLoader`

[2019-10-12 23:33] #572 closed, assigned to ruippeixotog

[2019-10-20 12:52] jcazevedo commented on #542
I'm unable to replicate this in the most recent PureConfig version.

@andyglow: Can you confirm if this is still an issue with the most recent PureConfig version? If it is, can you create a small test project replicating it?

[2019-10-20 12:54] #599 closed, assigned to nobody

[2019-10-20 13:10] scf37 opened #624 "NPE when using derivation"
pureconfig 0.12.1, Scala 2.12
[code]

throws on parsing:
[code]

[2019-10-20 15:28] jcazevedo commented on #624
The problem here is that a call to `ConfigReader[MyConfig].apply` will try to summon an implicit for `ConfigReader[MyConfig]`, which resolves to its enclosing value. If the implicit was declared as a `lazy val`, you would get a stack overflow. In this case, it is uninitialized, hence the `NullPointerException`. The Scala compiler supports, since scala/scala#6318, the `-Ywarn-self-implicit` flag, w

[2019-10-22 05:41] karlroberts opened #625 "Bug loading resources config with ConfigSource.resources("/application-dev.conf")"
Hi,

with version 0.12.1

`ConfigSource.resources(resourceName)`   fails yet `ConfigSource.url(..)` works... specifically see this
[code gist ](https://gist.github.com/karlroberts/2ae14ce2b7b48b745d0cd3c5a3a5c620)

I can find the resource turn it into a URL and resolve it OK using `ConfigSource.url(theurl)` but if I use resources for an absolute resource it fails with the exception

[code]

[2019-10-22 07:40] #624 closed, assigned to nobody

[2019-10-22 20:23] ruippeixotog commented on #625
To load resources from `src/main/resources` you need to remove the leading slash. `application-dev.conf` should work well in your case.

`ConfigSource#resources` delegates to Typesafe Config `ConfigFactory#parseResources`, which in turn uses `Thread.currentThread().getContextClassLoader().getResources`. Everything that works with this last method should work with `ConfigSource`, too.

[2019-10-22 22:55] karlroberts commented on #625
Well, there's "should work" and "works" :-) and unfortunately this does not work.

I can confirm that removing the "/" does not work and has the same error except the message now says

`Unable to read resource application-dev.conf (resource not found on classpath: application-dev.conf) `
besides I don't think you are right, the [java spec for Resources](https://docs.oracle.com/javase/8/docs/techno

[2019-10-22 23:36] ruippeixotog commented on #625
Right :)

Are you testing this by running `sbt run`? If so, are you explicitly forking the JVM in SBT settings? You may be suffering from a known pitfall of using Typesafe Config (and PureConfig) in an SBT environment, where they do some wild tweaks to class loaders to speed up loading (see https://gitter.im/melrief/pureconfig?at=5d8ddd7573dd29627ebe5ab2 for a discussion on this).

If that's the c

[2019-10-24 12:29] YuvalItzchakov opened #626 "Failure parsing an `Instant` field from a YAML file"
Given the following program:

[code]

The output yields:

[code]

The problems is rooted in the way we first convert the YAML using SnakeYAML

[code]

This yields back `o` parsed as a `Date` type, which then gets converted again to a `String` type inside `yamlObjToConfigValue`:

[code]

Then, when we try to convert that `String` type to `Instant`, we're no longer in a valid format, thus the error.

[2019-10-27 16:27] fbunau opened #628 "Release pureconfig-http4s for Scala 2.13"
Hi,

pure config is great !
it seems that pureconfig-http4s is not released for Scala 2.13
https://mvnrepository.com/artifact/com.github.pureconfig/pureconfig-http4s

which creates problem with including it alongside other libraries released for 2.13

Please consider releasing it, thanks !

[2019-10-27 16:42] jcazevedo commented on #628
We're still waiting for a stable http4s version for Scala 2.13. We don't usually release modules for non-stable library versions.

[2019-10-27 16:50] fbunau commented on #628
Ah cool, that makes sense, it's true I was doing my code on 0.21.0-M5. I'll close this one.
Thanks for the info didn't think of that aspect

[2019-10-27 16:50] #628 closed, assigned to nobody

[2019-10-28 00:41] ruippeixotog commented on #626
Well spotted @YuvalItzchakov! #630 has a fix for this.

[2019-10-28 01:37] #626 closed, assigned to nobody

[2019-10-30 09:07] Opalo opened #631 "'_' (underscore) support"
This is not actually an "issue" but rather a question: does pureconfig support using `_` instead of `-`? I can't find it in the docs.

Thanks for our great work!

[2019-10-30 11:34] jcazevedo commented on #631
PureConfig supports using `_` for token separators as a naming convention in its `ConfigFieldMapping` called `SnakeCase`. You can take a look at the docs page about overriding the reading behavior for case classes (https://pureconfig.github.io/docs/overriding-behavior-for-case-classes.html#field-mappings) for more information about the available conventions and how to use and override them.

[2019-10-30 11:40] Opalo commented on #631
Cool, thank you very much!

[2019-10-30 11:40] #631 closed, assigned to nobody

[2019-11-19 11:18] saraiva132 opened #639 "Consider implementing a small zio adapter module"
There is a zio-config native library but I believe pureconfig has its merits and it might be worthwhile to implement a small ZIO module

[2019-11-26 11:58] geoHeil opened #644 "gradle 6.x scala - configReader not found"
Previous versions of Gradle had issues with pureconfig due to the outdated compiler (https://github.com/pureconfig/pureconfig/issues/480).

This has changed recently.
Gradle has upgraded their scala support: https://github.com/gradle/gradle/issues/2158 shows that for 6.x the new scala plugin is merged.

However, my build ist still failing for the updated Gradle: `could not find implicit value for

[2019-11-26 13:17] geoHeil commented on #644
I have created a minimal reproducible example here: https://github.com/geoHeil/pureconfig-debugging

[2019-11-27 06:36] geoHeil commented on #644
When instead of using scala 2.11 (which I need to use due to spark) experiment with 2.12, still an error occurs during compilation of the reproducible example. However, this time it is gibberish and contains an unclear exception. But it is clear that something regarding macros and reflection is failing:

[code]

[2019-11-27 15:52] leifwickland commented on #644
@geoHeil I regret to inform you that I can't reproduce your problem.
[code]

Just for comparison I created a build.sbt and compiled your project too. It was also successful for both scala 2.11 and 2.12.

[2019-11-27 15:52] #644 closed, assigned to nobody

[2019-11-28 06:55] geoHeil commented on #644
Strange. I just did a fresh git clone into an empty folder:

[code]

How could I make this issue reproducible for you?

Before Gradle 6 it was expected that gradles pureconfig build would fail from time to time depending on build order - whereas SBT would work fine as it already used the new zinc compiler.

[2019-11-28 10:56] jcazevedo commented on #644
@geoHeil: I was able to reproduce the issue in my machine.

PureConfig is a "compiler-heavy" library and it seems like the resources provided to the Scala compiler via the Scala Gradle plugin are not enough for your use case. I was able to compile your project using Gradle by increasing the thread stack size, adding the following to `build.gradle.kts`:

[code]

[2019-11-28 13:51] geoHeil commented on #644
Very strange - after retrying it again this afternoon it compiles also for me.

[2019-11-28 14:02] geoHeil commented on #644
Really awesome! Thanks @jcazevedo . Indeed I can now reliably confirm that both steps

1. Upgrading to the latest version of Gradle
2. increasing the compilation memory (as suggested by you)

are required

[2019-11-29 14:12] giuscri opened #649 "Can't expand env variable as List's"
Let's say I have a `reference.conf`
[code]
and a schema implemented as
[code]
To my knowledge, there's no way to define `$BLACKLIST` as an _array_ such that pureconfig will parse that as a `List[String]`

[2019-11-29 22:15] leifwickland commented on #649
@giuscri,

I think you're saying that you want to define `$BLACKLIST` as an array in `bash`'s (or whatever shell's) environment. Is that correct?

Unfortunately, [bash don't put array vars in the environment](https://unix.stackexchange.com/a/393096). It's easy enough to write a small scala app that demonstrates that with `sys.env.foreach(println)` in the main.

The best suggestion I can offer is s

[2019-11-29 22:15] #649 closed, assigned to nobody

[2019-12-02 11:14] nigredo-tori opened #650 "Move CatsEffectConfigSource to a separate object"
By convention, orphan implicits are grouped separately from the rest of the code, so that the calling code can use them without adding non-implicit members of `foo` to the scope, or depending on the exact name of the implicit member. So I think we should move `CatsEffectConfigSource` to the `pureconfig.module.catseffect.syntax` object.

[2019-12-08 20:15] #650 closed, assigned to nobody

[2019-12-11 10:40] giuscri commented on #441
As suggested by @jcazevedo, you need to `import pureconfig.generic.auto._`.

That said, in my case the problem was I was trying to parse a configuration into a `class` and *not* a `case class`.

[2019-12-17 09:00] nigredo-tori commented on #639
As long as ZIO supports cats-effect via interop-cats, we have all the cats-effect syntax available for ZIO monads (at least the ones that have `Sync`). So I think that, unless there is some **ZIO-specific** feature that we want, adding an interop module for ZIO is unwarranted.

However, we might want to add a ZIO example, since setting everything up might not be immediately obvious.

[2019-12-17 09:14] nigredo-tori opened #667 "Add Semigroup[ConfigSource], Monoid[ConfigObjectSource]"
We already have a `Semigroup` for `ConfigValue`, so we can just as well make a corresponding one for `ConfigSource`. Maybe even think upgrade one or both of these to `Monoid`, if `ConfigSource.empty` and/or the corresponding `ConfigValue` turn out to be an identity. And we can definitely make a `Monoid[ConfigObjectSource]`.

[2019-12-17 12:11] #639 closed, assigned to nobody

[2019-12-18 00:22] ruippeixotog commented on #667
Hi! Unfortunately `ConfigValue` is not a monoid as the empty object is not an identity for `withFallback` in the presence of scalar values:

[code]

With `ConfigSource` we decided to forbid combining sources unless the source is guaranteed to be a config object, so we don't even have an associative operation for a plain `ConfigSource`. The flip side is that as you said we can create a `Monoid[Conf

[2019-12-19 10:50] #667 closed, assigned to nobody

[2019-12-19 18:50] mslinn commented on #5
Perhaps it is time to close this issue?

[2019-12-19 19:03] mslinn opened #671 "Updating from PureConfig 0.7.0 to 0.12.1"
I used the [pure-config-test](https://github.com/mslinn/pure-config-test) project for issue #467; it used PureConfig 0.7.0.

Yesterday I encountered a few rough spots upgrading to PureConfig 0.12.1, so I made a branch in `pure-config-test` called `b0rked` and made the minimum changes to that project so that the issues would be easy to see. Please look for TODO and FIXME messages in `PureConfigFun.

[2019-12-19 22:52] #5 closed, assigned to nobody

[2019-12-21 01:39] ruippeixotog commented on #576
I didn't have this problem when releasing v0.12.2, so I guess #601 fixed this!

[2019-12-21 01:39] #576 closed, assigned to nobody

[2019-12-23 07:05] nigredo-tori commented on #671
Regarding the first point, I believe something llike this should work:
[code]
or, better yet, if you're decoding from a cursor:
[code]
Regarding the second point, the deprecation message has a recipe for rewriting this. Something like this:
[code]
The `.optional` isn't in that recipe, but, IIRC, the old version didn't require the file to exist. Replace `load` with `loadOrThrow` for the second exam

[2019-12-24 00:32] ruippeixotog commented on #671
@mslinn it looks like you were able to finish the migration after the Q&A on Gitter. Do you still need any help, or can we close this issue?

[2019-12-24 01:55] mslinn commented on #671
Thanks again!

[2019-12-24 01:55] #671 closed, assigned to nobody

[2020-01-11 10:14] YuvalItzchakov opened #681 "Misleading(/incorrect) error message when using cats data structures with auto derivation"
[code]

Given the above example, when compile and ran, generates the following result:

`Left(ConfigReaderFailures(ConvertFailure(WrongType(LIST,Set(OBJECT)),None,nel),List()))`

Which mistakenly indicates there's some sort of structure problem with the case class. However when adding `import pureconfig.module.cats._`, it compiles and runs successfully:

`Right(Bar(NonEmptyList(a, b, c)))`

The er

[2020-01-11 11:25] ruippeixotog commented on #681
Cats `NonEmptyList` is defined as `case class NonEmptyList[+A](head: A, tail: List[A])`. If you don't import `pureconfig.module.cats._`, PureConfig has no way of knowing `NonEmptyList` is some kind of collection, as it doesn't extend `Traversable` - it rightly treats it as a simple case class and expects configs to define an object by default. The cats module overrides this behavior and allows `No

[2020-01-11 13:21] YuvalItzchakov commented on #681
Right, makes sense. Not sure if there's a way around this

[2020-01-11 13:21] #681 closed, assigned to nobody

[2020-01-26 19:28] DenisNovac opened #690 "Not obvious naming conventions (no CamelCase support in configs)"
Hi everyone.

I made this class for config:
[code]

But this is my config file:

[code]

And i found out this naming conventions through debugger. I think, it'll make sense to write about style conventions in Quick Start section of readme. Or provide support for camel case namings maybe?

[2020-01-26 19:54] ruippeixotog commented on #690
Hi @DenisNovac! The [Quick Start](https://pureconfig.github.io/docs/index.html) section shows an example of a config and matching class structure (there's only a link to the config, in fact - we can change that so that it shows the config inline).

The [Case Class](https://pureconfig.github.io/docs/overriding-behavior-for-case-classes.html) section of the documentation explicitly says that configs

[2020-01-26 20:17] DenisNovac commented on #690
But there is no camel case example in the quick start which makes it not so quick in some cases.

[2020-02-20 16:52] neko-kai opened #701 "pureconfig-magnolia fails to derive an instance for a case class with partially private fields"
Example:

[code]

Expected:
Success

Actual:
Error:
[code]

[2020-02-20 16:54] neko-kai opened #702 "pureconfig-magnolia generates invalid ConfigReader for a case class with all private fields"
Example:

[code]

Expected:
Success. Or at least an error mentioning `a` field

But got:
An error mentioning `a-$access-$0` field
[code]

[2020-02-22 17:40] carlos-verdes opened #708 "http4s Link support"
It would be amazing to include support for Link on http4s

[2020-02-22 18:04] carlos-verdes commented on #708
Some proposal:
[code]

[2020-02-25 21:09] #690 closed, assigned to nobody

[2020-02-25 22:50] ruippeixotog commented on #708
Hi @carlos-verdes, this sounds like a good thing to add. It looks like you already have a working implementation here - do you want to submit a PR with it?

[2020-02-26 11:08] LvffY opened #711 "Unable to override spark configurations from non-default files"
Hello,

First of all, thank you for this framework and all documentation provided with it ! :)

Unfortunately, I'm coming with a problem that I was unable to solve myself ... Here it is : In my projet, we use Spark with Scala. For the configurations of our pipelines we use your framework (in **0.12.2** version)

For now, we've only used default files that are **application.conf** and **reference.c

[2020-02-26 11:52] jcazevedo commented on #711
I suspect that by using `ConfigSource.resources` you're not picking up the system properties overrides. Can you try replacing `ConfigSource.resources("<path>")` by `ConfigSource.defaultOverrides.withFallback(ConfigSource.resources("<path>"))`?

[2020-02-26 12:16] LvffY commented on #711
Thanks for your (very) quick answer !

According to your suggestion, my Scala class is :
[code]

And it worked ! 😄

For now, I can live with this solution. But is there any chances that this could be fixed ? From my point of view, my initial code should work, right ?

[2020-02-26 17:48] jcazevedo commented on #711
I think the current behavior is expected. `ConfigSource.resources` returns a config source with only the provided resource files. There are different sources for system properties (`ConfigSource.systemProperties`). Using them implicitly in `ConfigSource.resources` would break the abstraction.

However, note that the HOCON specification states that substitutions fallback to environment variables (h

[2020-02-28 02:34] nigredo-tori commented on #334
Sorry for digging up this old issue, but it has come up in an internal discussion at my workplace, and I figured it wouldn't hurt to provide a little update.

While a lot of the proposed features are difficult to implement, one cheap thing we can do is add support for injection through environment variables (albeit without mangling names). So we can have
 `PREFIX_foo.barIsCool` environment variabl

[2020-03-02 07:56] LvffY commented on #711
Thanks for all of this precisions :)

I have a solution that you say is the expected behavior (and possibly another way to make it work as I first tried) so I close the issue.

Best regards

[2020-03-02 07:56] #711 closed, assigned to nobody

[2020-03-09 03:40] ruippeixotog commented on #334
That certainly looks like an escape hatch, but environment variables with dots seem very sketchy - theoretically it looks like env var names can be composed of almost any character, but shells only support alphanumeric characters and underscores. I suspect that setting such a variable would be non-trivial for most people and it wouldn't work in certain deployment environments (like shell scripts a

[2020-03-09 03:53] nigredo-tori commented on #334
Sorry, I haven't taken this into account. This means that we would still need some kind of mangling - probably something like what [happens](https://github.com/lightbend/config#optional-system-or-env-variable-overrides) to  `CONFIG_FORCE_` variables.

[2020-03-10 17:01] ajaychandran opened #717 "Proposal: add fallback to URL reader that uses getClass.getResource"
This would enable loading file `URL`s from the classpath.

I can submit a PR, if this is approved.

[2020-03-12 17:17] ruippeixotog commented on #717
Hi @ajaychandran! I'm assuming you're talking about `ConfigSource.url`, right? `file://` URLs are already supported by that source, independently of where they come from. Can you provide me a (minimal) example where it doesn't do what you expect? Loading URLs is done by Typesafe Config and it just resorts to calling `url.openConnection().getInputStream()` for reading data, so AFAIK there's nothing

[2020-03-12 19:45] ajaychandran commented on #717
I was referring to the latter. Particularly, loading URLs for resources in JAR files.
I guess I can handle this in client code.

Thanks for your consideration @ruippeixotog

[2020-03-12 19:45] #717 closed, assigned to nobody

[2020-03-24 14:02] neko-kai commented on #702
This is fixed in magnolia-0.12.8 - just need to update the dependency in pureconfig-magnolia https://github.com/propensive/magnolia/pull/212

[2020-03-25 23:15] ruippeixotog commented on #702
This should be fixed now, as Magnolia was updated quite some time ago (#714). Thanks for updating this issue!

[2020-03-25 23:15] #702 closed, assigned to nobody

[2020-03-26 13:24] mareksabo commented on #6
What if you need to pass that entire configuration part to another class/method? Then you want the flexibility to change anything without breaking any classes. I wanted to pass one part of the configuration to `SparkConf` and I came up with this solution:

[code]

I hope it will be useful.

[2020-03-28 08:01] LvffY opened #728 "How to use environment variable for username independantly of OS"
Hello,

I have a problem for you that I was unable to solve myself.

In my test environment I need to use the environment variable for the username. Unfortunately, my IDE environment is on Windows and my CI environment is on Linux.

An example application.conf on windows would be like
[code]

But to make it work on CI (i.e Linux), my confs needs to be changed as
[code]

Do you know any solution (o

[2020-03-29 00:05] ruippeixotog commented on #728
Hi @LvffY! If you just want the username and don't care if it comes from an environment variable or somewhere else, you can use `${user.name}`, as `user.name` is a Java [system property](https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html).

If you really want to use environment variables, you can define an auxiliary config key with fallbacks:

[code]

I'm closing this issue

[2020-03-29 00:05] #728 closed, assigned to nobody

[2020-04-18 12:56] neko-kai commented on #701
Fixed in https://github.com/propensive/magnolia/issues/215

[2020-04-18 12:56] #701 closed, assigned to nobody

[2020-04-18 12:58] neko-kai opened #743 "Need to re-release with new magnolia version 0.15.0+"
After https://github.com/propensive/magnolia/pull/235 `pureconfig-magnolia` needs to be recompiled to take advantage of not having to depend on `scala-reflect` classes in runtime anymore

[2020-04-18 15:04] ruippeixotog commented on #743
It seems that with 0.15.0 `exportedMagnolia` is not compiling anymore, since it references `scala.reflect` (#742). We need to fix this before being able to use 0.15.0.

[2020-04-18 17:35] neko-kai commented on #743
@ruippeixotog Adding `libraryDependencies += "org.scala-lang" % "scala-reflect" % scalaVersion.value % Provided` to pureconfig-magnolia's build.sbt will fix it

[2020-04-18 17:38] neko-kai commented on #743
https://github.com/pureconfig/pureconfig/pull/744

[2020-04-21 22:55] OOPMan commented on #481
Hey guys, it would be really nice if the SBT settings were clearly documented and strongly recommended.

I ran into this issue using a really simple configuration and had no clue what was going on beyond that it was somehow related to PureConfig.  Eventually I found the right keywords to search for in the issue tracker to get the solution but if I hadn't I would probably have ended up removing Pur

[2020-04-22 01:13] leifwickland commented on #481
@OOPMan Where do you think it ought to be documented so that folks would be likely to find it?

[2020-04-22 02:02] OOPMan commented on #481
@leifwickland Honestly, if it were me I would stick this in bold letters at the top of the README so anyone browsing the repo would notice it quickly. I think putting it in the Quickstart section would be fine though.

When you have a library that requires additional JVM parameters to be set just for it to work with a really simple scenario (3 case classes, a total of 12 fields between them) then

[2020-04-22 22:03] ruippeixotog commented on #481
I guess the only reason this is not a more prevalent issue is that many people use https://github.com/paulp/sbt-extras to boot and manage sbt versions, and the script uses much saner JVM defaults.

@OOPMan I'm curious to see the case in particular where it failed for you. Can you share a minimal project with 3 case classes and 12 fields that fails to compile under the default settings?

[2020-05-17 20:18] jcranky commented on #708
Why would you need that? I'm just curious to understand the use case related to having a http header link as part of your configuration :)

[2020-06-01 15:24] Lasering opened #767 "ConfigConvert for Array"
ConfigConvert (also ConfigReader and ConfigWriter) for Array seems to be missing. Here is a possible (not very good implementation):

[code]

An explicit implementation for `ConfigReader[Array[T]]` and for `ConfigWrite[Array[T]]` could be made better without the double allocation.

[2020-06-10 15:04] eyalfa opened #769 "missing support for typesafe config's getBytes"
1. missing asBytes method on the cursor (delegating to `com.typesafe.config.Config#getBytes`)
2. missing `ConfigReader' instance for com.typesafe.config.ConfigMemorySize

please lmk if you're open for PR contribution.

[2020-06-11 12:50] jcazevedo commented on #769
I was wondering if we should support `asBytes` or adapt the `as<NumericType>` methods to follow the [size in bytes format](https://github.com/lightbend/config/blob/master/HOCON.md#size-in-bytes-format) from HOCON. Even though the latter may be more convenient for implementations of `ConfigReader`s, the fact that single-character unit abbreviations map to powers of two (i.e. `1K` is 1024) can be co

[2020-06-11 18:27] #767 closed, assigned to jcazevedo

[2020-06-13 17:53] #356 closed, assigned to jcazevedo

[2020-06-15 11:55] jcazevedo commented on #769
Closed by #775.

[2020-06-15 11:55] #769 closed, assigned to nobody

[2020-06-19 14:03] MoustafaAMahmoud commented on #358
Hi @ruippeixotog ,

I have the same issue in my code and it getting the same error
[code]

But I am not sure How can I fix this.

[2020-06-20 13:06] jcazevedo commented on #358
@moustafaalaa: You seem to be missing a `ConfigReader` as an implicit parameter to your `parseEnvConfig` function. Adding it should suffice:

[code]

[2020-06-20 13:13] MoustafaAMahmoud commented on #358
@jcazevedo  Thanks It worked :)

[2020-06-22 20:23] AceHack commented on #481
None of these have fixed the issue for me, it works fine in Scala 11, just blows up in scala 12

[2020-06-22 20:45] AceHack commented on #481
I was building with gradle and finally got it to work with the following options
        scalaCompileOptions.forkOptions.jvmArgs = ['-Xss2m', '-XX:-UseGCOverheadLimit']

[2020-06-26 13:39] narma opened #782 "Scala 2.13.3 render issue with 0.12.3"
Test case

[code]

scala 2.13.3 + pureconfig 0.12.3:
[code]

scala 2.13.3 + pureconfig master (builded wit scala 2.13.3):
[code]
_

[2020-06-26 13:54] jcazevedo commented on #782
Should be fixed with #756. We should be releasing a new version in the meantime with that fix.

[2020-06-27 16:21] jcazevedo commented on #577
Fixed in ce3b93b3b11299cb07f20b0030f14d5c7f1f5bbe.

[2020-06-27 16:21] #577 closed, assigned to nobody

[2020-06-27 17:32] jcazevedo commented on #782
PureConfig 0.13.0, including the change from #756, was just released.

[2020-06-27 17:32] #782 closed, assigned to nobody

[2020-06-27 17:33] jcazevedo commented on #743
PureConfig 0.13.0, including the change from #744, was just released.

[2020-06-27 17:33] #743 closed, assigned to nobody

[2020-07-02 12:59] otobrglez opened #788 "Mixing with environment variables"
Hey guys!

I have a simple `application.conf` configuration file that has something similar to this in it

[code]

This works perfectly fine and is - to my understanding compliant with [lightbend/config's - environment variable overrides](https://github.com/lightbend/config#optional-system-or-env-variable-overrides) guidelines. Now the problem becomes when I use `pureconfig` and case classes where

[2020-07-02 13:22] jcazevedo commented on #788
Converting a string to a number is part of the [HOCON automatic type conversions](https://github.com/lightbend/config/blob/master/HOCON.md#automatic-type-conversions) which we try to follow, so you shouldn't be getting that exception unless `server.port` is a string that can't be parsed to a number according to the JSON rules.

[2020-07-02 13:24] jcazevedo commented on #788
So that I can try to replicate the issue, which version of PureConfig are you using, and what value(s) of `PORT` trigger that exception?

[2020-07-02 13:27] otobrglez commented on #788
All environment variables that get passed in (in this case `PORT=4000` for example) get passed as a `string`. However, as you can see in the `application.conf`; the port is a number - as it was previously set to 3000 in the file.

[2020-07-02 13:32] otobrglez commented on #788
**I'm so sorry. I think that I've made a mistake.**

When configuring the "run" in IntelliJ IDEA I've configured several environment variables split by spaces, and that causes the PORT part to be passed as a string of jibberish.

You can probably close this issue. :)

[2020-07-02 13:33] jcazevedo commented on #788
No worries. :)

Thanks!

[2020-07-02 13:33] #788 closed, assigned to nobody

[2020-07-02 13:36] jcazevedo commented on #788
It'd probably be helpful to include the value tried to read from, together with the type, in the error message. We'll consider that as a future improvement.

[2020-07-02 13:38] otobrglez commented on #788
Yes; that would definitely help to hunt down this mistake.

[2020-07-03 23:20] ruippeixotog commented on #542
Closing due to inactivity.

[2020-07-03 23:20] #542 closed, assigned to nobody

[2020-07-03 23:22] ruippeixotog commented on #526
Closing due to inactivity.

[2020-07-03 23:22] #526 closed, assigned to nobody

[2020-07-03 23:23] #555 closed, assigned to nobody

[2020-07-13 12:06] jcazevedo commented on #589
Fixed by #792.

[2020-07-13 12:06] #589 closed, assigned to nobody

[2020-07-15 14:39] neko-kai opened #796 "pureconfig-magnolia: support reading/writing case objects"
Currently `pureconfig-magnolia` reads/writes case objects only as empty objects instead of strings, e.g

[code]

Becomes

[code]

in config instead of

[code]

[2020-07-15 20:15] ruippeixotog commented on #796
The expected default behavior of sealed traits is to disambiguate using a `type` field, so `No` would result in `{ type: "no" }`. Can you share some minimal example in which `{ No {} }` is written or read by PureConfig?

To achieve the behavior you want you need to use `deriveEnumerationReader`. Please take a look at https://pureconfig.github.io/docs/overriding-behavior-for-sealed-families.html.

[2020-07-15 21:09] neko-kai commented on #796
Ah, I've added a custom coproduct hint to read sealed traits in the style of `circe`, and expose auto-derivations using it in `distage-config` library:
https://github.com/7mind/izumi/blob/develop/distage/distage-extension-config/src/main/scala/izumi/distage/config/codec/PureconfigInstances.scala
https://github.com/7mind/izumi/blob/develop/distage/distage-extension-config/src/main/scala/izumi/dista

[2020-07-15 21:17] ruippeixotog commented on #796
Right, I forgot that we didn't have enumeration readers and writers for Magnolia. Sounds like a good feature to add!

[2020-07-19 14:25] t3hnar opened #800 "java.lang.NoClassDefFoundError: pureconfig/generic/MapShapedReader$WithDefaults"
Hello

Looks like version `0.13.0` is not backward compatible with `0.12.3`

Basically I have library compiled with `0.12.3`, however after upgrading application to `0.13.0` which is using my library I get in runtime:

[code]

[2020-07-19 15:34] leifwickland commented on #800
@mberndt123,

Thanks for using Pureconfig.

What you observed is expected behavior. Pureconfig follows the [typical scala library practice](https://docs.scala-lang.org/overviews/core/binary-compatibility-for-library-authors.html#recommended-versioning-scheme) that releases with a major version of `0` are *not* binary compatible between minor version bumps.

[2020-07-19 15:40] t3hnar commented on #800
Thanks for explaining, did not know about exceptional case of '0.x.x' versions. Then I have a really huge problem bumping the dependencies :(

Anyway thanks for such a nice library.

[2020-07-19 17:43] #800 closed, assigned to nobody

[2020-08-18 07:38] LeifW commented on #325
Would [InetSocketAddress.createUnresolved](https://docs.oracle.com/javase/7/docs/api/java/net/InetSocketAddress.html#createUnresolved(java.lang.String,%20int)) be an option for this?

[2020-09-05 01:11] ekrich commented on #87
You could also consider supporting `sconfig` as a way of potentially supporting Scala.js and Scala Native. https://github.com/ekrich/sconfig/

[2020-09-08 08:20] codebyswaraj opened #820 "Read All config from a resource folder"
I have few files in a resource folder and I have a mapping class for the same. Now All I want is to load each file in different config class using pureconfig. Is there any way to load it via providing only resource folder name.
[code]

I want something like this

[code]
and it should return

[code]

[2020-09-14 12:33] saraiva132 opened #826 "Upgrade cats to 2.2.0"
After I bumped cats to 2.2.0, it broke the automatic derivation for ConfigReader of my case class (using pureconfig-cats).

Anyone else suffering from this ?

[2020-09-16 19:20] #826 closed, assigned to nobody

[2020-09-22 08:47] jcazevedo commented on #796
Closed by #798.

[2020-09-22 08:47] #796 closed, assigned to nobody

[2020-10-02 09:17] vsuharnikov opened #835 "Reader/Writer for K in genericMapReader/Writer"
Now you have to write implicits for each map: `Map[K, V1]`, `Map[K, V2]`, ...
Probably it's better to implement Reader/Writer for K and use it everywhere, e.g.:

[code]

[2020-10-02 09:23] ruippeixotog commented on #835
This sounds like a good approach to handling keys in map readers and writers. I can do this next week 👍

[2020-10-02 10:22] vsuharnikov opened #836 "Complex validation approach"
Actually, it is not an issue, it is a just a draft of a useful approach.

Sometimes you need to validate a field (e.g. of Int type) inside a class, or even multiple fields. A validation could be complex and depend on multiple fields. E.g.:
[code]

The main advantage: we don't lose paths and see the clear error. To do this we have a hack (see below) that allows to write:
[code]

Not sure, this will

[2020-10-08 08:08] TonioGela commented on #836
That's an interesting question, I did some research in the past days (so it's not guaranteed to be the better approach) but this is the leanest thing that I have been able to do

[code]

My approach since the beginning was to validate the object once it was already built and then to trigger an error.

At first I tried the dumbest thing ever

[code]
but this way I was resorting on an implicit of ty

[2020-10-08 11:24] vsuharnikov commented on #836
This will work, indeed. But the error's message is too general and doesn't reveal invalid fields like in:
[code]
It could be solved if we had a function like `emap` but with slightly different signature, e.g.:
[code]
The problems here are:
1. We doesn't know, is T an object or a list or just a simple value? So we have to use a pattern matching even we (as programmers) know, that Foo is an object
2

[2020-10-08 12:31] TonioGela commented on #836
Indeed you don't have the reference to the key that was faulty in this case, I got you point.

For what concerns this point:

I don't get it, the `T` in this case is inherited from `ConfigSource[T]` so it's known. Why should I use a pattern match? In case of `Traversable[T]` things I usually use `pureconfig.CollectionReaders.traversableReader[T, List]` (where `List` can be anything traversable)

[2020-10-08 12:45] vsuharnikov commented on #836
It'd be great if the signature will be different for objects and lists, e.g.:
[code]
otherwise we are able to do something illegal:
[code]
But this is not so easy to implement, I think :)

[2020-10-08 13:13] TonioGela commented on #836
Ah, the second parameter was the matter, got that.

[2020-10-09 19:20] ruippeixotog commented on #820
I don't think there is. This seems to be a very specific use case, so this is likely not going to be added to PureConfig core. However, if you list all resources files by yourself (which should be fairly easy), you can load each of them using `ConfigSource.resources` and combine them as required.

[2020-10-09 19:25] ruippeixotog commented on #257
This is already covered with the new `ConfigSource` API. Closing.

[2020-10-09 19:25] #257 closed, assigned to nobody

[2020-10-09 19:27] ruippeixotog commented on #288
Closing as this is not a PureConfig bug and will get fixed automatically once scala/bug#8124 is fixed.

[2020-10-09 19:27] #288 closed, assigned to nobody

[2020-10-09 19:29] ruippeixotog commented on #453
Closing as it's very unlikely we'll change back to automatic generic derivation without imports. The solution requires restructuring the project around standard PureConfig practices.

[2020-10-09 19:29] #453 closed, assigned to nobody

[2020-10-09 19:33] ruippeixotog commented on #625
Closing due to inactivity. Feel free to reopen if you are still experiencing the issue and I'll take another look!

[2020-10-09 19:33] #625 closed, assigned to nobody

[2020-10-10 11:40] ruippeixotog commented on #240
@leifwickland do you think this is still needed?

[2020-10-10 16:03] leifwickland commented on #240
Feel free to close it.

On Sat, Oct 10, 2020 at 5:41 AM Rui Gonçalves <notifications@github.com>
wrote:

[2020-10-10 16:10] jcazevedo commented on #240
I wouldn't mind having some of our current processes documented. Some points that I think we could have written down:

* How many sign-offs are required from maintainers to merge PRs;
* How should PRs be merged (merge commit, squashed or rebased);
* What's our versioning scheme;
* What's the release process.

I can start working on a document for these.

[2020-10-10 16:41] leifwickland commented on #240
That would also be good.

On Sat, Oct 10, 2020, 10:11 Joao Azevedo <notifications@github.com> wrote:

[2020-10-24 23:33] bbstilson opened #854 "Dotty / Scala 3 Support"
I was chatting with some kind folks in the dotty gitter, and someone pointed out that because the derivation macros are based on Scala 2 macros, pureconfig can't be used with dotty/scala 3 until they're ported.

[2020-10-25 12:46] jcazevedo commented on #854
Starting to add support for Scala 3 in PureConfig has been on my backlog for a while, but I haven't started working on it yet. I think I'll be able to have some time for it later this week. I won't get in the way of pull requests if someone wants to start tackling it in the meantime.

[2020-10-28 16:48] tg44 commented on #820
It is not fairly easy to list resource files both in .jar and local dev.
I have a [snippet](https://gist.github.com/tg44/272c042b7af1f0ff12a3a0586ee64c07#file-messagecache-scala-L63-L130) which may help. The listing part is the problematic, if you know the name of the file(s) everything is much easier.

[2020-11-01 15:51] #574 closed, assigned to nobody

[2020-11-24 15:36] jatcwang opened #874 "JSON encoder for FailureReasons/FailureReason (for structural logging purposes)"
Many people uses structural logging in their application. I think it'd really helpful if we can easily serialize the failure reason to JSON which we can attach as custom data of our error logs.

Would you accept a contribution for this? (e.g. in pureconfig-circe module)

[2020-11-24 17:39] ruippeixotog commented on #874
Hi @jatcwang! If I understood correctly, you are suggesting the implementation of a circe `Encoder` for `ConfigReaderFailures` and other PureConfig error classes, is that it? How would those be different from auto-derived instances (e.g. from https://circe.github.io/circe/codecs/auto-derivation.html)?

[2020-11-24 18:10] jatcwang commented on #874
You cannot auto derive them because many traits are not sealed e.g. `FailureReason`

[2020-12-22 10:58] nigredo-tori opened #904 "ConfigReader.map is broken for readers with ReadsMissingKeys"
[Consider](https://scastie.scala-lang.org/eYOOsLK6RkmlFjhXKdWo4Q):

[code]

That is, `.map(identity)`, surprisingly, results in a `ConfigReader` with a different behavior, breaking the functor law!

There are two ways to fix this. First, we can crawl through our codebase, and make sure all the `ConfigReader` combinators preserve `ReadsMissingKeys`. Alternatively, we can somehow change the `ConfigR

[2020-12-31 08:05] ghostbuster91 opened #908 "Unable to compose ConfigReaders"
Hi,

I am using pureconfig with helm, binding the particular keys through environment variables.

I used to have an entry like that:
[code]

Recently I faced a problem of how to pass multiple such objects.

I could try to use this: https://stackoverflow.com/questions/50133291/how-to-provide-an-array-of-values-as-an-env-variable-to-typesafe-lightbend-confi/50134310#50134310

But then I would have t

[2021-01-02 19:17] jcazevedo commented on #904
Circe handles this by providing two "apply" methods in the `Decoder` type class: `apply` over `HCursor` and `tryDecode` over `ACursor`. `tryDecode` is the typical entry point when composing `Decoder`s, and has a default implementation that raises failures on undefined values. Implementations of the `Decoder` type class usually only define the `apply` method. Implementations that wish to redefine t

[2021-01-07 21:16] ruippeixotog commented on #908
Hi @ghostbuster91! From your description it's not clear to me what problem you're trying to solve, sorry. Could you provide a minimal example with:
- the definition of your case class;
- Your `application.conf` file;
- Any environment vars you want defined.

[2021-01-08 08:13] ghostbuster91 commented on #908
Hi,

On the scala side I would like to eventually have `Config(entries: List[Entry])` where `Entry` is `case class Entry(field1: String, field2: String)`.

The trick is that these entries have to be passed somehow through environment variables.
That's when I came up with an idea of passing them (entries fields) as a list of comma separated strings:
[code]
which ideally would produce `Config(List(E

[2021-01-14 18:58] ruippeixotog commented on #908
In general, PureConfig is much better suited to read from HOCON config files than env vars. You can definitely create a `ConfigReader[List[Entry]]` that reads variables `ENTRY_1`, `ENTRY_2` in sequence from an object until you find a missing one, but you'd need to create your own `ConfigReader` (implementing the trait directly rather than using `forProductN`) and this definitely wouldn't be a clea

[2021-01-14 19:36] ruippeixotog commented on #904
@nigredo-tori thanks for reporting this and sorry for the slow reply. I'm not too happy with the way `ReadsMissingKeys` and `WritesMissingKeys` work nowadays and using inheritance to configure this behavior has a lot of shortcomings (like not playing well with combinators).

Encoding the behavior on missing keys as a method like @jcazevedo mentioned looks like a good solution. I'll work on somethi

[2021-01-25 19:25] sentenza commented on #430
I'm trying to find a workaround to use pureconfig using pantsbuild and I reported this issue in https://github.com/pantsbuild/pants/issues/11488 as well. Could you please fix this issue? I don't think that this has been actually solved @metasim

[2021-01-25 19:45] leifwickland commented on #430
@sentenza, It's likely that we haven't changed whatever the root cause of the problem was.

Will you please create a new issue including a pants build that demonstrates the problem and directions for how to use it? If possibly, please use the most recent version of pureconfig.

[2021-01-25 23:24] sentenza opened #919 "Fix class duplicates"
I'm using pureconfig `v0.14.0`. Running pantsbuild (v1.30.0) `detect-duplicates` multiple duplicates are detected:

[code]

Unfortunately, I cannot create a fat-jar if I have this kind of duplicates.

This issue is related to https://github.com/pureconfig/pureconfig/issues/430. Also reported in https://github.com/pantsbuild/pants/issues/11488.

[2021-01-26 14:57] sentenza commented on #919
@leifwickland Do you have any clue why this happens?

[2021-01-29 16:32] MateuszKubuszok opened #925 "Move implicits definitions from package objects to traits"
Currently definitions are stored like:

[code]

[code]

This makes it impossible to easily do what is possible with e.g. Doobie or [Tapir](https://tapir.softwaremill.com/en/latest/mytapir.html) that is building one's own:

[code]

which later on enables one to provide the support for both core functionality and extensions with a single import. In Dotty we could use `export` but for now that is the

[2021-02-16 09:21] tjarvstrand opened #939 "How to avoid false "unused import"-warnings in Intelli?"
Hi!

We're currently using PureConfig and it's great (thanks)! One slight issue however, is that imports of `ConfigConvert`s tend to be falsely reported by Intellij as unused. This leads to some annoyance since we make frequent use of "Optimize imports" and accidental commits with missing imports happen from time to time, especially with less senior devs.

Here's an example:
[code]

Granted, this

[2021-02-16 15:29] leifwickland commented on #939
I don't know of a way around it. It's been an annoyance to the teams I've worked on for years.

That said, I've never bothered to file a bug with IntelliJ IDEA. Because scalac doesn't report that the import is unused, I call the spurious error report a bug in IntelliJ IDEA.

[2021-02-17 21:03] arixmkii opened #946 "Support cats-effect 3.0 series and http4s 1.0 series in modules"
`cats-effect` 3 has reached RC2 state. It would be nice to start building support for this new library. This will also involve bumping `http4s` to 1.0 series, which supports `cats-effect` 3.0 series.

Both modules are pretty compact, so, it should be relatively easy to implement. The only significant change will be to undeprecate methods w/o `Blocker` instances (because `Blocker` is gone), so, the

[2021-02-21 17:43] leviramsey opened #954 "Support Lightbend Config-style durations"
Lightbend Config provides `getDuration` accessors which interpret, e.g. `15m` as a 900-second `java.time.Duration`.  This notation is (understandably) common in Akka/Play configurations, as well as for application-level configurations in projects using Lightbend Config.  The default `ConfigReader[java.time.Duration]` conversely expects the string representation of `java.time.Duration`, e.g. `PT15M

[2021-02-21 18:04] ruippeixotog commented on #954
Hi @leviramsey! PureConfig does not intend to be a "compiler-checkable Scala-only" alternative to Lightbend Config. We read Lightbend Config's HOCON format, but PureConfig does a clearer separation of concerns between HOCON parsing (handled by Lightbend's own library) and the conversion of HOCON's primitive structures to Scala data types (the layer provided by PureConfig). In my view, parsing a st

[2021-02-21 18:19] leviramsey commented on #954
I try to enforce a domain distinction between Java Duration is for things that aren't concurrency-related (e.g. ignore events older than such-and-such time) and Scala Duration is for concurrency-related timings.  I have a quick-and-dirty/bug-for-bug-compatible implementation of such a `ConfigReader` in a project ready to go, so can work on getting that into a PR.

[2021-02-21 18:22] ruippeixotog commented on #954
Sounds fair. Please reuse `DurationUtils` to parse `java.time.Duration` then, as it's a port of Lightbend's original parsing code  using PureConfig's safe error handling APIs.

[2021-02-24 16:46] Nobodyno-boop opened #958 "[Help] Can i have multi choice for a configValue ?"
Hi,

i have a probleme with i think the code its better exemple to understands why i try to do

[code]
its only work with the String value :/
When i put i object in my config its not work

`ConfigReaderFailures(ConvertFailure(WrongType(OBJECT,Set(STRING)),Some(ConfigOrigin(String)),rules))`

[2021-02-24 17:27] Nobodyno-boop commented on #958
Nevermind i found a solution

[2021-02-24 17:27] #958 closed, assigned to nobody

[2021-02-26 11:53] sentenza commented on #919
@leifwickland I'm still trying to come up with a solution or a workaround for this issue. Do you have any clue?

[2021-02-26 14:59] jakubjanecek commented on #854
Hi, what is the progress on Scala 3 support. If I see it correctly the `master` is already build for Scala 3 but there is not official (SNAPSHOT) release. Could you please make some so that other projects depending on PureConfig can start preparing for Scala 3? Thank you.

[2021-02-26 19:59] ruippeixotog commented on #854
Good call @jakubjanecek, I thought we already had a released version for Scala 3. I'll try to do a release this weekend.

[2021-03-02 10:02] ruippeixotog commented on #854
`pureconfig-core` v0.14.1 [was released](https://mvnrepository.com/artifact/com.github.pureconfig/pureconfig-core) this weekend for Scala 3.0.0-RC1, you should be able to use it now. Sorry again for the delay.

[2021-03-02 10:02] #854 closed, assigned to jcazevedo

[2021-03-02 13:16] jakubjanecek commented on #854
Thanks but unfortunately `pureconfig-core` is not enough, I need the full `pureconfig` artifact as I am using the `semiauto` derivations in my project. Or is there other way around that?

[2021-03-02 14:57] jcazevedo commented on #854
We're still working on adding support for automatic derivation of `ConfigReader` and `ConfigWriter` instances in Scala 3. In the meantime, only pureconfig-core is available, so you won't be able to use semiauto derivations. If you want to immediately start using the new PureConfig version in Scala 3, you can migrate your instance definitions to use the `ConfigReader.forProductN` and `ConfigWriter.

[2021-03-02 19:55] dyercode commented on #854
So since you closed this, what specific issue is there to follow for derivations/pureconfig proper? For those of us who were watching this issue expecting it.

[2021-03-02 19:58] jcazevedo opened #970 "Add support for generic derivation of `ConfigReader` and `ConfigWriter` instances in Scala 3"

[2021-03-02 20:01] jcazevedo commented on #854
@dyercode: You can use #970 to keep track of that.

[2021-03-02 20:34] bbstilson commented on #854
Thanks for your hard work @jcazevedo, @ruippeixotog

[2021-03-04 04:37] leifwickland commented on #919
@sentenza, I'm sorry. I haven't had a chance to look at it. I'm afraid it won't happen this weekend either.

[2021-03-16 20:51] heksesang commented on #970
I have been putting together this during the last week:
https://gitlab.com/heksesang/scala3-derivation/-/tree/master/pureconfig-derivation/src/no/heksesang/derivation/pureconfig

Still need to add the value class and tuple cases, but was thinking once that was done I'd look at embedding this into `pureconfig-core`.

[2021-03-31 16:33] rubiconvvv commented on #946
++++ For this

[2021-03-31 19:50] kubukoz commented on #946
CE 3.0 is out ;)

[2021-03-31 19:53] arixmkii commented on #946
Also fs2 3.0 is out :) And Http4s 1.0.0-M builds are stabilizing. Don't know if sttp is ready for ce3, though. Too many modules in pureconfig :D
Updated:
It seems from `sttp` only model is in use. So, no changes there.
FS2 and Http4s compiled just fine with version bumps, but ce will require some work.

[2021-03-31 22:28] arixmkii commented on #946
Added PR. May be it will be of some use.

[2021-04-01 16:26] rubiconvvv commented on #946
@arixmkii thanks

[2021-04-07 23:13] #946 closed, assigned to nobody

[2021-04-08 19:12] daniel-dylag-openx opened #1006 "Add ConfigWriter for YAML module"
In my organization, we're relying on pureconfig-yaml to read our configuration files. Recently we started to build some tools that are supposed to read some YAML configuration and generate another configuration in YAML for other component to consume. In order for that to be possible with pureconfig, we need to have a way to both read and write YAML configuration.

[2021-04-09 08:04] daniel-dylag-openx commented on #1006
I've found out a way to write out YAML config using some of SnakeYAML API directly.
[code]
I'm not sure if this is the right way, maybe it could be available as a method in YamlConfigSource object next to methods for reading. Anyway, that would be nice to have it documented.

[2021-04-10 11:07] ruippeixotog commented on #1006
Hi Daniel! Unfortunately, PureConfig can't help you with that - it is primarily a library to read and write HOCON (Lightbend Config) files, not YAML. `pureconfig-yaml` is a good way to achieve interop between YAML and HOCON, but it works at the `ConfigSource` level so the translation from YAML to HOCON is unidirectional and happens before `ConfigReader`/`ConfigWriter` instances even know about it.

[2021-04-10 11:07] #1006 closed, assigned to nobody

[2021-04-13 11:57] pjan opened #1009 "Cats-effect 3 release"
Any idea when we could expect this to hit; last library for us to do complete the upgrade.

[2021-04-13 13:18] ruippeixotog commented on #1009
I'll release a new version this weekend. Sorry and thank you for waiting :)

[2021-04-13 19:58] rubiconvvv commented on #1009
We will wait. Thanks

[2021-04-14 00:27] pjan commented on #1009
@ruippeixotog please mate, never say "sorry" for doing something you do on a voluntary basis. We all very much appreciate the work everyone's putting into this. This was only about planning and expectation setting on my end - was going to put up a PR for CE3 changes, when to my delight I saw those were already done. 🙏

[2021-04-15 15:37] jcazevedo commented on #904
I just came across this issue in a more disguised form. I'm posting it here for posteriority since it also took me a while to figure it out.

Consider the following:

[code]

However, if we happen to introduce an extra import:

[code]

The reason for this is that we have an implicit `fromReaderAndWriter` in `ConfigConvert` that produces a `ConfigConvert` from a `ConfigReader` and a `ConfigWriter`.

[2021-04-15 18:44] ruippeixotog commented on #904
That's very concerning. At the time I tried to come up with a solution that didn't involve wide API breakages or difficult migrations, but I wasn't able to find one. I'll try again :)

[2021-04-18 00:22] ruippeixotog commented on #1009
PureConfig v0.15.0 should now be in Sonatype.

[2021-04-18 00:22] #1009 closed, assigned to nobody

[2021-04-27 11:53] SarpongAbasimi opened #1027 "No Imports for pureconfig.generic.auto._"
In the pureConfig documentation there is an import for `import pureconfig.generic.auto._`

<img width="524" alt="Screenshot 2021-04-27 at 12 51 34" src="https://user-images.githubusercontent.com/37377831/116236734-51b8f000-a757-11eb-960d-bc81581399a4.png">

but the only thing I see in that path is `error`.

<img width="906" alt="Screenshot 2021-04-27 at 12 49 25" src="https://user-images.githubuse

[2021-04-27 19:07] leifwickland commented on #1027
@SarpongAbasimi, Thanks for using pureconfig.

From the screenshot above, it appears that you're depending on `pureconfig-generic-base`. I think you need to depend on `pureconfig-generic`, not `pureconfig-generic-base`. I see the `auto` namespace in the `pureconfig-generic` JAR, but not in the `pureconfig-generic-base` JAR.

It appears that was also the case in versions prior to 0.15.0.

Please le

[2021-04-27 20:07] leifwickland commented on #919
@sentenza In pureconfig 0.15.x we've removed the macros package so half the pain is gone. The other half of the pain remains in `generic{,-base}`. I'm pretty sure that the duplication of `.class` files is due to the way that module uses the `SbtOsgi` module. Specifically `OsgiKeys.exportPackage := Seq("pureconfig.generic.*")` from https://github.com/pureconfig/pureconfig/blob/master/modules/generi

[2021-04-28 08:11] SarpongAbasimi commented on #1027
Thans @leifwickland.
It appears that when I add `pure -config` as a dependency in the root of my application, it works fine.
But when I add it as a dependency for a submodule, that is when I get the problem.

[2021-04-28 19:45] leifwickland commented on #1027
@SarpongAbasimi, I tried to reproduce the problem you described in [this repo](https://github.com/leifwickland/pureconfig-submod-generic). I wasn't able to. Would you be willing to create a simple example that demonstrates the problem you're seeing?

[2021-04-28 20:32] SarpongAbasimi commented on #1027
@leifwickland

so basically in my `build.sbt` I have this.
lazy val pureConfigVersion      = "0.15.0"

[code]

persistence service is

[code]

inside the `Scala` directory in  `persistenceService` I have a directory called `config` which contains a file called `Dbconfig`

When I try to import
`import pureconfig.generic.auto._` in `Dbconfig` that is when I get the issue of
`No Imports for pureconfi

[2021-04-30 12:14] #1027 closed, assigned to nobody

[2021-05-01 22:56] ruippeixotog commented on #919
I don't know how `pants`, `detect-duplicates` or even OSGi works but it looks like a plausible explanation, @leifwickland.

Moving `generic-base` classes to another package would be a breaking change and `generic` is the logical package for them to be. Maybe `generic-base` shouldn't have an OSGi annotation?

[2021-05-03 05:15] leifwickland commented on #919
@ruippeixotog Thanks for taking a look.

I also don't know anything about OSGi or why we've got it.

I don't think the problem has anything to do with pants per se. I think you'd have the same problem using the sbt-assembly plugin if the default behavior were `MergeStrategy.singleOrError`.

I created an sbt project that does nothing more than depend on `pureconfig-generic` and sets up the `sbt-ass

[2021-05-10 20:44] ruippeixotog commented on #919
@leifwickland the thing I don't understand, which seems related to OSGi, is that I'm used to have the package contents to be fully defined by the files included in SBT projects. Moving files from `pureconfig-generic` to `pureconfig-generic-base` shouldn't cause any trouble because the moved files shouldn't be included in `pureconfig-generic.jar` anymore. But my guess is that those OSGi settings ar

[2021-05-12 21:03] leifwickland commented on #919
@ruippeixotog, you said:

Yes, I agree. That's my also impression.

Do you understand why we want the OSGi stuff? Could we simply remove it from the generic packages and get the behavior you and I are accustomed to where a jar only includes the class files that are in its directory within the sbt project?

[2021-05-12 22:41] ruippeixotog commented on #919
I searched a bit and this was one of the very first issues opened in this project (#4)! [Gathering](https://github.com/milessabin/shapeless/search?q=osgi) [some](https://github.com/typelevel/cats/search?q=osgi) [anectodal](https://github.com/circe/circe/search?q=osgi) [evidence](https://github.com/scalatest/scalatest/search?q=osgi) [around](https://github.com/akka/akka/search?q=osgi), it looks lik

[2021-05-12 22:54] leifwickland commented on #919
@ruippeixotog In that case, I'll keep an eye on #1019 and make sure it solves this problem when it approaches the finish line.

[2021-06-20 13:16] ruippeixotog commented on #970
Closed by #1019.

[2021-06-20 13:18] ruippeixotog opened #1082 "SBT project structure and Scala 3"
In addition to the issues identified in #595, Our build needs a significant refactoring before we can further adopt Scala 3:

- We currently have a hard dependency on project `generic` on all modules, both for testing and for documentation. Shapeless 3 is already available, but it's a completely different implementation and having both in the same `generic` project under different source folders w

[2021-06-20 15:26] jcazevedo commented on #970
I think we should keep this open while we still don't have support for deriving `ConfigWriter` instances in Scala 3.

[2021-06-20 18:38] ruippeixotog commented on #970
You're right, I forgot about `ConfigWriter`!

[2021-06-26 19:52] harpocrates opened #1085 "Feature request: mechanism for docs/info about options"
First off `pureconfig` is an absolutely fantastic library - thank you so much!

`pureconfig` makes it refreshingly easy to just state the configuration classes and traits and then derive readers/writers. This works really well as long as the consumers of the applications are themselves developers that don't mind reading the source code of the options. However, for non-Scala (or non-developer) peop

[2021-06-30 10:50] Ali-Mahmood opened #1086 "Upgrade http4s module from 0.21 to 0.23"
Not upgrading will prevent projects who use pure config from upgrading to http4s 0.23, example below:

`[error]         * org.http4s:http4s-core_2.13:0.23.0-RC1 (early-semver) is selected over 0.21.24
[error]             +- org.http4s:http4s-dsl_2.13:0.23.0-RC1 ()           (depends on 0.23.0-RC1)
[error]             +- org.http4s:http4s-server_2.13:0.23.0-RC1 ()        (depends on 0.23.0-RC1)
[er

[2021-06-30 22:50] ruippeixotog commented on #1086
Hi! We'll likely wait for a stable version to be released before the module is upgraded. In the meantime, you can avoid that error by temporarily removing pureconfig-http4s from your dependencies. That module contains only an `Uri` converter, so it should be easy to replace.

[2021-07-01 10:38] Ali-Mahmood commented on #1086
Hi! I see, that sounds good. Ill do that for now, thank you!

[2021-07-16 09:25] mdedetrich commented on #904
I think I am also coming across this problem but in a different way. If you are writing a manual `ConfigReader` that involves reading a key with type `Option[T]` with the intent that you get `None` if the key is missing you might do something like this

[code]

The problem here is that although `optionReader` returns a `ConfigReader` with `ReadsMissingValues`, the `fluent.at("key")` completely ign

[2021-07-16 10:26] nigredo-tori commented on #904
@mdedetrich, If I correctly understand what you are trying to achieve, you probably want to do this instead:
[code]
But yes, null handling is a minefield.

[2021-07-16 10:56] mdedetrich commented on #904
Unfortunately for my case I can't use `ConfigReader.forProductX` because there isn't a public constructor (i.e. `apply`) for the type I am trying to encode so I have to do things manually.

Specifically I am trying to construct this type https://github.com/akka/alpakka/blob/f2971ca8a4a71b541cddbd5bf35af3a2a56efe71/s3/src/main/scala/akka/stream/alpakka/s3/S3Headers.scala#L56-L60 and as you can see

[2021-07-16 11:11] nigredo-tori commented on #904
@mdedetrich, `forProductX` functions accept arbitrary functions, as long as you properly specify functions' parameter types. So you can do something like this:
[code]
You can even make this function return `Either[FailureReason, <whatever>]`, and `.emap(identity)` afterwards.

In my experience, `forProductX` functions and `map`/`emap`/`contramap`... cover the majority of use cases. I only use curs

[2021-07-16 11:30] mdedetrich commented on #904
Your right, you can just use the `forProduct` and help the type inference, I just implemented like this

[code]
The `.copy` is unfortunately private

[2021-07-23 06:25] augi commented on #1086
It would be nice to release also a version of pureconfig depending on http4s `0.22` in the meantime 🙏

[2021-08-12 12:57] mberndt123 opened #1118 "Feature proposal: warnings for configuration parsing"
Hey there,

I think there are use cases when one would like to show a warning for some configuration items while still successfully returning a result. I can think of two cases where that would be useful:

1. deprecated configuration options. It's certainly possible to handle these without support in the library: read the configuration, check if the deprecated option was used, issue a warning if t

[2021-08-12 14:05] mberndt123 commented on #1118
Some notes on the implementation:

Currently, `ConfigReader` is just a hand-written version of two Monad transformers. Essentially:
[code]
My proposal is basically to add another transformer to also allow warnings to be returned. That would make it
[code]
Since the monad transformers are not currently used, the simplest way to implement this is to change the `Result` type:
[code]

[2021-09-04 07:34] eed3si9n opened #1142 "pureconfig-core_2.12-0.14.1.jar might have zip issue"
## steps

Bazel comes with an über JAR feature or `_deploy.jar`, which is achieved by calling a C++ program called `singlejar` or `singlejar_local`. The reproduction step is to create an über that includes `pureconfig-core_2.12-0.14.1.jar`

## problem

I noticed that process fails with a segmentation fault.

I was able to modify this C++ program, do some println debugging.

[code]

This shows that

[2021-09-04 21:46] ruippeixotog commented on #1142
Hi @eed3si9n, that's very strange. Upgrading to the next version, v0.15.0, would fix it because [we removed `Derivation` in that version](https://github.com/pureconfig/pureconfig/blob/master/CHANGELOG.md#0150-apr-18-2021), so it doesn't tell us much. Have you tried with older versions, like v0.14.0?

In any case, we follow a consistent process to publish each version, using sbt-release and [these

[2021-09-05 17:48] eed3si9n commented on #1142
I commented to Bazel issue https://github.com/bazelbuild/bazel/issues/13943#issuecomment-913187856 but using `unzip -Z -v ~/Downloads/pureconfig-core_2.12-0.14.1.jar | less` you can see that there are other classes that also included extended timestamp.
Do you know the JDK vendor + version that was used to create this JAR? I think sbt calls `ZipEntry#setTime(...)`, and it should create only MS-DOS

[2021-09-05 18:09] ruippeixotog commented on #1142
I believe they were built on my laptop, where I use Oracle's JDK 1.8:

[code]

Let me know if you need any more information, e.g. output of some commands.

[2021-09-07 12:26] thierry-b opened #1144 "r"

[2021-09-07 12:27] #1144 closed, assigned to nobody

[2021-09-09 19:20] mehuljain53 opened #1147 "Avoid using Case class"
Is there a way I could avoid using scala case class and use Java class? What changes will I have to make?

[2021-09-10 17:58] ruippeixotog commented on #1147
@mehuljain53 supporting types that are not supported out-of-the-box by PureConfig is documented in https://pureconfig.github.io/docs/supporting-new-types.html.

Please don't use GitHub issues for general support requests - our [Gitter](https://gitter.im/melrief/pureconfig) is a more appropriate channel. I'm going to close this for now, but if you feel that there's a specific feature missing in Pur

[2021-09-10 17:58] #1147 closed, assigned to nobody

[2021-09-23 05:12] laxmena opened #1162 "SBT Compile error: ResolveException: Error downloading com.github.pureconfig:pureconfig_3:0.16.0"
I ran `sbt clean compile run` on the Scala project which uses Pureconfig, but I get the following error.

[code]

I use Scala v 3.0.2

My `build.sbt` file includes the following reference to purescript:

`libraryDependencies += "com.github.pureconfig" %% "pureconfig" % "0.16.0"`

[2021-09-24 07:20] laxmena commented on #1162
Issue fixed, used this artifact for Scala3
[code]

[2021-09-24 07:20] #1162 closed, assigned to nobody

[2021-09-29 11:50] dAnjou opened #1165 "Documentation does not tell me how to use loaded configuration"
Typesafe Config has this in their [README](https://github.com/lightbend/config#using-the-library):
[code]
This seems to be completely missing for PureConfig. I couldn't find any example of how to use the loaded configuration.

[2021-09-29 14:30] leifwickland commented on #1165
@dAnjou, the result of loading with PureConfig is an initialized instance of a class. As the documentation shows:

[code]

What do suggest the documentation should show being done with that instance of the `ServiceConf` class, for example?

[2021-09-29 21:56] dAnjou commented on #1165
Hey @leifwickland, yeah, I saw this code snippet and for some reason I had a hard time understanding it at first glance.

I understand it now but only after a roundtrip into the source.

I think there are too many confusing things in that code snippet. The first line's return value isn't assigned to anything. The rest is commented and it's unclear why. It's not immediately obvious that `ConfigRead

[2021-10-23 12:02] gergelyfabian commented on #481
I experienced this with Bazel/rules_scala, and tracked it in https://github.com/bazelbuild/rules_scala/issues/1306 (StackOverFlow is not visible right away in the Bazel output).

Upgrading scalac memory settings fixes the problem also for Bazel.
What I found in addition is, that upgrading pureconfig from 0.14.0 (the version I tested), to anything higher (e.g. 0.15.0, 0.16.0 or 0.17.0) seems to fix

[2021-10-25 07:53] gergelyfabian commented on #481
For the record, if I make the nested case class structure twice as deep in the example, then upgrading pureconfig does not help (in my configuration), so only setting the memory works.

[2021-10-29 20:39] leifwickland commented on #919
@ruippeixotog I happened to notice a discussion on Twitter today about OSGi modules.

https://twitter.com/mpilquist/status/1454177597668175873

Seth Tisue mentioned that they dropped OSGi from many scala modules and received no complaints, which makes me think we could probably get rid of them.

[2021-10-31 00:04] ruippeixotog commented on #919
That's a good insight @leifwickland, thanks for sharing! I guess it makes me a bit more comfortable removing OSGi support knowing that popular libraries did it too and got no complaints.

I know @jcazevedo is also on board with this, so I'll open a PR to do it.

[2021-10-31 12:33] #919 closed, assigned to nobody

[2021-11-01 09:13] susliko opened #1204 "Reasonable derivation defaults for scala 3"
Hi! It's nice to see scala 3 derivation for `pureconfig`. I understand, that `ProductHint`s are not yet taken into account, however it seems misleading to convert kebab-case config keys into camelCase case class fields:
[code]

Is it possible to change the default field renaming behaviour to `identity`?

[2021-11-01 19:29] leifwickland commented on #919
@sentenza Just to be explicit, this issue should be fixed. That said, we haven't published a release with the fix, yet.

[2021-11-04 15:00] Daniel-Khodabakhsh opened #1210 "Is there no support for scala enums?"
I can see there is support for java enums, enumeratum, and julienrf’s enum library, but what about scala enums?

The enums I'm talking about are the [2.x](https://www.scala-lang.org/api/2.13.3/scala/Enumeration.html) and [3.x](https://docs.scala-lang.org/scala3/reference/enums/enums.html) enums:

[code]

[code]

[2021-11-04 15:04] leifwickland commented on #1210
@Daniel-Khodabakhsh,

There's no automatic derivation for Scala 2 enums, but there is [automatic derivation support for Scala 3 enums](https://pureconfig.github.io/docs/scala-3-derivation.html).

[2021-11-04 16:02] Daniel-Khodabakhsh commented on #1210
Thanks @leifwickland
No automatic derivation for Scala 2 enums eh? What is the manual way of doing it? I've tried searching for resources but couldn't find any example of Scala 2 enums with Pureconfig.

[2021-11-04 16:29] leifwickland commented on #1210
@Daniel-Khodabakhsh,

I'd do something like:

[code]

That prints `Right(Conf(Red))`.

[2021-11-04 16:53] Daniel-Khodabakhsh commented on #1210
Thank you so much @leifwickland !

[2021-11-04 16:53] #1210 closed, assigned to nobody

[2021-11-23 04:43] dontgitit opened #1218 "case class default values are non-lazy"
[code]

the above produces:
[code]

I would expect it to produce `Right(SampleConf(bar))` since `foo` is defined. It seems the default values are being invoked even if they're unneeded. This example is a little egregious (using `???`) but the default value might involve a complex operation that we don't want to be computed if it's unnecessary.

[2021-11-23 04:51] dontgitit commented on #1218
P.S. It breaks even when it's nested inside a nullable field;

[code]

which again makes:
[code]

I would expect this to never even try instantiating a `Foo` since `Blah` defines `world: Option[Foo]` and there's no `world` in the provided `config`, right?

[2021-11-23 09:39] ruippeixotog commented on #1218
Hi @dontgitit, thanks for filing this issue. Indeed, it looks like we are instantiating defaults earlier than we need to and that might be a problem (though I wouldn't recommend setting any kind of heavy logic, particularly stateful logic, in the defaults of config classes).

I'm not sure we can avoid computing all defaults in all cases, but I'll look into it.

[2021-11-23 19:26] dontgitit commented on #1218
Absolutely!
For context, I was considering having some default values loaded from EC2 instance tags or metadata API [in production, if config value missing] and was surprised when the code ran in dev [when the config was provided].

[2022-01-18 03:33] carueda commented on #970
Status?

[2022-01-20 03:56] mdedetrich opened #1258 "ConfigSource.loadOrThrow triggers cat=lint-byname-implicit"
When calling `ConfigSource.loadOrThrow` method in Scala 2.13.3 is triggering  the following error

[code]

This is currently due to an issue in Scala 2.13 (see https://github.com/scala/bug/issues/12072) however according to https://github.com/scala/bug/issues/12072#issuecomment-738812622 this error can resolved on the library side by adding `nowarn("cat=lint-byname-implicit")` to the places in the

[2022-01-26 18:50] ruippeixotog commented on #1258
Hi @mdedetrich, can you provide some example code where the error occurs? I'm having trouble reproducing this issue.

[2022-01-26 18:51] ruippeixotog commented on #970
Sorry, nothing so far :/

[2022-01-26 19:01] jcazevedo commented on #1258
I believe it's the same thing that prompted the inclusion of [this](https://github.com/pureconfig/pureconfig/blob/d83a55a182bdd6945be536f8a526a8ab457f58de/example/build.sbt#L22) in the example build (during #783).

@mdedetrich: I didn't try that yet, but I thought that `nowarn` annotation would have to be placed in shapeless (since it's the encoding of `Lazy` that's issuing the warning).

[2022-01-26 23:02] mdedetrich commented on #1258
@jcazevedo Regarding the `@nowarn` annotation it may be the case that it has to actually be placed in shapeless (I am not too familiar with internals of Pureconf)

@ruippeixotog Here is an example https://github.com/aiven/guardian-for-apache-kafka/blob/main/core/src/main/scala/io/aiven/guardian/kafka/Config.scala#L11-L14

[2022-02-08 07:41] Philippus commented on #1258
Following https://www.scala-lang.org/2021/01/12/configuring-and-suppressing-warnings.html, I've added the following in my project to suppress these warnings only for the location where I use pureconfig.

```Compile / scalacOptions += "-Wconf:site=my-package.Settings.*&cat=lint-byname-implicit:s",```

[2022-02-13 20:29] TimoMeijer commented on #1082
@ruippeixotog I would like to help out and contribute, is there anything I could do that would be helpful to work towards further Scala 3 compatibility?

[2022-02-17 11:49] queimadus commented on #342
Support for the typesafe memory size format has been added in https://github.com/pureconfig/pureconfig/pull/775.

[code]

[code]

The numeric value in bytes can then be obtained via `foo.size.toBytes`.

[2022-02-23 10:17] fmeeuw opened #1286 "Fails to parse uppercase booleans"
Since the upgrade to `0.17.1` it seems pureconfig fails to parse uppercase strings such as "FALSE" and "TRUE" as booleans.
In our setup we have a Config case class with a boolean value `enabled` and use this import `import pureconfig.generic.auto._`.
I got an runtime error when trying to parse the value "FALSE" as a boolean, the error was:

[code]

[2022-02-24 23:15] ruippeixotog commented on #1286
Hi @fmeeuw! I have just tried reading an uppercase FALSE/TRUE string using v0.17.0 and it didn't work either:

[code]

Can you point me out to an old PureConfig version that does this?

[2022-02-25 00:16] ruippeixotog commented on #1218
Hi @dontgitit, a very late update on this: at the time I investigated the possibility of making default values lazy, but unfortunately it seems to be out of our control. We rely on shapeless's `Default` case class for this, which does not provide us enough control to compute defaults only on demand. Getting default implementations seem to be possible only using [macros](https://github.com/milessab

[2022-02-25 02:25] dontgitit commented on #1218
That makes sense. Thanks for taking a look!

[2022-02-25 15:37] fmeeuw commented on #1286
Hi @ruippeixotog,

I am sorry, a miscalculation on my part, I was assuming wrongly it was working before with 0.17.0 , but I checked all versions of pureconfig and uppercase never worked. So I guess this is not really an issue, more a design choice.
I guess we can close this.

[2022-02-25 23:55] ruippeixotog commented on #1286
In this case it's not even PureConfig's design choice, we're following [Typesafe Config's rules](https://github.com/lightbend/config/blob/main/config/src/main/java/com/typesafe/config/impl/DefaultTransformer.java#L42-L48) when it comes to converting config values to booleans, which itself follows the list of supported strings in the [HOCON spec](https://github.com/lightbend/config/blob/main/HOCON.

[2022-02-25 23:55] #1286 closed, assigned to nobody

[2022-03-09 10:40] mberndt123 commented on #1118
Nobody cares, so I'll close this.

[2022-03-09 10:40] #1118 closed, assigned to nobody

[2022-04-03 04:20] adampauls opened #1307 "Support Scala Native and Scala JS"
If I understand correctly, this wouldn't be too difficult if the typesafe backend were swapped out for sconfig (https://github.com/pureconfig/pureconfig/issues/87#issuecomment-687504729). Perhaps there has been discussion about why that won't work somewhere else.

[2022-04-12 18:50] tomasherman opened #1313 "Derivation reports unreachable code warning for scala 3.0.2"
Hello, after update to scala 3.0.2 (https://github.com/avast/scala-server-toolkit/pull/879) we're seeing warning:

https://github.com/avast/scala-server-toolkit/runs/5993674443?check_suite_focus=true#step:5:225

[code]

This is the case class for which we try to derive the codec:
https://github.com/avast/scala-server-toolkit/blob/master/micrometer-statsd/src/main/scala/com/avast/sst/micrometer/sta

[2022-05-11 17:04] WojciechMazur commented on #1313
I've come up with that issue when checking Scala 3 community build for Scala 3.2.x nightly builds. The main issue seems to be coming from java enums existing in the mentioned case class that is being derived. Does pure config support Java enums or only Scala enums?

The CofnigReader is being derived in a separate module. I've seen that after referencing all of the used Java enums (eg. by explicitl

[2022-05-14 22:15] ruippeixotog commented on #1313
Thanks for reporting the bug, @tomasherman. @WojciechMazur, PureConfig [supports Java enums](https://github.com/pureconfig/pureconfig/blob/master/core/src/main/scala/pureconfig/BasicReaders.scala#L70-L71).

From your description and the error message, it looks like a Scala bug indeed. Unfortunately, I'm not overly familiar with the inner workings of Scala 3 derivation; at this point PureConfig sup

[2022-05-16 13:16] WojciechMazur commented on #1313
The possible issue in Dotty to follow: https://github.com/lampepfl/dotty/issues/15179
Reproducer used there comes from another library, but it seems to match also reported case, `StatsdFlavor` is a Java enum

[2022-06-13 19:47] arnegebert opened #1329 "Case class instance unexpectedly shared across map entries"
[code]

Expectation: two separate instances of case class `InnerConf` are generated
Reality: the same instance of `InnerConf` is reused across the map entries "1" and "2" of `middle`

Example output:
[code]

Is this intended behaviour? In my use case, I have a case class representing a random key-pair instead of `InnerConf`, and I would like to generate a random value when `inner` is not specified

[2022-06-13 22:16] leifwickland commented on #1329
I'd go so far as to say that we hadn't considered what the expected
behavior of that impure operation would be in pureconfig.

Do you get different behavior if you define your configuration like:
[code]
And your config string like:
[code]
?

On Mon, Jun 13, 2022 at 1:47 PM Arne Gebert ***@***.***>
wrote:

[2022-06-14 00:02] jcazevedo commented on #1329
This is related to #1218. For default values, generic derivation using shapeless relies on a `Default` type class that exposes an `HList` of the default parameter values on the type constructor. This means that default values will be computed once we derive a `Default` instance. In your example, in order to derive a `ConfigReader` for `MiddleConf` we need a `Default` instance for `MiddleConf`. Onc

[2022-06-19 11:40] beneyal opened #1330 "How to use PureConfig in Scala 3?"
Hi 🙂

I couldn't find an answer, so I hope it's okay I'm asking here.

I'm migrating a project to Scala 3.1.2, and have this line in my `Dependencies.scala`:

[code]

When I try to compile using SBT, I get an error `Error downloading com.github.pureconfig:pureconfig_3:0.17.1` because it's not found.

My `resolvers` look like this:
[code]

What am I missing?

Thank you very much!

[2022-06-27 14:33] bwbecker commented on #1330
I'm attempting the same thing.  I note that on Maven, `pureconfig-core` has an artifact for Scala3 (https://mvnrepository.com/artifact/com.github.pureconfig/pureconfig-core) but that just `pureconfig` does not (https://mvnrepository.com/artifact/com.github.pureconfig/pureconfig).  `pureconfig-generic` also does not have a Scala3 artifact.

So my conclusion is that maintainers are in the process of

[2022-06-27 17:26] leifwickland commented on #1330
@ruippeixotog Does https://github.com/pureconfig/pureconfig/issues/1082 accurately describe what's holding up a Scala 3 version of `pureconfig-generic`?

[2022-06-28 19:18] arnegebert commented on #1329
Thanks a lot for the clarifications! In my case, the easiest (backwards-compatible) solution I found is declaring `inner` as optional.
So something like the following:
[code]
Example output:
[code]

Apologies for the delayed response. From my side, this issue is resolved and it could be closed.

[2022-06-28 20:34] ruippeixotog commented on #1330
Hey everyone! #1082 describes the shortcomings of our project structure, which isn't very user-friendly when it comes to Scala 3.

However, while #1082 makes things somewhat harder, I don't think it's the main reason why we don't have `pureconfig-generic` for Scala 3. Shapeless itself isn't published for Scala 3 and Scala 3's philosophy is a bit different when it comes to derived instances. There'

[2022-07-24 14:51] mernst-github opened #1353 "Ignore NULL values when reading maps"
When using layered configs it is useful to "null out" settings provided by the parent, e.g. with `reference.conf`:   `{a = a, b = b}` and `application.conf`:  `{b = null}`
with the intention of "making b go away" as if that mapping didn't exist at all.

It would be natural if pureconfig would ignore such entries instead of trying to make sense of them, that's the very intention of the null value i

[2022-07-24 17:10] ruippeixotog commented on #1353
Hi @mernst-github! What you described is intended behavior on PureConfig.

While treating nulls as a way to "erase" existing values might be natural for you, many others might decide to treat a field explicitly defined as null differently from a missing one. PureConfig is generally more strict with types than Lightbend Config and much more aligned with Scala (where nulls are usually avoided).

You

[2022-07-24 19:28] mernst-github commented on #1353
Thanks for the response! I like that the custom reader you propose propagates also deep into subconfigs (wasn't sure whether that would work), so that is a feasible workaround also for nested config hierarchies. But I think it falls short for other cases where I'd find null = absence preferable, for example default values: `case class Config(a: String, b: String = "default")` cannot parse the abov

[2022-07-26 21:46] ruippeixotog commented on #1353
Yeah, if you want null-as-undefined behavior on every config object regardless of the Scala type it reads into, I agree preprocessing the config is your best option. I think we could find ways to do it within PureConfig, involving pretty generic `ConfigReader`s and `.contramap` methods, but they'd be significantly more complex and wouldn't bring much value.

For context: PureConfig doesn't "choose

[2022-08-13 12:47] floating-cat commented on #836
I want to validate a field based on another field in the same case class.
In the previous, I first read the field from the Hocon file then read this file again to validate the other field.
Luckily, I found this issue and now I use the below code based on the TonioGela's suggestion and I could get the detailed error message too and it works really well:

[code]

[2022-09-28 03:09] gabrieljones commented on #954
I always wondered about this. PureConfig's tendency to prefer `scala.concurrent.duration.Duration` over `jDuration` kind of steers people towards using `scala.concurrent.duration.Duration` for "things that aren't concurrency-related".

[2022-09-28 03:36] gabrieljones commented on #954
"quick" and dirty workaround
[code]

[2022-10-06 16:37] eadgbear opened #1388 "How to use Either as a config type"
I'm trying to create a generic reader for Either and I can't quite figure out the right approach. For `Either[A,B]`, both `A` and `B` have their own pre-existing `ConfigReader`s, but I can't quite nail down the syntax to declare a generic version that works for `Either[A,B]`.

What's the right way to approach this?

[2022-10-06 19:32] eadgbear commented on #1388
Figured it out, PR incoming!

[2022-10-06 19:32] #1388 closed, assigned to nobody

[2022-10-10 20:21] satorg commented on #1086
@ruippeixotog just fyi: looks like this issue can be closed since the v0.23 is supported since pureconfig v0.17.0, isn't it?

[2022-10-10 20:25] satorg commented on #1086
Totally agree :) Would a PR with a new pureconfig-http4s-022 module be accepted if I go ahead and create it? Does not seem to be something tremendously difficult, but will make lives of some folks easier.

[2022-10-13 22:47] ruippeixotog commented on #1086
Hey @satorg, you're right, `pureconfig-http4s` is currently using v0.23, we can close this 👍

The goal of releasing PureConfig depending on 0.22 was just a temporary workaround while we didn't have 0.21 IIUC, so there shouldn't be any need to create additional forks, right?

[2022-10-13 22:47] #1086 closed, assigned to nobody

[2022-10-14 04:14] satorg commented on #1086
@ruippeixotog thank you for looking into it.

The thing is that there's quite a bit of projects around that still cannot that easy switch to Cats Effect 3 and hence get http4s v0.23. The only feasible option on such projects is Http4s v0.22.

On the other hand, there's a fork for Cats Effect 2 in the Pureconfig repository already – [cats-effect2](https://github.com/pureconfig/pureconfig/tree/maste

[2022-11-03 13:49] magicaljellybeans opened #1405 "Key not found with digits in fieldname"
I get this error when running the following code.

[code]
[code]
With the desired line in my config:
`play.i18n.langs = ["en"]`

Is this a bug where digits always force kebabing? It seems like my implicit is not having any effect.

[2022-11-03 13:53] magicaljellybeans commented on #1405
Implicit in wrong object, my error.

[2022-11-03 13:53] #1405 closed, assigned to nobody

[2022-11-08 21:36] eadgbear opened #1412 "Review request"
What's the best way to request a review for an open PR? I can't seem to tag anyone

https://github.com/pureconfig/pureconfig/pull/1389

[2022-11-19 03:29] satorg commented on #1086
Added a PR #1421 with a support for **http4s v0.22**, humbly hoping it makes some sense.

cc @ruippeixotog @augi